Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

stylelint:
  name: stylelint
  entry: npm run stylelint:files
  language: node

Removes info about meeting notes on Binder (#12847)
  README.md
Due: prettier

Increase example timeout
  examples/example.spec.ts
Due: prettier, eslint

Backport PR #12839: feat: Add .webp filetype in docRegistry. (#12841)
  packages/docregistry/src/registry.ts
Due: prettier, eslint

Backport PR #12838: Adjust css to not leave trace of deleted widgets (#12842)
  packages/outputarea/style/base.css
Due: prettier, stylelint

Tag new APIs as `alpha`
  packages/lsp/src/extractors/index.ts
  packages/lsp/src/index.ts
  packages/lsp/src/tokens.ts
  packages/lsp/src/virtual/document.ts
Due: prettier, eslint

Move YDocWebSocketHandler to jupyter_server_ydoc (#12772)
  jupyterlab/handlers/ydoc_handler.py
  jupyterlab/labapp.py
  setup.cfg
Due: none

Anonymous dump
  galata/test/documentation/data/extensions-search-all.json
  galata/test/documentation/data/extensions-search-drawio.json
Due: prettier

Fix CI failures (#12843)
  examples/example.spec.ts
  galata/test/documentation/data/extensions-search-all.json
  galata/test/documentation/data/extensions-search-drawio.json
  galata/test/documentation/extension_manager.test.ts
  galata/test/documentation/utils.ts
  packages/services/examples/browser-require/index.html
  packages/services/examples/browser-require/static/index.js
Due: prettier, eslint

Add an option to enable "fast checks" of the jupyter lab build.
  jupyterlab/commands.py
Due: none

Don't suggest deprecated command
  docs/source/user/jupyterhub.rst
Due: none

Don't suggest deprecated command (#12855)
  docs/source/user/jupyterhub.rst
Due: none

Backport PR #12855: Don't suggest deprecated command
  docs/source/user/jupyterhub.rst
Due: none

Store Y updates
  docs/source/user/images/rtc_sync_editors.png
  docs/source/user/rtc.rst
  jupyterlab/labapp.py
  setup.cfg
Due: none

Backport PR #12855: Don't suggest deprecated command (#12857)
  docs/source/user/jupyterhub.rst
Due: none

Rename `initialized` to `ready`
  packages/fileeditor/src/fileeditorlspadapter.ts
  packages/lsp/src/adapters/adapter.ts
  packages/notebook/src/notebooklspadapter.ts
Due: prettier, eslint

Require jupyter_server_ydoc>=0.1.8,<0.2.0
  setup.cfg
Due: none

Store Y updates (#12852)
  docs/source/user/images/rtc_sync_editors.png
  docs/source/user/rtc.rst
  jupyterlab/labapp.py
  setup.cfg
Due: none

Update package.json
  package.json
Due: prettier

Run `yarn-deduplicate` on `build:core`
  package.json
Due: prettier

Add missing header and update setting schema
  packages/fileeditor/src/fileeditorlspadapter.ts
  packages/lsp-extension/schema/plugin.json
  packages/lsp-extension/src/index.ts
  packages/lsp-extension/src/renderer.tsx
  packages/lsp/schema.js
  packages/lsp/src/adapters/adapter.ts
  packages/lsp/src/adapters/statusmessage.ts
  packages/lsp/src/connection.ts
  packages/lsp/src/connection_manager.ts
  packages/lsp/src/extractors/index.ts
  packages/lsp/src/extractors/manager.ts
  packages/lsp/src/extractors/text_extractor.ts
  packages/lsp/src/extractors/types.ts
  packages/lsp/src/feature.ts
  packages/lsp/src/index.ts
  packages/lsp/src/lsp.ts
  packages/lsp/src/manager.ts
  packages/lsp/src/plugin.ts
  packages/lsp/src/positioning.ts
  packages/lsp/src/schema.ts
  packages/lsp/src/tokens.ts
  packages/lsp/src/utils.ts
  packages/lsp/src/virtual/document.ts
  packages/notebook/src/notebooklspadapter.ts
Due: prettier, eslint

Run `yarn-deduplicate` on `build:core` (#12850)
  package.json
Due: prettier

Add trustbydefault param to htmlviewer-extension
  packages/htmlviewer-extension/schema/plugin.json
  packages/htmlviewer-extension/src/index.tsx
Due: prettier, eslint

Run prettier
  packages/htmlviewer-extension/schema/plugin.json
Due: prettier

Remove `lsp-ws-connection` dependency
  packages/fileeditor/src/fileeditorlspadapter.ts
  packages/lsp-extension/src/index.ts
  packages/lsp/package.json
  packages/lsp/src/connection.ts
  packages/lsp/src/connection_manager.ts
  packages/lsp/src/index.ts
  packages/lsp/src/tokens.ts
  packages/lsp/src/virtual/document.ts
  packages/lsp/src/ws-connection/server-capability-registration.ts
  packages/lsp/src/ws-connection/types.ts
  packages/lsp/src/ws-connection/ws-connection.ts
  testutils/src/jest-config.ts
  yarn.lock
Due: prettier, eslint

Make more ways to copy the currently opened file
  packages/docmanager-extension/schema/plugin.json
  packages/docmanager-extension/src/index.tsx
  packages/docmanager/src/manager.ts
  packages/docmanager/src/tokens.ts
Due: prettier, eslint

Fix header
  packages/lsp/src/connection_manager.ts
  packages/lsp/src/ws-connection/types.ts
  packages/lsp/src/ws-connection/ws-connection.ts
  testutils/src/jest-config.ts
Due: prettier, eslint

Fix lint
  packages/lsp/src/connection.ts
  packages/lsp/src/ws-connection/ws-connection.ts
Due: prettier, eslint

Remove `codemirror` dependency
  packages/lsp/package.json
  packages/lsp/src/positioning.ts
  packages/lsp/src/virtual/document.ts
  yarn.lock
Due: prettier, eslint

Remove trailing whitespace
  .github/workflows/benchmark.yml
Due: none

Use action output to save memory leak report
  .github/workflows/benchmark.yml
Due: none

Run memory-leak tests on PR
  .github/workflows/benchmark.yml
Due: none

Fix saving memory leak report
  .github/workflows/benchmark.yml
Due: none

Fix server url
  .github/workflows/benchmark.yml
Due: none

Upload and publish memory leak report
  .github/workflows/benchmark-report.yml
  .github/workflows/benchmark.yml
Due: none

Clean the changes following output directly as artifact
  .github/workflows/benchmark-report.yml
  .github/workflows/benchmark.yml
Due: none

Merge memory leak artifact with benchmark ones
  .github/workflows/benchmark.yml
Due: none

Fix kernel in the statusbar does not match the actual
  packages/apputils/src/kernelstatuses.tsx
Due: prettier, eslint

Fix progress bar not working after uploading multiple files finished
  packages/filebrowser/src/uploadstatus.tsx
Due: prettier, eslint

Use common pattern to check for settingRegistry before using it
  packages/htmlviewer-extension/src/index.tsx
Due: prettier, eslint

Add license header fix job
  .github/workflows/license-header.yml
  .licenserc.yaml
  LICENSE
Due: none

Path conditions:
  prettier: any of: \.json$, \.(md|markdown|mdown)$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
