Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # skip any check that needs internet access
  skip: [check-jsonschema, prettier, eslint, stylelint, integrity]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: .bumpversion.cfg

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: ["--line-length", "100"]

  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
        files: \.py$
        args: [--profile=black]

  # - repo: https://github.com/pycqa/flake8
  #   rev: 4.0.1
  #   hooks:
  #     - id: flake8
  #       additional_dependencies:
  #         [
  #           "flake8-bugbear==20.1.4",
  #           "flake8-logging-format==0.6.0",
  #           "flake8-implicit-str-concat==0.2.0",
  #         ]

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.10.2
    hooks:
      - id: check-jsonschema
        name: 'Check GitHub Workflows'
        files: ^\.github/workflows/
        types: [yaml]
        args: ['--schemafile', 'https://json.schemastore.org/github-workflow']

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, markdown, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'npm run stylelint:files'
        language: node
        types: [css]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [push]

Move "duplicate" context menu item to match file menu
  packages/docmanager-extension/schema/plugin.json
Due: prettier

Backport PR #12919: Only show "Shut Down Kernel" if kernel is running
  galata/test/jupyterlab/contextmenu.test.ts
  galata/test/jupyterlab/contextmenu.test.ts-snapshots/file-jupyterlab-linux.png
  galata/test/jupyterlab/contextmenu.test.ts-snapshots/running-notebook-jupyterlab-linux.png
  packages/filebrowser-extension/schema/browser.json
Due: prettier, eslint

Backport PR #12919: Only show "Shut Down Kernel" if kernel is running (#12927)
  galata/test/jupyterlab/contextmenu.test.ts
  galata/test/jupyterlab/contextmenu.test.ts-snapshots/file-jupyterlab-linux.png
  galata/test/jupyterlab/contextmenu.test.ts-snapshots/running-notebook-jupyterlab-linux.png
  packages/filebrowser-extension/schema/browser.json
Due: prettier, eslint

Automated Changelog Entry for 3.4.5 on 3.4.x
  CHANGELOG.md
Due: prettier

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier

Automated Changelog Entry for 3.4.5 on 3.4.x (#12933)
  CHANGELOG.md
Due: prettier

[ci skip] Publish 3.4.5
  .bumpversion.cfg
  dev_mode/package.json
  jupyterlab/_version.py
  jupyterlab/staging/package.json
  jupyterlab/staging/yarn.lock
Due: prettier

Automated Changelog Entry Forward Ported from v3.4.5
  CHANGELOG.md
Due: prettier

Automated Changelog Entry Forward Ported from v3.4.5 (#12934)
  CHANGELOG.md
Due: prettier

Remove custom onMouseDown handler from debugger variable explorer grid mouse handler
  packages/debugger/src/panels/variables/grid.ts
Due: prettier, eslint

#12717 Add subsection Automation of local dev environments
  docs/source/developer/contributing.rst
Due: none

Revert removal of debugger variable explorer grid custom onMouseDown. Propagate event from custom onMouseDown to Lumino DataGrid onMouseDown.
  packages/debugger/src/panels/variables/grid.ts
Due: prettier, eslint

Refresh mathjax and add require package
  package.json
  src/index.ts
Due: prettier, eslint

Fix typo missing semicolon
  src/index.ts
Due: prettier, eslint

Fix resizing and selection of debugger variable explorer grid (#12943)
  packages/debugger/src/panels/variables/grid.ts
Due: prettier, eslint

Backport PR #12943: Fix resizing and selection of debugger variable explorer grid
  packages/debugger/src/panels/variables/grid.ts
Due: prettier, eslint

Backport PR #12943: Fix resizing and selection of debugger variable explorer grid (#12948)
  packages/debugger/src/panels/variables/grid.ts
Due: prettier, eslint

Bump yarn-deduplicate
  dev_mode/package.json
  yarn.lock
Due: prettier

Bump lerna to 5.x
  package.json
  yarn.lock
Due: prettier

Update docs/source/developer/contributing.rst
  docs/source/developer/contributing.rst
Due: none

Prompt for renaming at first manual save Fix #5207
  packages/apputils/src/dialog.tsx
  packages/docmanager-extension/src/index.tsx
  packages/docregistry/src/registry.ts
  packages/fileeditor-extension/src/commands.ts
  packages/notebook-extension/src/index.ts
Due: prettier, eslint

#12717 Add a new section: automation of local dev environments (#12806)
  docs/source/developer/contributing.rst
Due: none

Add more ways to copy the currently opened file (#12870)
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/documentation/export_notebook.test.ts-snapshots/exporting-menu-documentation-linux.png
  galata/test/jupyterlab/contextmenu.test.ts-snapshots/tab-notebook-jupyterlab-linux.png
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-file-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-create.test.ts-snapshots/opened-menu-file-jupyterlab-linux.png
  packages/docmanager-extension/schema/plugin.json
  packages/docmanager-extension/src/index.tsx
  packages/docmanager/src/manager.ts
  packages/docmanager/src/tokens.ts
Due: prettier, eslint

Update minimum version to 5.4.3
  package.json
  yarn.lock
Due: prettier

Update documentation welcome image
  galata/test/documentation/general.test.ts-snapshots/jupyterlab-documentation-linux.png
Due: none

Bump lerna to 5.x (#12950)
  package.json
  yarn.lock
Due: prettier

Undo unnecessary changes
  packages/apputils/src/dialog.tsx
Due: prettier, eslint

Update documentation welcome image (#12957)
  galata/test/documentation/general.test.ts-snapshots/jupyterlab-documentation-linux.png
Due: none

Add optional checkbox in Dialog footer
  packages/apputils/src/dialog.tsx
  packages/apputils/src/inputdialog.ts
  packages/apputils/test/dialog.spec.tsx
Due: prettier, eslint

Add setting for rename untitled file on save
  packages/docmanager-extension/schema/plugin.json
  packages/docmanager-extension/src/index.tsx
  packages/docmanager/src/manager.ts
  packages/docmanager/src/tokens.ts
Due: prettier, eslint

Finalize feature Add name selection Sync setting with dialog outcome Tune styles
  packages/apputils/src/dialog.tsx
  packages/apputils/src/inputdialog.ts
  packages/apputils/style/dialog.css
  packages/docmanager-extension/src/index.tsx
Due: prettier, eslint, stylelint

Add documentation
  docs/source/extension/ui_helpers.rst
  packages/apputils/src/inputdialog.ts
Due: prettier, eslint

Fix dependabot alerts for ejs and got
  buildutils/package.json
  dev_mode/package.json
  yarn.lock
Due: prettier
