Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # skip any check that needs internet access
  skip: [check-jsonschema, prettier, eslint, stylelint, integrity]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: .bumpversion.cfg

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: ["--line-length", "100"]

  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
        files: \.py$
        args: [--profile=black]

  # - repo: https://github.com/pycqa/flake8
  #   rev: 4.0.1
  #   hooks:
  #     - id: flake8
  #       additional_dependencies:
  #         [
  #           "flake8-bugbear==20.1.4",
  #           "flake8-logging-format==0.6.0",
  #           "flake8-implicit-str-concat==0.2.0",
  #         ]

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.10.2
    hooks:
      - id: check-jsonschema
        name: 'Check GitHub Workflows'
        files: ^\.github/workflows/
        types: [yaml]
        args: ['--schemafile', 'https://json.schemastore.org/github-workflow']

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, markdown, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'npm run stylelint:files'
        language: node
        types: [css]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [push]

Add plugin rename to the migration docs
  docs/source/extension/extension_migration.rst
Due: none

skip template package for build:all check
  buildutils/src/ensure-package.ts
Due: prettier, eslint

Fix documentation
  docs/source/extension/extension_migration.rst
Due: none

remove exclusiveMinimum
  packages/notebook-extension/schema/tracker.json
Due: prettier

Install either jupyter-server or jupyverse
  .github/workflows/galata-update.yml
  .github/workflows/galata.yml
  .github/workflows/linuxtests.yml
  jupyterlab/__init__.py
  jupyterlab/labapp.py
  scripts/ci_install.ps1
  scripts/ci_install.sh
  scripts/ci_script.sh
  setup.cfg
Due: none

Fix `documentsearch-extension` plugin id (#12604)
  docs/source/extension/extension_migration.rst
  packages/documentsearch-extension/src/index.ts
Due: prettier, eslint

Update link to requests docs
  docs/source/user/extensions.rst
Due: none

Update link to requests docs (#12627)
  docs/source/user/extensions.rst
Due: none

Backport PR #12627: Fix failing check links
  docs/source/user/extensions.rst
Due: none

Break loop activeCell -> activeHeading (#12612)
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/highlight-previous-element-jupyterlab-linux.png
  packages/notebook/src/toc.ts
  packages/toc/src/model.ts
  packages/toc/src/tokens.ts
  packages/toc/src/treeview.tsx
Due: prettier, eslint

add "close all tabs" context action (#12620)
  galata/test/jupyterlab/contextmenu.test.ts-snapshots/tab-launcher-jupyterlab-linux.png
  galata/test/jupyterlab/contextmenu.test.ts-snapshots/tab-notebook-jupyterlab-linux.png
  packages/application-extension/schema/commands.json
Due: prettier

Build template as part of buildutils
  buildutils/package.json
Due: prettier

Remove unneeded build:all and test config (#12618)
  buildutils/package.json
  buildutils/src/ensure-package.ts
  buildutils/template/package.json
  packages/cell-toolbar-extension/.vscode/launch.json
  packages/cell-toolbar-extension/babel.config.js
  packages/cell-toolbar-extension/jest.config.js
  packages/cell-toolbar-extension/package.json
  packages/cell-toolbar-extension/tsconfig.test.json
  packages/cell-toolbar/package.json
Due: prettier, eslint

Backport PR #12627: Fix failing check links (#12629)
  docs/source/user/extensions.rst
Due: none

align to master
  docs/source/extension/extension_migration.rst
  docs/source/user/extensions.rst
  galata/test/jupyterlab/contextmenu.test.ts-snapshots/tab-launcher-jupyterlab-linux.png
  galata/test/jupyterlab/contextmenu.test.ts-snapshots/tab-notebook-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/highlight-previous-element-jupyterlab-linux.png
Due: none

persistent side-by-side ratio setting
  packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/src/index.ts
  packages/notebook/src/widget.ts
  packages/notebook/test/widget.spec.ts
Due: prettier, eslint

Add bot to update github actions and remove codeql temporary fix
  .github/codeql/codeql-config.yml
  .github/dependabot.yml
Due: none

Improve i18n documentation Adding python package example
  docs/source/extension/internationalization.rst
Due: none

Fix word documentation to article
  docs/source/extension/internationalization.rst
Due: none

Add bot to update github actions and remove codeql temporary fix (#12634)
  .github/codeql/codeql-config.yml
  .github/dependabot.yml
Due: none

Update snapshot for the extension manager
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-search-documentation-linux.png
Due: none

Update snapshot for the extension manager (#12643)
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-search-documentation-linux.png
Due: none

add a persistent setting for the cell ratio in side by side rendering
  packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/src/index.ts
  packages/notebook/src/widget.ts
  packages/notebook/test/widget.spec.ts
Due: prettier, eslint

Update codeql action from v1 to v2
  .github/workflows/codeql-analysis.yml
Due: none

Accept PR comment
  docs/source/extension/internationalization.rst
Due: none

Update docs/source/extension/internationalization.rst
  docs/source/extension/internationalization.rst
Due: none

add a persistent setting for the cell ratio in side by side rendering (#12646)
  packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/src/index.ts
  packages/notebook/src/widget.ts
  packages/notebook/test/widget.spec.ts
Due: prettier, eslint

Add a new line
  docs/source/extension/internationalization.rst
Due: none

Update codeql action from v1 to v2 (#12645)
  .github/workflows/codeql-analysis.yml
Due: none

Add more explanation for internationalization (translation python package) (#12635)
  docs/source/extension/internationalization.rst
Due: none

Backport PR #12635: Add more explanation for internationalization (translation python package)
  docs/source/extension/internationalization.rst
Due: none

Arrow at markdown cell has bad position, if cell is not rendered Fixes #12628
  packages/cells/style/widget.css
Due: prettier, stylelint

Backport PR #12635: Add more explanation for internationalization (translation python package) (#12648)
  docs/source/extension/internationalization.rst
Due: none

Update snapshots
  galata/test/documentation/export_notebook.test.ts-snapshots/exporting-slide-type-documentation-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/highlight-next-cell-jupyterlab-linux.png
Due: none

Remove scripts linked to test
  packages/user-extension/package.json
Due: prettier

Clean cell-toolbar-extension scripts
  packages/cell-toolbar-extension/package.json
Due: prettier

Make password inputs not give away how many characters were typed
  packages/outputarea/src/widget.ts
Due: prettier, eslint

Resolve the staging folder
  jupyterlab/commands.py
Due: none

Remove scripts linked to test (#12654)
  packages/cell-toolbar-extension/package.json
  packages/user-extension/package.json
Due: prettier

Fix arrow position on unrendered markdown cell (#12650)
  galata/test/documentation/export_notebook.test.ts-snapshots/exporting-slide-type-documentation-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/highlight-next-cell-jupyterlab-linux.png
  packages/cells/style/widget.css
Due: prettier, stylelint
