Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

stylelint:
  name: stylelint
  entry: npm run stylelint:files
  language: node

Backport PR #13308: Updates JSONEditor's source only when there is an active cell or an active notebook panel
  packages/notebook/src/notebooktools.ts
Due: prettier, eslint

Backport PR #13249: Fix illegible white on yellow text of stacktrace in dark theme (#13313)
  packages/theme-dark-extension/style/theme.css
Due: prettier, stylelint

Backport 3.5.0 changelog on master
  CHANGELOG.md
Due: prettier

Backport PR #13308: Updates JSONEditor's source only when there is an active cell or an active notebook panel (#13315)
  packages/notebook/src/notebooktools.ts
Due: prettier, eslint

Creates a new service to fetch the identity of the user
  packages/services/src/index.ts
  packages/services/src/manager.ts
  packages/services/src/user/index.ts
Due: prettier, eslint

Change ICurrentUser to a service
  packages/collaboration-extension/src/index.ts
  packages/collaboration-extension/style/index.css
  packages/collaboration-extension/style/index.js
  packages/collaboration/package.json
  packages/collaboration/src/collaboratorspanel.tsx
  packages/collaboration/src/components.tsx
  packages/collaboration/src/index.ts
  packages/collaboration/src/menu.ts
  packages/collaboration/src/model.ts
  packages/collaboration/src/tokens.ts
  packages/collaboration/src/userinfopanel.tsx
  packages/collaboration/src/utils.ts
  packages/docprovider-extension/package.json
  packages/docprovider-extension/src/index.ts
  packages/docprovider-extension/style/index.css
  packages/docprovider-extension/style/index.js
  packages/docprovider-extension/tsconfig.json
  packages/docprovider/package.json
  packages/docprovider/src/yprovider.ts
  packages/docprovider/tsconfig.json
  packages/docprovider/tsconfig.test.json
  packages/services/src/manager.ts
  packages/services/src/user/index.ts
Due: prettier, eslint, stylelint

Backport 3.5.0 changelog on master (#13318)
  CHANGELOG.md
Due: prettier

Wait for URL tree path resolved before creating a launcher
  galata/test/jupyterlab/workspace.test.ts
  packages/filebrowser-extension/src/index.ts
Due: prettier, eslint

Add the browser path when creating the default launcher
  packages/filebrowser-extension/src/index.ts
Due: prettier, eslint

switch to releaser v2
  .github/workflows/check-release.yml
  .github/workflows/linuxtests.yml
  pyproject.toml
Due: none

fix workflow
  .github/workflows/check-release.yml
Due: none

more cleanup
  .github/workflows/linuxtests.yml
  pyproject.toml
Due: none

use hatch for cli
  buildapi.py
  buildutils/src/utils.ts
  pyproject.toml
  scripts/ci_script.sh
Due: prettier, eslint

install dev deps
  pyproject.toml
Due: none

fix changelog and move bump2version to dev deps
  CHANGELOG.md
  pyproject.toml
Due: prettier

use hatchling version in buildapi
  buildapi.py
Due: none

another hatchling version
  buildutils/src/utils.ts
Due: prettier, eslint

use mdformat
  .pre-commit-config.yaml
  .prettierignore
  CHANGELOG.md
  README.md
  RELEASE.md
  design/about.md
  examples/filebrowser/sample.md
  galata/README.md
  packages/services/examples/typescript-browser-with-output/README.md
  packages/ui-components/CONTRIBUTING.md
Due: prettier

Remove duplicate changelog marker
  CHANGELOG.md
Due: prettier

Remove duplicate changelog marker (#13325)
  CHANGELOG.md
Due: prettier

Backport PRs #13037 and #13300 (#13314)
  galata/test/jupyterlab/workspace.test.ts
  packages/application-extension/src/index.tsx
  packages/application/src/layoutrestorer.ts
  packages/application/src/shell.ts
  packages/application/test/shell.spec.ts
  packages/apputils/src/widgettracker.ts
  packages/filebrowser-extension/src/index.ts
Due: prettier, eslint

Pin jp-server v2
  packages/docprovider/package.json
  pyproject.toml
Due: prettier

Explicit test dependencies
  pyproject.toml
Due: none

fix linter
  package.json
Due: prettier

Switch to releaser v2 (#13322)
  .github/workflows/check-release.yml
  .github/workflows/linuxtests.yml
  .pre-commit-config.yaml
  .prettierignore
  CHANGELOG.md
  README.md
  RELEASE.md
  design/about.md
  examples/filebrowser/sample.md
  galata/README.md
  package.json
  packages/services/examples/typescript-browser-with-output/README.md
  packages/ui-components/CONTRIBUTING.md
  pyproject.toml
  scripts/ci_script.sh
Due: prettier

Switch to releaser v2 (#13322)
  .github/workflows/check-release.yml
  .github/workflows/linuxtests.yml
  .pre-commit-config.yaml
  .prettierignore
  CHANGELOG.md
  README.md
  design/about.md
  examples/filebrowser/sample.md
  galata/README.md
  package.json
  packages/services/examples/typescript-browser-with-output/README.md
  packages/ui-components/CONTRIBUTING.md
  pyproject.toml
Due: prettier

lint
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  CHANGELOG.md
  RELEASE.md
  galata/README.md
Due: prettier

fix changelog
  CHANGELOG.md
Due: prettier

Fixes user tests
  packages/collaboration/test/menu.spec.ts
  packages/collaboration/test/model.spec.ts
  packages/services/src/index.ts
  packages/services/test/user/user.spec.ts
  testutils/src/index.ts
  testutils/src/user.ts
Due: prettier, eslint

add ignore link
  .github/workflows/linuxtests.yml
Due: none

Backport PR #13322 on branch 3.6.x (Switch to releaser v2) (#13327)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/check-release.yml
  .github/workflows/linuxtests.yml
  .pre-commit-config.yaml
  .prettierignore
  CHANGELOG.md
  README.md
  RELEASE.md
  design/about.md
  examples/filebrowser/sample.md
  galata/README.md
  package.json
  packages/services/examples/typescript-browser-with-output/README.md
  packages/ui-components/CONTRIBUTING.md
  pyproject.toml
Due: prettier

Bumps importlib-metadata and fixes lint
  packages/collaboration-extension/src/index.ts
  packages/collaboration/src/menu.ts
  packages/collaboration/src/userinfopanel.tsx
  packages/docprovider/src/yprovider.ts
  pyproject.toml
  testutils/package.json
Due: prettier, eslint

Bumps notebook_shim
  pyproject.toml
Due: none

Fixes the examples
  examples/app/main.py
  examples/console/main.py
  examples/federated/main.py
  examples/filebrowser/main.py
  examples/terminal/main.py
Due: none

Fixes the examples
  examples/app/main.py
  examples/example.spec.ts
  packages/services/examples/browser-require/main.py
  packages/services/examples/browser/main.py
  packages/services/examples/typescript-browser-with-output/main.py
Due: prettier, eslint

use releaser v2
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/check-release.yml
  .github/workflows/linuxtests.yml
  .pre-commit-config.yaml
  .prettierignore
  CHANGELOG.md
  README.md
  design/about.md
  examples/filebrowser/sample.md
  galata/README.md
  package.json
  packages/services/examples/typescript-browser-with-output/README.md
  packages/ui-components/CONTRIBUTING.md
  pyproject.toml
Due: prettier

User service (#12926)
  examples/app/main.py
  examples/console/main.py
  examples/example.spec.ts
  examples/federated/main.py
  examples/filebrowser/main.py
  examples/terminal/main.py
  packages/collaboration-extension/src/index.ts
  packages/collaboration-extension/style/index.css
  packages/collaboration-extension/style/index.js
  packages/collaboration/package.json
  packages/collaboration/src/collaboratorspanel.tsx
  packages/collaboration/src/components.tsx
  packages/collaboration/src/index.ts
  packages/collaboration/src/menu.ts
  packages/collaboration/src/model.ts
  packages/collaboration/src/tokens.ts
  packages/collaboration/src/userinfopanel.tsx
  packages/collaboration/src/utils.ts
  packages/collaboration/test/menu.spec.ts
  packages/collaboration/test/model.spec.ts
  packages/docprovider-extension/package.json
  packages/docprovider-extension/src/index.ts
  packages/docprovider-extension/style/index.css
  packages/docprovider-extension/style/index.js
  packages/docprovider-extension/tsconfig.json
  packages/docprovider/package.json
  packages/docprovider/src/yprovider.ts
  packages/docprovider/tsconfig.json
  packages/docprovider/tsconfig.test.json
  packages/services/examples/browser-require/main.py
  packages/services/examples/browser/main.py
  packages/services/examples/typescript-browser-with-output/main.py
  packages/services/src/index.ts
  packages/services/src/manager.ts
  packages/services/src/user/index.ts
  packages/services/test/user/user.spec.ts
  pyproject.toml
  testutils/package.json
  testutils/src/index.ts
  testutils/src/user.ts
Due: prettier, eslint, stylelint

Use file ID
  packages/docprovider/package.json
  packages/docprovider/src/mock.ts
  packages/docprovider/src/tokens.ts
  packages/docprovider/src/yprovider.ts
  packages/docregistry/src/context.ts
  pyproject.toml
  tsconfigdoc.json
Due: prettier, eslint

Add file_id2path in settings for use in jupyter-server-ydoc
  jupyterlab/labapp.py
Due: none

Pin jupyter_server_fileid >=0.3.1
  pyproject.toml
Due: none

Path conditions:
  prettier: any of: \.json$, \.(md|markdown|mdown)$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
