Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # Same schedule interval as dependabot see .github/dependabot.yml
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
        exclude: galata/.*-snapshots
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: (.bumpversion.cfg|yarn.js)

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.22.0
    hooks:
      - id: check-github-workflows

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.260
    hooks:
      - id: ruff
        args: ["--fix"]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'npm run stylelint:files'
        language: node
        types: [css]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [push]

feat: add error indicator in toc
  packages/notebook/src/actions.tsx
  packages/notebook/src/toc.ts
  packages/notebook/style/toc.css
Due: prettier, eslint, stylelint

Emit changed from output area mime setData
  packages/outputarea/src/model.ts
Due: prettier, eslint

test: for error indicator
  galata/test/jupyterlab/toc-running.test.ts
Due: prettier, eslint

verify vega notebook is updated with png
  galata/test/jupyterlab/notebook-run-vega.test.ts
Due: prettier, eslint

Separate settings handling out to another plugin
  packages/lsp-extension/src/index.ts
  packages/lsp/src/tokens.ts
Due: prettier, eslint

add marked plugins to avoid deprecation warnings
  packages/markedparser-extension/package.json
  packages/markedparser-extension/src/index.ts
  yarn.lock
Due: prettier, eslint

fix changed username, pin pydantic<2 for CI (#14780)
  CHANGELOG.md
  scripts/ci_script.sh
Due: none

Backport PR #14780: fix changed username, pin pydantic<2 for CI
  CHANGELOG.md
  scripts/ci_script.sh
Due: none

add marked plugins to unused known 'unused' deps
  buildutils/src/ensure-repo.ts
Due: prettier, eslint

Fix incorrect CSS value for statusbar popover shadow
  packages/statusbar/style/base.css
Due: prettier, stylelint

Deprecates collaborative flag
  jupyterlab/labapp.py
Due: none

Backport PR #14780: fix changed username, pin pydantic<2 for CI (#14787)
  CHANGELOG.md
  scripts/ci_script.sh
Due: none

Add CSS validator
  .stylelintrc.yaml
  package.json
  yarn.lock
Due: prettier

Fix invalid CSS values
  packages/apputils/style/commandpalette.css
  packages/debugger/style/variables.css
  packages/shortcuts-extension/style/base.css
Due: prettier, stylelint

Fix animation-name (not caught by validator)
  packages/shortcuts-extension/style/base.css
Due: prettier, stylelint

Deduplicate yarn lock
  yarn.lock
Due: none

Review
  jupyterlab/labapp.py
Due: none

Clean up fixture between vega notebook tests
  galata/test/jupyterlab/notebook-run-vega.test.ts
Due: prettier, eslint

box-shadow
  packages/cell-toolbar/style/base.css
  packages/notebook/style/base.css
Due: prettier, stylelint

Separate settings handling out to another plugin (#14786)
  packages/lsp-extension/src/index.ts
  packages/lsp/src/tokens.ts
Due: prettier, eslint

Backport PR #14786: Separate LSP settings handling out to another plugin
  packages/lsp-extension/src/index.ts
  packages/lsp/src/tokens.ts
Due: prettier, eslint

Removed title attribute remoevd dead code
  packages/launcher/src/widget.tsx
  packages/ui-components/src/icon/labicon.tsx
Due: prettier, eslint

Keyboard navigation right sidebar shortcut command
  packages/application-extension/schema/commands.json
  packages/application-extension/src/index.tsx
Due: prettier, eslint

Backport PR #14786: Separate LSP settings handling out to another plugin (#14798)
  packages/lsp-extension/src/index.ts
  packages/lsp/src/tokens.ts
Due: prettier, eslint

removed title attribute and added domutils
  packages/launcher/src/widget.tsx
  packages/ui-components/src/icon/labicon.tsx
Due: prettier, eslint

Revert flaky snapshot update
  galata/test/jupyterlab/notebook-run.test.ts-snapshots/notebook-panel-1-jupyterlab-linux.png
Due: none

Fix indentation problem after multi-line Python function definition (#14748)
  packages/codemirror/package.json
  yarn.lock
Due: prettier

Backport PR #14748: Fix indentation problem after multi-line Python function definition
  packages/codemirror/package.json
  yarn.lock
Due: prettier

Backport PR #14748: Fix indentation problem after multi-line Python function definition (#14801)
  packages/codemirror/package.json
  yarn.lock
Due: prettier

Create JupyterLab 3.4.4 accessibility statement
  docs/source/getting_started/accessibility.rst
  docs/source/getting_started/overview.rst
Due: none

style: make the error symbol colorblind-accessible
  packages/notebook/style/toc.css
Due: prettier, stylelint

feat: sync theme with system settings
  packages/apputils-extension/schema/themes.json
  packages/apputils-extension/src/themesplugins.ts
  packages/apputils/src/thememanager.ts
  packages/apputils/src/tokens.ts
Due: prettier, eslint

Adds missing parameters to ICompleterProvider API
  packages/completer/src/tokens.ts
Due: prettier, eslint

Propagates CompletionTriggerKind to providers.
  packages/completer/src/handler.ts
  packages/completer/src/reconciliator.ts
  packages/completer/src/tokens.ts
Due: prettier, eslint

Fix yarn.lock deduplication
  package.json
  yarn.lock
Due: prettier

Align ruff version Fix linter errors
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Adds this context when calling ICompletionProvider.modelFactory
  packages/completer/src/manager.ts
Due: prettier, eslint

Update packages/completer/src/tokens.ts
  packages/completer/src/tokens.ts
Due: prettier, eslint

Adds ranks to ICompletionProvider
  packages/completer-extension/schema/manager.json
  packages/completer-extension/src/index.ts
  packages/completer/src/default/contextprovider.ts
  packages/completer/src/default/kernelprovider.ts
  packages/completer/src/tokens.ts
Due: prettier, eslint

review
  packages/completer-extension/schema/manager.json
  packages/completer/src/default/contextprovider.ts
Due: prettier, eslint
