Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

stylelint:
  name: stylelint
  entry: npm run stylelint:files
  language: node

Adds cell with Vega visualization
  galata/test/jupyterlab/notebook-create.test.ts
Due: prettier, eslint

Simplifies and modernizes Vega example, extends timeout for notebook-create tests
  galata/test/jupyterlab/notebook-create.test.ts
Due: prettier, eslint

Separates Vega tests into their own functions with their own screen shots
  galata/test/jupyterlab/notebook-create.test.ts
  galata/test/jupyterlab/notebook-create.test.ts-snapshots/dark-theme-vega-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-create.test.ts-snapshots/run-cells-vega-jupyterlab-linux.png
Due: prettier, eslint

Update to use search query instead of plugin id
  packages/settingeditor-extension/src/index.ts
  packages/settingeditor/src/pluginlist.tsx
  packages/settingeditor/src/settingseditor.tsx
  packages/settingeditor/src/settingspanel.tsx
  packages/ui-components/src/components/search.tsx
Due: prettier, eslint

Prettier
  packages/settingeditor-extension/src/index.ts
  packages/settingeditor/src/pluginlist.tsx
  packages/settingeditor/src/settingspanel.tsx
  packages/ui-components/src/components/search.tsx
Due: prettier, eslint

Add initial test for settings search command
  galata/test/jupyterlab/settings.test.ts
Due: prettier, eslint

Fix window error
  galata/test/jupyterlab/settings.test.ts
Due: prettier, eslint

showFileCheckboxes default to false
  packages/filebrowser-extension/schema/browser.json
  packages/filebrowser-extension/src/index.ts
  packages/filebrowser/src/browser.ts
Due: prettier, eslint

use integers for rank, bump by 1
  packages/filebrowser-extension/schema/browser.json
Due: prettier

Hoist filebrowser plugin id to module level
  packages/filebrowser-extension/src/index.ts
Due: prettier, eslint

await selectItemByName
  packages/filebrowser/test/listing.spec.ts
Due: prettier, eslint

unbump some integers not needed
  packages/filebrowser-extension/schema/browser.json
Due: prettier

inline preventDefault
  packages/filebrowser/src/listing.ts
Due: prettier, eslint

Apply suggestions from code review
  packages/filebrowser/src/listing.ts
Due: prettier, eslint

Prevent deadlock by counting request lock number
  packages/docprovider/src/yprovider.ts
Due: prettier, eslint

Backport PR #12258 on branch 3.4.x (Default is no virtual rendering + Relax virtual notebook rendering on idle) (#12395)
  packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/src/index.ts
  packages/notebook/src/actions.tsx
  packages/notebook/src/widget.ts
  packages/notebook/src/widgetfactory.ts
  packages/notebook/test/widget.spec.ts
Due: prettier, eslint

Update branch name in doc urls and workflow files
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/pull_request_template.md
  .github/workflows/check-release.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/linuxjs-flaky-tests.yml
  .github/workflows/linuxjs-tests.yml
  .github/workflows/linuxtests.yml
  .github/workflows/macostests.yml
  .github/workflows/windowstests.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  RELEASE.md
  buildutils/src/ensure-repo.ts
  docs/source/conf.py
  docs/source/developer/components.rst
  docs/source/developer/contributing.rst
  docs/source/developer/css.rst
  docs/source/developer/repo.rst
  docs/source/extension/extension_dev.rst
  docs/source/extension/extension_migration.rst
  docs/source/extension/extension_tutorial.rst
  docs/source/extension/internationalization.rst
  docs/source/getting_started/faq.rst
  docs/source/user/rtc.rst
  packages/extensionmanager/src/widget.tsx
  packages/help-extension/src/index.tsx
  packages/javascript-extension/README.md
  packages/json-extension/README.md
  packages/ui-components/docs/source/intro.rst
  packages/vdom-extension/README.md
  packages/vdom/README.md
  packages/vega5-extension/README.md
Due: prettier, eslint

Backport PR #12082: Add support for filtering by field names in setting editor
  packages/apputils/src/search.tsx
  packages/settingeditor/src/SettingsFormEditor.tsx
  packages/settingeditor/src/pluginlist.tsx
  packages/settingeditor/src/settingseditor.tsx
  packages/settingeditor/src/settingspanel.tsx
  packages/settingeditor/style/base.css
Due: prettier, eslint, stylelint

Backport PR #12204: Add argument line and column to codemirror go to line command (#12416)
  galata/test/jupyterlab/texteditor.test.ts
  galata/test/jupyterlab/texteditor.test.ts-snapshots/go-to-line-editor-jupyterlab-linux.png
  packages/codemirror-extension/src/index.ts
Due: prettier, eslint

Backport PR #12255: Use css variable for font size. (#12417)
  packages/rendermime/style/base.css
Due: prettier, stylelint

Backport PR #12310: Add argument `searchText` and `replaceText` to search and replace commands (#12418)
  galata/test/jupyterlab/search.test.ts
  packages/documentsearch-extension/src/index.ts
  packages/documentsearch/src/searchinstance.ts
Due: prettier, eslint

Backport PR #12344: Allow LauncherModel to be more extendable (#12419)
  packages/launcher/src/index.tsx
Due: prettier, eslint

Backport PR #12381: Deprecate FileEditorCodeWrapper (#12420)
  packages/fileeditor/src/widget.ts
Due: prettier, eslint

Backport PR #12250: Open terminal in cwd from launcher
  galata/test/jupyterlab/terminal.test.ts
  galata/test/jupyterlab/terminal.test.ts-snapshots/launcher-term-jupyterlab-linux.png
  packages/services/src/terminal/manager.ts
  packages/services/src/terminal/restapi.ts
  packages/services/src/terminal/terminal.ts
  packages/terminal-extension/src/index.ts
  setup.cfg
Due: prettier, eslint

Backport PR #12311: Simplify galata import by proxying `expect`
  galata/README.md
  galata/src/index.ts
  galata/test/galata/benchmarkReporter.spec.ts
  galata/test/galata/contents.spec.ts
  galata/test/galata/fixture.spec.ts
  galata/test/galata/jupyterlabpage.spec.ts
  galata/test/galata/notebook.spec.ts
  galata/test/galata/test.spec.ts
  galata/test/jupyterlab/completer.test.ts
  galata/test/jupyterlab/contextmenu.test.ts
  galata/test/jupyterlab/debugger.test.ts
  galata/test/jupyterlab/general.test.ts
  galata/test/jupyterlab/menus.test.ts
  galata/test/jupyterlab/notebook-create.test.ts
  galata/test/jupyterlab/notebook-edit.test.ts
  galata/test/jupyterlab/notebook-markdown.test.ts
  galata/test/jupyterlab/notebook-run.test.ts
  galata/test/jupyterlab/notebook-toolbar.test.ts
  galata/test/jupyterlab/sidebars.test.ts
  galata/test/jupyterlab/terminal.test.ts
  galata/test/jupyterlab/texteditor.test.ts
  galata/test/jupyterlab/toc-running.test.ts
  galata/test/jupyterlab/toc.test.ts
  galata/test/jupyterlab/workspace.test.ts
  packages/apputils/test/commandpalette.spec.ts
  packages/apputils/test/dialog.spec.tsx
Due: prettier, eslint

Backport PR #12082: Add support for filtering by field names in setting editor (#12429)
  packages/apputils/src/search.tsx
  packages/settingeditor/src/SettingsFormEditor.tsx
  packages/settingeditor/src/pluginlist.tsx
  packages/settingeditor/src/settingseditor.tsx
  packages/settingeditor/src/settingspanel.tsx
  packages/settingeditor/style/base.css
Due: prettier, eslint, stylelint

Backport PR #12311: Simplify galata import by proxying `expect` (#12431)
  galata/README.md
  galata/src/index.ts
  galata/test/galata/benchmarkReporter.spec.ts
  galata/test/galata/contents.spec.ts
  galata/test/galata/fixture.spec.ts
  galata/test/galata/jupyterlabpage.spec.ts
  galata/test/galata/notebook.spec.ts
  galata/test/galata/test.spec.ts
  galata/test/jupyterlab/completer.test.ts
  galata/test/jupyterlab/contextmenu.test.ts
  galata/test/jupyterlab/debugger.test.ts
  galata/test/jupyterlab/general.test.ts
  galata/test/jupyterlab/menus.test.ts
  galata/test/jupyterlab/notebook-create.test.ts
  galata/test/jupyterlab/notebook-edit.test.ts
  galata/test/jupyterlab/notebook-markdown.test.ts
  galata/test/jupyterlab/notebook-run.test.ts
  galata/test/jupyterlab/notebook-toolbar.test.ts
  galata/test/jupyterlab/sidebars.test.ts
  galata/test/jupyterlab/terminal.test.ts
  galata/test/jupyterlab/texteditor.test.ts
  galata/test/jupyterlab/toc-running.test.ts
  galata/test/jupyterlab/toc.test.ts
  galata/test/jupyterlab/workspace.test.ts
  packages/apputils/test/commandpalette.spec.ts
  packages/apputils/test/dialog.spec.tsx
Due: prettier, eslint

Backport PR #12250: Open terminal in cwd from launcher (#12430)
  galata/test/jupyterlab/terminal.test.ts
  galata/test/jupyterlab/terminal.test.ts-snapshots/launcher-term-jupyterlab-linux.png
  packages/services/src/terminal/manager.ts
  packages/services/src/terminal/restapi.ts
  packages/services/src/terminal/terminal.ts
  packages/terminal-extension/src/index.ts
  setup.cfg
Due: prettier, eslint

Backport PR #12379: Pop up select kernel dialog when run a cell without kernel (#12421)
  packages/notebook/src/actions.tsx
Due: prettier, eslint

Backport PR #12195: Add a "New Tab" button that opens the launcher
  packages/application/src/shell.ts
  packages/filebrowser-extension/src/index.ts
  packages/launcher-extension/src/index.ts
  packages/ui-components/src/icon/widgets/tabbarsvg.ts
  packages/ui-components/style/base.css
  packages/ui-components/style/tabbar.css
Due: prettier, eslint, stylelint

Backport PR #12369: Wait until file browser commands are ready before activating file browser widget
  packages/filebrowser-extension/src/index.ts
  packages/filebrowser/src/tokens.ts
Due: prettier, eslint

Fix integrity
  packages/filebrowser-extension/package.json
  packages/ui-components/package.json
  packages/ui-components/tsconfig.json
  packages/ui-components/tsconfig.test.json
Due: prettier

Removes FileEditorCodeWrapper
  packages/fileeditor/src/widget.ts
  packages/fileeditor/test/widget.spec.ts
Due: prettier, eslint

Review
  docs/source/extension/extension_migration.rst
  packages/fileeditor/src/widget.ts
Due: prettier, eslint

webpack: switch to the asset modules (#12350)
  builder/package.json
  builder/src/build.ts
  builder/src/extensionConfig.ts
  builder/src/webpack.config.base.ts
  buildutils/src/ensure-repo.ts
  dev_mode/package.json
  examples/app/package.json
  examples/app/webpack.config.js
  examples/cell/package.json
  examples/cell/webpack.config.js
  examples/console/package.json
  examples/console/webpack.config.js
  examples/federated/core_package/package.json
  examples/filebrowser/package.json
  examples/filebrowser/webpack.config.js
  examples/notebook/package.json
  examples/notebook/webpack.config.js
  examples/terminal/package.json
  examples/terminal/webpack.config.js
  galata/package.json
  galata/webpack.config.js
  packages/extensionmanager-extension/examples/listings/package.json
  packages/extensionmanager-extension/examples/listings/webpack.config.js
  packages/nbconvert-css/package.json
  packages/nbconvert-css/webpack.config.js
  packages/services/examples/typescript-browser-with-output/package.json
  packages/services/examples/typescript-browser-with-output/webpack.config.js
  yarn.lock
Due: prettier, eslint

Update to webpack 5.72
  builder/package.json
  dev_mode/package.json
  examples/app/package.json
  examples/cell/package.json
  examples/console/package.json
  examples/federated/core_package/package.json
  examples/filebrowser/package.json
  examples/notebook/package.json
  examples/terminal/package.json
  galata/package.json
  packages/nbconvert-css/package.json
  packages/services/examples/browser/package.json
  packages/services/examples/typescript-browser-with-output/package.json
  packages/services/package.json
  yarn.lock
Due: prettier

Add webpack update to the extension migration guide
  docs/source/extension/extension_migration.rst
Due: none

Backport PR #12195 on branch 3.4.x (Add a "New Tab" button that opens the launcher) (#12434)
  galata/test/galata/notebook.spec.ts-snapshots/code-cell-galata-linux.png
  galata/test/galata/notebook.spec.ts-snapshots/markdown-cell-galata-linux.png
  galata/test/galata/notebook.spec.ts-snapshots/raw-cell-galata-linux.png
  galata/test/galata/notebook.spec.ts-snapshots/run-cells-galata-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/dark-theme-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/launch-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/filebrowser-right-jupyterlab-linux.png
  packages/application/src/shell.ts
  packages/filebrowser-extension/package.json
  packages/filebrowser-extension/src/index.ts
  packages/launcher-extension/src/index.ts
  packages/ui-components/package.json
  packages/ui-components/src/icon/widgets/tabbarsvg.ts
  packages/ui-components/style/base.css
  packages/ui-components/style/tabbar.css
  packages/ui-components/tsconfig.json
  packages/ui-components/tsconfig.test.json
Due: prettier, eslint, stylelint

Path conditions:
  prettier: any of: \.json$, \.(md|markdown|mdown)$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
