Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

stylelint:
  name: stylelint
  entry: npm run stylelint:files
  language: node

Adds a basic suite of rtc tests
  packages/docprovider/test/yprovider.spec.ts
  packages/docregistry/src/default.ts
  packages/docregistry/test/rtc.spec.ts
  packages/notebook/src/model.ts
  packages/notebook/src/notebooktools.ts
  packages/notebook/test/rtc.spec.ts
  setup.cfg
  testutils/package.json
  testutils/scripts/file.py
  testutils/scripts/file.txt
  testutils/scripts/nb.json
  testutils/scripts/nb.py
  testutils/scripts/rtc-client.py
  testutils/scripts/rtc-server.py
  testutils/src/index.ts
  testutils/src/rtc.ts
Due: prettier, eslint

Removes ModelDB, deduplicates outputs and context, improves the undo manager and small fixes
  galata/src/inpage/index.ts
  packages/attachments/package.json
  packages/attachments/src/model.ts
  packages/attachments/tsconfig.json
  packages/cells/src/model.ts
  packages/codeeditor/src/editor.ts
  packages/codemirror/src/editor.ts
  packages/completer/src/handler.ts
  packages/debugger/src/handlers/notebook.ts
  packages/docregistry/package.json
  packages/docregistry/src/context.ts
  packages/docregistry/src/default.ts
  packages/docregistry/src/registry.ts
  packages/notebook-extension/src/index.ts
  packages/notebook/package.json
  packages/notebook/src/actions.tsx
  packages/notebook/src/celllist.ts
  packages/notebook/src/index.ts
  packages/notebook/src/model.ts
  packages/notebook/src/modelfactory.ts
  packages/notebook/src/widget.ts
  packages/outputarea/package.json
  packages/outputarea/src/model.ts
  packages/outputarea/tsconfig.json
  packages/outputarea/tsconfig.test.json
  packages/rendermime/package.json
  packages/rendermime/src/outputmodel.ts
  packages/rendermime/tsconfig.json
  packages/rendermime/tsconfig.test.json
  packages/shared-models/package.json
  packages/shared-models/src/api.ts
  packages/shared-models/src/model.ts
  packages/shared-models/src/sharedList.ts
  packages/shared-models/src/sharedMap.ts
  packages/shared-models/src/sharedString.ts
  packages/shared-models/src/ymodels.ts
  packages/shared-models/test/model.spec.ts
  packages/shared-models/tsconfig.json
  packages/shared-models/tsconfig.test.json
Due: prettier, eslint

Makes the sharedDoc protected
  packages/docprovider/package.json
  packages/notebook/src/model.ts
  packages/notebook/test/model.spec.ts
Due: prettier, eslint

Bump xtermjs to latest
  packages/terminal/package.json
  yarn.lock
Due: prettier

Backport PR #12742: Fix staging/yarn.lock registry (#12753)
  buildutils/src/ensure-repo.ts
  jupyterlab/staging/yarn.lock
  yarn.lock
Due: prettier, eslint

Bump marked version (#12747)
  packages/markedparser-extension/package.json
  yarn.lock
Due: prettier

Update Playwright snapshots
  galata/test/documentation/customization.test.ts-snapshots/customized-terminal-position-single-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-terminal-position-single-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/terminal-layout-documentation-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/dark-term-dark-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/dark-term-inherit-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/dark-term-light-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/launcher-term-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/light-term-dark-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/light-term-inherit-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/light-term-light-jupyterlab-linux.png
Due: none

Debugger: Make kernel source list react based (#12751)
  packages/debugger/src/panels/kernelSources/body.ts
  packages/debugger/src/panels/kernelSources/body.tsx
  packages/debugger/src/panels/kernelSources/filter.tsx
  packages/debugger/style/kernelSources.css
Due: prettier, eslint, stylelint

Add resize handle for scrolled cell outputs (#12740)
  packages/cells/style/widget.css
Due: prettier, stylelint

Bump xtermjs to latest (#12715)
  galata/test/documentation/customization.test.ts-snapshots/customized-terminal-position-single-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-terminal-position-single-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/terminal-layout-documentation-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/dark-term-dark-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/dark-term-inherit-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/dark-term-light-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/launcher-term-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/light-term-dark-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/light-term-inherit-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/light-term-light-jupyterlab-linux.png
  packages/terminal/package.json
  yarn.lock
Due: prettier

Fix notebook trust in RTC
  packages/cells/src/model.ts
Due: prettier, eslint

Backport PR #12747: Bump version of `marked` and `@types/marked`
  packages/cells/package.json
  packages/rendermime/package.json
  yarn.lock
Due: prettier

Update snapshots for challenger commit
  .github/workflows/benchmark.yml
Due: none

Backport PR #12751: Debugger: Make kernel source list react based
  packages/debugger/src/panels/kernelSources/body.ts
  packages/debugger/src/panels/kernelSources/body.tsx
  packages/debugger/src/panels/kernelSources/filter.tsx
  packages/debugger/style/kernelSources.css
Due: prettier, eslint, stylelint

Backport PR #12747: Bump version of `marked` and `@types/marked` (#12757)
  packages/cells/package.json
  packages/rendermime/package.json
  yarn.lock
Due: prettier

Backport PR #12751: Debugger: Make kernel source list react based (#12759)
  packages/debugger/src/panels/kernelSources/body.ts
  packages/debugger/src/panels/kernelSources/body.tsx
  packages/debugger/src/panels/kernelSources/filter.tsx
  packages/debugger/style/kernelSources.css
Due: prettier, eslint, stylelint

Set focus when active cell changes only from mouse click (#12735)
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/highlight-previous-element-jupyterlab-linux.png
  packages/notebook/src/widget.ts
Due: prettier, eslint

Remove unstubExtensionsSearch (#12738)
  galata/test/documentation/extension_manager.test.ts
  galata/test/documentation/utils.ts
Due: prettier, eslint

Backport PR #12735: Set focus when active cell changes only from mouse click
  packages/notebook/src/widget.ts
Due: prettier, eslint

Backport PR #12715: Bump xtermjs to latest
  packages/terminal/package.json
  yarn.lock
Due: prettier

remove reference to blueprint.js in css
  packages/ui-components/style/base.css
Due: prettier, stylelint

Fix Card styles
  packages/launcher/style/base.css
Due: prettier, stylelint

add back the color and font-size rules for the body
  packages/ui-components/style/base.css
Due: prettier, stylelint

remove more blueprint.js overrides
  packages/ui-components/style/base.css
Due: prettier, stylelint

Restore unset outline on focus
  packages/ui-components/style/base.css
Due: prettier, stylelint

Stop debugger on widget dispose
  packages/debugger/src/handler.ts
Due: prettier, eslint

Pin nbclassic below 0.4.0
  setup.cfg
Due: none

Apply reviewer's suggestions
  packages/lsp-extension/schema/plugin.json
  packages/lsp-extension/src/index.ts
  packages/lsp-extension/src/renderer.tsx
  packages/lsp/src/connection_manager.ts
  packages/lsp/src/plugin.ts
  packages/lsp/src/tokens.ts
Due: prettier, eslint

Add explicitly notebook as dependency
  setup.cfg
Due: none

Update snapshots
  galata/test/documentation/customization.test.ts-snapshots/customized-terminal-position-single-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-terminal-position-single-documentation-linux.png
  galata/test/documentation/debugger.test.ts-snapshots/debugger-variables-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/notebook-ui-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/terminal-layout-documentation-linux.png
  galata/test/jupyterlab/debugger.test.ts-snapshots/start-debug-session-script-variables-jupyterlab-linux.png
  galata/test/jupyterlab/debugger.test.ts-snapshots/start-debug-session-variables-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/highlight-previous-element-jupyterlab-linux.png
Due: none

Backport PR #12735: Set focus when active cell changes only from mouse click (#12765)
  packages/notebook/src/widget.ts
Due: prettier, eslint

Pin ypy-websocket
  setup.cfg
Due: none

Fixes some tests
  packages/cells/src/model.ts
  packages/codeeditor/src/editor.ts
  packages/codeeditor/src/jsoneditor.ts
  packages/codeeditor/src/viewer.ts
  packages/codeeditor/test/editor.spec.ts
  packages/codeeditor/test/widget.spec.ts
  packages/codemirror/test/editor.spec.ts
  packages/codemirror/test/factory.spec.ts
  packages/completer/test/handler.spec.ts
  packages/completer/test/widget.spec.ts
  packages/console/test/history.spec.ts
  packages/debugger/src/factory.ts
  packages/docregistry/src/default.ts
  packages/docregistry/src/registry.ts
  packages/docregistry/test/default.spec.ts
  packages/docregistry/test/rtc.spec.ts
  packages/notebook/src/model.ts
  packages/notebook/src/notebooktools.ts
  packages/notebook/src/panel.ts
  packages/notebook/test/model.spec.ts
  packages/notebook/test/notebooktools.spec.ts
  packages/notebook/test/panel.spec.ts
  packages/notebook/test/rtc.spec.ts
  packages/notebook/test/utils.ts
  packages/notebook/test/widget.spec.ts
  packages/settingeditor/src/raweditor.ts
  packages/shared-models/test/sharedlist.spec.ts
  setup.cfg
  testutils/src/notebook-utils.ts
Due: prettier, eslint

Remove cell type from code editor
  packages/codeeditor/src/editor.ts
Due: prettier, eslint

Add alt attributes and white space
  docs/source/developer/contributing.rst
  docs/source/developer/internationalization.rst
  docs/source/extension/notebook.rst
  docs/source/getting_started/overview.rst
  docs/source/index.rst
  docs/source/user/commands.rst
  docs/source/user/debugger.rst
  docs/source/user/export.rst
  docs/source/user/extensions.rst
  docs/source/user/file_editor.rst
  docs/source/user/file_formats.rst
  docs/source/user/files.rst
  docs/source/user/interface.rst
  docs/source/user/language.rst
  docs/source/user/notebook.rst
  docs/source/user/rtc.rst
  docs/source/user/running.rst
  docs/source/user/terminal.rst
  docs/source/user/toc.rst
  packages/json-extension/README.md
  packages/services/README.md
  packages/statusbar-extension/README.md
  packages/vdom-extension/README.md
  packages/vega5-extension/README.md
Due: prettier

Move lsp plugins to required list
  examples/app/index.js
  examples/app/package.json
  examples/example.spec.ts
  examples/federated/core_package/package.json
  packages/fileeditor-extension/src/index.ts
  packages/fileeditor/src/fileeditorlspadapter.ts
  packages/lsp/src/connection.ts
  packages/lsp/src/connection_manager.ts
  packages/lsp/src/manager.ts
  packages/lsp/src/tokens.ts
  packages/lsp/src/virtual/document.ts
  packages/notebook-extension/src/index.ts
  packages/notebook/src/notebooklspadapter.ts
Due: prettier, eslint

Update staging dependencies
  jupyterlab/staging/package.json
Due: prettier

Revert change on staging/package.json
  jupyterlab/staging/package.json
Due: prettier

Backport PR #12715 on branch 3.4.x (Bump xtermjs to latest) (#12760)
  galata/test/jupyterlab/terminal.test.ts-snapshots/dark-term-dark-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/dark-term-inherit-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/dark-term-light-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/launcher-term-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/light-term-dark-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/light-term-inherit-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/light-term-light-jupyterlab-linux.png
  packages/terminal/package.json
  yarn.lock
Due: prettier

Path conditions:
  prettier: any of: \.json$, \.(md|markdown|mdown)$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
