Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

stylelint:
  name: stylelint
  entry: npm run stylelint:files
  language: node

Apply lint rules
  packages/notebook-extension/schema/tracker.json
Due: prettier

Use bare string `proxies` parameter for `httpx`<0.28 (#17113)
  jupyterlab/extensions/pypi.py
Due: none

Backport PR #17113: Use bare string `proxies` parameter for `httpx`<0.28
  jupyterlab/extensions/pypi.py
Due: none

Add pixi files to various ignore files
  .eslintignore
  .gitattributes
  .gitignore
  .prettierignore
Due: none

Backport PR #17113: Use bare string `proxies` parameter for `httpx`<0.28 (#17118)
  jupyterlab/extensions/pypi.py
Due: none

Backport PR #17113: Use bare string `proxies` parameter for `httpx`<0.28 (#17119)
  jupyterlab/extensions/pypi.py
Due: none

Split the Service Manager into multiple plugins
  dev_mode/index.js
  docs/source/extension/extension_dev.rst
  galata/test/documentation/plugins.test.ts-snapshots/plugins-documentation-linux.json
  galata/test/documentation/plugins.test.ts-snapshots/tokens-documentation-linux.json
  packages/application-extension/package.json
  packages/application-extension/src/index.tsx
  packages/application-extension/src/services.ts
  packages/application-extension/tsconfig.json
  packages/application/src/connectionstatus.ts
  packages/application/src/index.ts
  packages/application/src/lab.ts
  packages/application/src/tokens.ts
  packages/services/src/index.ts
  packages/services/src/tokens.ts
  yarn.lock
Due: prettier, eslint

Apply suggestions from code review
  docs/source/extension/extension_dev.rst
Due: none

update filter on open settings command
  galata/test/jupyterlab/settings.test.ts
  packages/settingeditor-extension/src/index.ts
  packages/settingeditor/src/settingseditor.tsx
Due: prettier, eslint

update test to pass update code
  galata/test/jupyterlab/settings.test.ts
  packages/settingeditor/src/settingseditor.tsx
Due: prettier, eslint

remove erant import
  galata/test/jupyterlab/settings.test.ts
Due: prettier, eslint

lint
  galata/test/jupyterlab/settings.test.ts
  packages/settingeditor-extension/src/index.ts
  packages/settingeditor/src/settingseditor.tsx
Due: prettier, eslint

remove console log
  packages/settingeditor-extension/src/index.ts
Due: prettier, eslint

add docstring
  packages/settingeditor/src/settingseditor.tsx
Due: prettier, eslint

Fix exposig `ISignal` instead of `Signal`
  packages/application/src/shell.ts
Due: prettier, eslint

update docs to include export import functionality for overrides.json (#17104)
  docs/source/user/directories.rst
Due: none

Allow changing the position of the prompt cell
  packages/console-extension/schema/tracker.json
  packages/console-extension/src/index.ts
  packages/console/src/panel.ts
  packages/console/src/widget.ts
Due: prettier, eslint

keep the same order
  packages/console/src/widget.ts
Due: prettier, eslint

split panel
  packages/console-extension/schema/tracker.json
  packages/console/src/widget.ts
  packages/console/style/base.css
Due: prettier, eslint, stylelint

add options, update layout dynamically
  packages/console-extension/schema/tracker.json
  packages/console-extension/src/index.ts
  packages/console/src/panel.ts
  packages/console/src/widget.ts
Due: prettier, eslint

handle other options
  packages/console-extension/schema/tracker.json
  packages/console-extension/src/index.ts
  packages/console/src/widget.ts
Due: prettier, eslint

improve default sizes
  packages/console/src/widget.ts
Due: prettier, eslint

Fix exposig `ISignal` instead of `Signal` (#17122)
  packages/application/src/shell.ts
Due: prettier, eslint

Add toolbar items
  packages/console-extension/schema/tracker.json
  packages/console-extension/src/index.ts
Due: prettier, eslint

cleanup
  packages/console-extension/src/index.ts
Due: prettier, eslint

more cleanup
  packages/console/src/panel.ts
Due: prettier, eslint

Add kernel switcher
  packages/console-extension/schema/tracker.json
  packages/console-extension/src/index.ts
  packages/console/src/widget.ts
Due: prettier, eslint

kernel status
  packages/console-extension/schema/tracker.json
  packages/console-extension/src/index.ts
Due: prettier, eslint

add menu to change prompt position
  packages/console-extension/schema/tracker.json
  packages/console-extension/src/index.ts
  packages/console/src/widget.ts
  packages/ui-components/src/icon/iconimports.ts
  packages/ui-components/style/deprecated.css
  packages/ui-components/style/icons/toolbar/dock.svg
Due: prettier, eslint, stylelint

improve prompt menu
  packages/console-extension/src/index.ts
  packages/console-extension/style/base.css
  packages/console-extension/style/index.css
  packages/console-extension/style/index.js
Due: prettier, eslint, stylelint

improve styling
  packages/console-extension/src/index.ts
  packages/console-extension/style/base.css
  packages/console/src/widget.ts
  packages/console/style/base.css
Due: prettier, eslint, stylelint

fix cursor
  packages/console/src/widget.ts
Due: prettier, eslint

fix setting name
  packages/console-extension/src/index.ts
  packages/console/src/widget.ts
Due: prettier, eslint

fixes
  packages/console-extension/src/index.ts
  packages/console/src/widget.ts
Due: prettier, eslint

fix defaults
  packages/console/src/widget.ts
Due: prettier, eslint

fix init
  packages/console/src/widget.ts
Due: prettier, eslint

fix background
  packages/console/style/base.css
Due: prettier, stylelint

fix css
  packages/console-extension/style/base.css
  packages/console/style/base.css
Due: prettier, stylelint

move prompt position button to the right
  packages/console-extension/schema/tracker.json
Due: prettier

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$, but not: \.ipynb$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
