Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

stylelint:
  name: stylelint
  entry: npm run stylelint:files
  language: node

Backport PR #17214: Fix disabling Fuzzy Filtering in the File Browser (#17236)
  galata/test/jupyterlab/settings.test.ts
  packages/filebrowser-extension/src/index.ts
  packages/filebrowser/src/browser.ts
  packages/filebrowser/src/model.ts
  packages/ui-components/src/components/search.tsx
Due: prettier, eslint

Backport PR #17173 on branch 4.3.x (Increase color contrast of operators in code editor) (#17237)
  galata/test/jupyterlab/html-viewer.test.ts
  galata/test/jupyterlab/notebook-create.test.ts-snapshots/dark-theme-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-run-mermaid.test.ts-snapshots/run-cells-dark-mermaid-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-run-vega.test.ts-snapshots/run-cells-dark-vega-jupyterlab-linux.png
  packages/theme-dark-extension/style/variables.css
  packages/theme-light-extension/style/variables.css
Due: prettier, eslint, stylelint

updated test
  packages/apputils/test/dialog.spec.tsx
Due: prettier, eslint

Fix windowing crash due to out-of-bounds access
  packages/notebook/src/windowing.ts
  packages/notebook/test/modelfactory.spec.ts
Due: prettier, eslint

Try one more thing
  galata/test/jupyterlab/file-search.test.ts
Due: prettier, eslint

changes in yarn.lock
  yarn.lock
Due: none

Improving reliability of the the galata tests (#17221)
  galata/test/documentation/debugger.test.ts
  galata/test/jupyterlab/windowed-notebook.test.ts
Due: prettier, eslint

added caching
  packages/filebrowser/src/listing.ts
Due: prettier, eslint

fixed failing test
  packages/filebrowser/src/listing.ts
Due: prettier, eslint

Fix windowing crash due to out-of-bounds access (#17238)
  packages/notebook/src/windowing.ts
  packages/notebook/test/modelfactory.spec.ts
Due: prettier, eslint

Backport PR #17238: Fix windowing crash due to out-of-bounds access
  packages/notebook/src/windowing.ts
  packages/notebook/test/modelfactory.spec.ts
Due: prettier, eslint

Backport PR #17238: Fix windowing crash due to out-of-bounds access (#17240)
  packages/notebook/src/windowing.ts
  packages/notebook/test/modelfactory.spec.ts
Due: prettier, eslint

Fix scrolling and selection restoration on undo/redo (#17158)
  packages/codemirror/src/extensions/ybinding.ts
  packages/codemirror/src/extensions/yundomanager.ts
Due: prettier, eslint

Backport PR #17158: Fix scrolling and selection restoration on undo/redo
  packages/codemirror/src/extensions/ybinding.ts
  packages/codemirror/src/extensions/yundomanager.ts
Due: prettier, eslint

Backport PR #17158: Fix scrolling and selection restoration on undo/redo (#17241)
  packages/codemirror/src/extensions/ybinding.ts
  packages/codemirror/src/extensions/yundomanager.ts
Due: prettier, eslint

minor changes
  packages/apputils/src/dialog.tsx
Due: prettier, eslint

Simplify the code, do not resolve if enter is pressed on a third-party button
  packages/apputils/src/dialog.tsx
Due: prettier, eslint

Fixing dialog closing unexpectedly when typing in the textarea (#17142)
  packages/apputils/src/dialog.tsx
  packages/apputils/test/dialog.spec.tsx
Due: prettier, eslint

Backport PR #17142: Fixing dialog closing unexpectedly when typing in the textarea
  packages/apputils/src/dialog.tsx
  packages/apputils/test/dialog.spec.tsx
Due: prettier, eslint

minor changes
  packages/filebrowser/src/listing.ts
Due: prettier, eslint

Allow GroupItem to Filter Out Null Children
  packages/statusbar/src/components/group.tsx
Due: prettier, eslint

Backport PR #17142: Fixing dialog closing unexpectedly when typing in the textarea (#17243)
  packages/apputils/src/dialog.tsx
  packages/apputils/test/dialog.spec.tsx
Due: prettier, eslint

changes
  packages/apputils/src/runningSessions.tsx
Due: prettier, eslint

added debouncer
  packages/filebrowser/src/listing.ts
  packages/filebrowser/test/listing.spec.ts
Due: prettier, eslint

fixed failing tests
  packages/filebrowser/test/openfiledialog.spec.ts
Due: prettier, eslint

try to build a real wheel in RTD
  .readthedocs.yml
  docs/source/conf.py
Due: none

ignore magic readthedocs build folder
  .gitignore
Due: none

add fake git auth
  .readthedocs.yml
  docs/source/conf.py
Due: none

reverting debouncer
  packages/filebrowser/src/listing.ts
  packages/filebrowser/test/listing.spec.ts
  packages/filebrowser/test/openfiledialog.spec.ts
Due: prettier, eslint

optimising css selectors
  packages/filebrowser/style/base.css
Due: prettier, stylelint

Add commands to change the console prompt position to the palette
  packages/console-extension/src/index.ts
Due: prettier, eslint

Update to Playwright 1.50
  galata/package.json
  yarn.lock
Due: prettier

Update `ruff` in .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

hide icons in the palette
  packages/console-extension/src/index.ts
Due: prettier, eslint

snapshot update
  galata/test/jupyterlab/general.test.ts-snapshots/simple-mode-jupyterlab-linux.png
Due: none

update yarn.lock
  yarn.lock
Due: none

Add commands to change the console prompt position to the palette (#17253)
  packages/console-extension/src/index.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$, but not: \.ipynb$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
