Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

stylelint:
  name: stylelint
  entry: npm run stylelint:files
  language: node

Added --yes to conda environment creation command
  docs/source/extension/extension_tutorial.rst
Due: none

Remove the need for ILabShell for the inspector plugins
  packages/inspector-extension/src/index.ts
Due: prettier, eslint

simplify
  packages/inspector-extension/src/index.ts
Due: prettier, eslint

Run jlpm lint
  packages/apputils/src/sanitizer.ts
  packages/apputils/test/sanitizer.spec.ts
Due: prettier, eslint

Remove the need for `ILabShell` for the inspector plugins (#17608)
  packages/inspector-extension/src/index.ts
Due: prettier, eslint

Added --yes to conda environment creation command (#17605)
  docs/source/extension/extension_tutorial.rst
Due: none

Fix drive focus issue
  packages/application/src/shell.ts
Due: prettier, eslint

remove leftover
  packages/application/src/shell.ts
Due: prettier, eslint

Adapting unit tests and integrity updates
  packages/cells/src/widget.ts
  packages/notebook/package.json
  packages/notebook/src/testutils.ts
  packages/notebook/style/index.css
  packages/notebook/style/index.js
  packages/notebook/tsconfig.json
  packages/notebook/tsconfig.test.json
  yarn.lock
Due: prettier, eslint, stylelint

Try to fix integrity by not including `markedparser-extension` styles
  buildutils/src/ensure-repo.ts
  packages/notebook/style/index.css
  packages/notebook/style/index.js
Due: prettier, eslint, stylelint

Fix tokens (move `IMarkdownParser` to optional)
  packages/fileeditor-extension/src/index.ts
Due: prettier, eslint

Update answered.yml
  .github/workflows/answered.yml
Due: none

Prevent duplicate shortcut addition
  packages/shortcuts-extension/src/components/ShortcutInput.tsx
Due: prettier, eslint

Testing unit tests
  packages/shortcuts-extension/test/components/ShortcutInput.spec.tsx
  packages/shortcuts-extension/test/components/ShortcutUI.spec.ts
Due: prettier, eslint

testing
  packages/shortcuts-extension/test/components/ShortcutUI.spec.ts
Due: prettier, eslint

update variable name
  packages/shortcuts-extension/test/components/ShortcutInput.spec.ts
Due: prettier, eslint

new file for ShortCutInput
  packages/shortcuts-extension/test/components/ShortcutInput.spec.ts
  packages/shortcuts-extension/test/components/ShortcutInput.spec.tsx
Due: prettier, eslint

removed unwanted comments
  packages/shortcuts-extension/test/components/ShortcutUI.spec.ts
Due: prettier, eslint

Addressed review comments.
  packages/shortcuts-extension/test/components/ShortcutInput.spec.ts
  packages/shortcuts-extension/test/components/ShortcutUI.spec.ts
Due: prettier, eslint

fix terminal highlighting issue
  packages/theme-dark-high-contrast-extension/style/variables.css
Due: prettier, stylelint

Fix selection visibility in terminal while using Dark High Contrast theme (#17618)
  packages/theme-dark-high-contrast-extension/style/variables.css
Due: prettier, stylelint

Backport PR #17618: Fix selection visibility in terminal while using Dark High Contrast theme
  packages/theme-dark-high-contrast-extension/style/variables.css
Due: prettier, stylelint

Add layout containment on viewport in windowed mode
  packages/ui-components/src/components/windowedlist.ts
Due: prettier, eslint

Backport PR #17618: Fix selection visibility in terminal while using Dark High Contrast theme (#17619)
  packages/theme-dark-high-contrast-extension/style/variables.css
Due: prettier, stylelint

Update README.md
  README.md
Due: none

Update to Playwright 1.53
  galata/package.json
  yarn.lock
Due: prettier

update snapshots
  galata/test/jupyterlab/general.test.ts-snapshots/simple-mode-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/highlight-previous-element-jupyterlab-linux.png
Due: none

documentation for subshells
  docs/source/extension/extension_points.rst
  docs/source/user/documents_kernels.rst
Due: none

fix toolbar up/down arrow status
  packages/cell-toolbar/src/celltoolbartracker.ts
  packages/cell-toolbar/test/celltoolbartracker.spec.ts
  packages/notebook-extension/src/index.ts
Due: prettier, eslint

Prevent memory leak when rendering text stream
  packages/outputarea/src/model.ts
Due: prettier, eslint

Add layout containment on viewport in windowed mode (#17620)
  packages/ui-components/src/components/windowedlist.ts
Due: prettier, eslint

Backport PR #17620: Add layout containment on viewport in windowed mode
  packages/ui-components/src/components/windowedlist.ts
Due: prettier, eslint

Drop manual Firefox install, add playwright cache
  .github/workflows/linuxtests.yml
Due: none

added meanginful suggestion
  packages/cell-toolbar/src/celltoolbartracker.ts
Due: prettier, eslint

Backport PR #17620: Add layout containment on viewport in windowed mode (#17629)
  packages/ui-components/src/components/windowedlist.ts
Due: prettier, eslint

fix: remove the role setting for jpbutton
  galata/test/jupyterlab/toc.test.ts
  packages/ui-components/src/components/toolbar.tsx
Due: prettier, eslint

Remove unnecessary call to _generateOptions()
  packages/apputils/src/sanitizer.ts
Due: prettier, eslint

Revert documentation changes
  packages/apputils/src/sanitizer.ts
Due: prettier, eslint

Respect user provided allowedSchemes in allowedSchemesByTag options
  packages/apputils/src/sanitizer.ts
Due: prettier, eslint

Drop manual Firefox install, add playwright cache (#17631)
  .github/workflows/linuxtests.yml
Due: none

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$, but not: \.ipynb$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
