Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

stylelint:
  name: stylelint
  entry: npm run stylelint:files
  language: node

Fix incorrect CSS value for statusbar popover shadow (#14789)
  packages/statusbar/style/base.css
Due: prettier, stylelint

Backport PR #14789: Fix incorrect CSS value for statusbar popover shadow
  packages/statusbar/style/base.css
Due: prettier, stylelint

Workaround yarn-berry-deduplicate flaws
  scripts/ci_script.sh
Due: none

Backport PR #14747: fix: typo in notifications settings documentation (#14754)
  packages/apputils-extension/schema/notification.json
Due: prettier

Align ruff version
  pyproject.toml
Due: none

Fix integrity issue
  scripts/ci_script.sh
Due: none

Backport PR #14789: Fix incorrect CSS value for statusbar popover shadow (#14813)
  packages/statusbar/style/base.css
Due: prettier, stylelint

Improve typing to avoid bad usage of `context.contentsModel.content` (#14660)
  packages/docmanager-extension/src/index.tsx
  packages/docregistry/src/context.ts
  packages/docregistry/src/registry.ts
  packages/docregistry/test/context.spec.ts
Due: prettier, eslint

Backport PR #14660: Improve typing to avoid bad usage of `context.contentsModel.content`
  packages/docmanager-extension/src/index.tsx
  packages/docregistry/src/context.ts
  packages/docregistry/src/registry.ts
  packages/docregistry/test/context.spec.ts
Due: prettier, eslint

Chnage vw to vh for the breadCrumbs margin.
  packages/filebrowser/style/base.css
Due: prettier, stylelint

Disable run all enabled if none are enabled
  packages/apputils-extension/src/index.ts
Due: prettier, eslint

Fix notebook toolbar buttons
  packages/fileeditor-extension/src/commands.ts
  packages/notebook-extension/schema/panel.json
Due: prettier, eslint

Add ability to customize the command caption
  packages/application-extension/schema/top-bar.json
  packages/apputils/src/toolbar/registry.ts
  packages/cell-toolbar-extension/schema/plugin.json
  packages/csvviewer-extension/schema/csv.json
  packages/csvviewer-extension/schema/tsv.json
  packages/filebrowser-extension/schema/widget.json
  packages/fileeditor-extension/schema/plugin.json
  packages/htmlviewer-extension/schema/plugin.json
  packages/notebook-extension/schema/panel.json
  packages/notebook-extension/src/index.ts
  packages/settingregistry/src/plugin-schema.json
  packages/ui-components/src/components/toolbar.tsx
Due: prettier, eslint

Fix button command selector in UI test
  galata/test/documentation/debugger.test.ts
Due: prettier, eslint

Do not disable toolbar button if notebook is not activated
  packages/notebook-extension/schema/panel.json
  packages/notebook-extension/src/index.ts
Due: prettier, eslint

Keyboard navigation right sidebar shortcut command
  packages/application-extension/schema/commands.json
Due: prettier

Trim whitespace for macOS
  scripts/ci_script.sh
Due: none

Update examples/cell/README.md
  examples/cell/README.md
Due: none

Improve examples (#14726)
  .github/workflows/linuxtests.yml
  .gitignore
  examples/app/README.md
  examples/app/example.spec.ts-snapshots/example-linux.png
  examples/cell/README.md
  examples/cell/example.spec.ts-snapshots/example-linux.png
  examples/cell/src/index.ts
  examples/console/README.md
  examples/console/example.spec.ts-snapshots/example-linux.png
  examples/console/src/index.ts
  examples/example.spec.ts
  examples/example_check.py
  examples/federated/README.md
  examples/federated/example.spec.ts-snapshots/example-linux.png
  examples/filebrowser/README.md
  examples/filebrowser/example.spec.ts-snapshots/example-linux.png
  examples/notebook/README.md
  examples/notebook/example.spec.ts-snapshots/example-linux.png
  examples/notebook/package.json
  examples/notebook/src/commands.ts
  examples/notebook/src/index.ts
  examples/terminal/README.md
  examples/terminal/example.spec.ts-snapshots/example-linux.png
  examples/test_examples.py
  packages/markedparser-extension/src/index.ts
  packages/notebook/src/executionindicator.tsx
  yarn.lock
Due: prettier, eslint

Backport PR #14726: Improve examples
  .github/workflows/linuxtests.yml
  .gitignore
  examples/app/README.md
  examples/app/example.spec.ts-snapshots/example-linux.png
  examples/cell/README.md
  examples/cell/example.spec.ts-snapshots/example-linux.png
  examples/cell/src/index.ts
  examples/console/README.md
  examples/console/example.spec.ts-snapshots/example-linux.png
  examples/console/src/index.ts
  examples/example.spec.ts
  examples/example_check.py
  examples/federated/README.md
  examples/federated/example.spec.ts-snapshots/example-linux.png
  examples/filebrowser/README.md
  examples/filebrowser/example.spec.ts-snapshots/example-linux.png
  examples/notebook/README.md
  examples/notebook/example.spec.ts-snapshots/example-linux.png
  examples/notebook/package.json
  examples/notebook/src/commands.ts
  examples/notebook/src/index.ts
  examples/terminal/README.md
  examples/terminal/example.spec.ts-snapshots/example-linux.png
  examples/test_examples.py
  packages/markedparser-extension/src/index.ts
  packages/notebook/src/executionindicator.tsx
  yarn.lock
Due: prettier, eslint

added a key for the command
  packages/application-extension/schema/commands.json
Due: prettier

Fix CSV icon (being set too late) due to async code execution
  packages/csvviewer-extension/src/index.ts
  packages/csvviewer/src/widget.ts
Due: prettier, eslint

Relax interface
  packages/services/src/event/index.ts
Due: prettier, eslint

Update packages/services/src/event/index.ts
  packages/services/src/event/index.ts
Due: prettier, eslint

Update packages/completer/src/tokens.ts
  packages/completer/src/tokens.ts
Due: prettier, eslint

[ci skip] Publish 4.0.3
  .bumpversion.cfg
  CHANGELOG.md
  dev_mode/package.json
  examples/federated/core_package/package.json
  jupyterlab/_version.py
  jupyterlab/staging/package.json
  jupyterlab/staging/yarn.lock
  yarn.lock
Due: prettier

Backport PR #14660: Improve typing to avoid bad usage of `context.contentsModel.content` (#14820)
  packages/docmanager-extension/src/index.tsx
  packages/docregistry/src/context.ts
  packages/docregistry/src/registry.ts
  packages/docregistry/test/context.spec.ts
Due: prettier, eslint

start context commands
  packages/mermaid-extension/src/index.ts
  packages/mermaid/src/manager.ts
  packages/mermaid/src/tokens.ts
  packages/mermaid/style/base.css
Due: prettier, eslint, stylelint

Adds tests
  packages/metapackage/test/completer/handler.spec.ts
Due: prettier, eslint

Fix integration tests
  galata/test/jupyterlab/notebook-run-vega.test.ts
Due: prettier, eslint

Adds a test
  packages/metapackage/test/completer/manager.spec.ts
Due: prettier, eslint

fix context menu commands
  packages/markedparser-extension/src/index.ts
  packages/mermaid-extension/src/index.ts
Due: prettier, eslint

added @media query with max-width of 320px and added className for line/column element.
  packages/codeeditor/src/lineCol.tsx
  packages/statusbar/style/base.css
Due: prettier, eslint, stylelint

Clean up
  packages/metapackage/test/completer/handler.spec.ts
Due: prettier, eslint

adding resize handler to hide/display active cell toolbar dynamically
  packages/cells/src/resizeHandle.ts
  packages/cells/src/widget.ts
  packages/notebook/style/base.css
Due: prettier, eslint, stylelint

Deprecates collaborative flag (#14792)
  jupyterlab/labapp.py
Due: none

Backport PR #14792: Deprecates collaborative flag
  jupyterlab/labapp.py
Due: none

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
