Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # skip any check that needs internet access
  skip: [check-jsonschema, prettier, eslint, stylelint, integrity]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: .bumpversion.cfg

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: ["--line-length", "100"]

  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
        files: \.py$
        args: [--profile=black]

  # - repo: https://github.com/pycqa/flake8
  #   rev: 4.0.1
  #   hooks:
  #     - id: flake8
  #       additional_dependencies:
  #         [
  #           "flake8-bugbear==20.1.4",
  #           "flake8-logging-format==0.6.0",
  #           "flake8-implicit-str-concat==0.2.0",
  #         ]

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.10.2
    hooks:
      - id: check-jsonschema
        name: 'Check GitHub Workflows'
        files: ^\.github/workflows/
        types: [yaml]
        args: ['--schemafile', 'https://json.schemastore.org/github-workflow']

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, markdown, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'npm run stylelint:files'
        language: node
        types: [css]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [push]

Add bump linters commit to blame ignore (#12594)
  .git-blame-ignore-revs
Due: none

Fix collaborative document cleanup
  jupyterlab/handlers/ydoc_handler.py
  jupyterlab/labapp.py
Due: none

Apply suggestions from code review
  docs/source/user/interface_customization.rst
Due: none

Remove unneeded async
  packages/application-extension/src/index.tsx
Due: prettier, eslint

Fixes behavior of `maxNumberOutputs` (#12498)
  galata/test/jupyterlab/notebook-max-outputs.test.ts
  packages/outputarea/src/widget.ts
  packages/outputarea/style/base.css
  packages/outputarea/test/widget.spec.ts
Due: prettier, eslint, stylelint

Use customizable toolbar for topbar (#12586)
  docs/source/extension/extension_points.rst
  packages/application-extension/schema/top-bar.json
  packages/application-extension/src/index.tsx
  packages/application-extension/src/topbar.ts
  packages/application-extension/style/base.css
  packages/apputils/src/toolbar/factory.ts
  packages/user-extension/package.json
  packages/user-extension/schema/user-menu-bar.json
  packages/user-extension/src/index.ts
  packages/user-extension/style/index.css
  packages/user-extension/style/index.js
  packages/user-extension/tsconfig.json
Due: prettier, eslint, stylelint

Fix collaborative document cleanup (#12595)
  jupyterlab/handlers/ydoc_handler.py
  jupyterlab/labapp.py
Due: none

Fix documentation
  docs/source/user/index.md
  docs/source/user/interface_customization.rst
  docs/source/user/ui_customization.rst
Due: prettier

Replace launcher only for widgets added to the main area
  packages/launcher-extension/src/index.ts
  packages/launcher/src/widget.tsx
Due: prettier, eslint

Update packages/comments-extension/schema/notebook.json
  packages/comments-extension/schema/notebook.json
Due: prettier

Updates schema, dependencies
  packages/comments-extension/package.json
  packages/comments-extension/schema/notebook.json
  packages/comments/package.json
  yarn.lock
Due: prettier

Integrity update
  package.json
Due: prettier

Uses 'add comment' button in cell toolbar
  packages/comments-extension/schema/notebook.json
  packages/ui-components/src/icon/iconimports.ts
  packages/ui-components/style/deprecated.css
  packages/ui-components/style/icons/toolbar/create-comment.svg
Due: prettier, eslint, stylelint

Moves notebook comments command into notebook-extension
  packages/comments-extension/src/api/index.ts
  packages/comments-extension/src/index.ts
  packages/comments-extension/src/notebook/index.ts
  packages/comments/src/api/model.ts
  packages/comments/src/api/widget.tsx
  packages/comments/src/notebook/commentfactory.ts
  packages/comments/src/text/commentfactory.ts
  packages/notebook-extension/package.json
  packages/notebook-extension/src/comments.ts
  packages/notebook-extension/src/index.ts
  packages/notebook-extension/style/index.css
  packages/notebook-extension/style/index.js
  packages/notebook-extension/tsconfig.json
Due: prettier, eslint, stylelint

Remove unneeded dependencies from comments-extension
  packages/comments-extension/package.json
  packages/comments-extension/style/index.css
  packages/comments-extension/style/index.js
  packages/comments-extension/tsconfig.json
Due: prettier, eslint, stylelint

Removes empty moved file
  packages/comments-extension/src/notebook/index.ts
Due: prettier, eslint

Moves text plugin to fileeditor-extensions
  packages/comments-extension/package.json
  packages/comments-extension/src/index.ts
  packages/comments-extension/style/index.css
  packages/comments-extension/style/index.js
  packages/comments-extension/tsconfig.json
  packages/fileeditor-extension/package.json
  packages/fileeditor-extension/src/comments.ts
  packages/fileeditor-extension/src/index.ts
  packages/fileeditor-extension/style/index.css
  packages/fileeditor-extension/style/index.js
  packages/fileeditor-extension/tsconfig.json
Due: prettier, eslint, stylelint

Automated Changelog Entry for 4.0.0a25 on master
  CHANGELOG.md
Due: prettier

Automated Changelog Entry for 4.0.0a25 on master (#12597)
  CHANGELOG.md
Due: prettier

[ci skip] Bump version
  .bumpversion.cfg
  dev_mode/package.json
  examples/federated/core_package/package.json
  jupyterlab/_version.py
Due: prettier

Backport PR #12498: Fixes behavior of `maxNumberOutputs`
  galata/test/jupyterlab/notebook-max-outputs.test.ts
  packages/outputarea/src/widget.ts
  packages/outputarea/style/base.css
  packages/outputarea/test/widget.spec.ts
Due: prettier, eslint, stylelint

[ci skip] Publish 4.0.0a25
  jupyterlab/staging/package.json
  jupyterlab/staging/webpack.config.js
  jupyterlab/staging/yarn.lock
Due: prettier, eslint

Backport PR #12556: Fix loading toolbar factory twice
  packages/application-extension/src/index.tsx
  packages/apputils/src/toolbar/factory.ts
  packages/apputils/test/toolbar.spec.ts
  packages/mainmenu-extension/src/index.ts
  packages/settingregistry/src/settingregistry.ts
Due: prettier, eslint

Revert "Backport PR #12556: Fix loading toolbar factory twice" Pushed by mistake to 3.4.x This reverts commit 33c015781cc1200624b8bcbaaae017c97b42115c.
  packages/application-extension/src/index.tsx
  packages/apputils/src/toolbar/factory.ts
  packages/apputils/test/toolbar.spec.ts
  packages/mainmenu-extension/src/index.ts
  packages/settingregistry/src/settingregistry.ts
Due: prettier, eslint

Backport PR #12556: Fix loading toolbar factory twice (#12599)
  packages/application-extension/src/index.tsx
  packages/apputils/src/toolbar/factory.ts
  packages/apputils/test/toolbar.spec.ts
  packages/mainmenu-extension/src/index.ts
  packages/settingregistry/src/settingregistry.ts
Due: prettier, eslint

Invert relationship between launcher and filebrowser
  docs/source/extension/extension_migration.rst
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  packages/filebrowser-extension/package.json
  packages/filebrowser-extension/schema/browser.json
  packages/filebrowser-extension/schema/widget.json
  packages/filebrowser-extension/src/index.ts
  packages/filebrowser-extension/style/index.css
  packages/filebrowser-extension/style/index.js
  packages/filebrowser-extension/tsconfig.json
  packages/filebrowser/style/base.css
  packages/launcher-extension/package.json
  packages/launcher-extension/schema/plugin.json
  packages/launcher-extension/src/index.ts
  packages/launcher-extension/style/base.css
  packages/launcher-extension/style/index.css
  packages/launcher-extension/style/index.js
  packages/launcher-extension/tsconfig.json
Due: prettier, eslint, stylelint

Update docs/source/extension/extension_migration.rst
  docs/source/extension/extension_migration.rst
Due: none

Fix UI tests
  galata/test/jupyterlab/notebook-max-outputs.test.ts
  yarn.lock
Due: prettier, eslint

Fix GitHub user rename
  CHANGELOG.md
Due: prettier

Pin exactly jupyter_ydoc
  setup.cfg
Due: none

Add back ypy-websocket dependency
  setup.cfg
Due: none

Pin exactly jupyter_ydoc (#12602)
  setup.cfg
Due: none

Fix GitHub user rename (#12601)
  CHANGELOG.md
Due: prettier

add a persisten side-by-side ratio setting
  packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/src/index.ts
  packages/notebook/src/widget.ts
  packages/notebook/test/widget.spec.ts
Due: prettier, eslint
