Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

stylelint:
  name: stylelint
  entry: npm run stylelint:files
  language: node

fix ?? issue in settingeditor
  packages/settingeditor/src/raweditor.ts
Due: prettier, eslint

Update example snapshots
  examples/app/example.spec.ts-snapshots/example-linux.png
  examples/federated/example.spec.ts-snapshots/example-linux.png
Due: none

Fix missing checks for author comment association for docs
  .github/workflows/galata-update.yml
Due: none

Fix missing checks for author comment association for docs (#17289)
  .github/workflows/galata-update.yml
Due: none

Backport PR #17289: Fix missing checks for author comment association for docs
  .github/workflows/galata-update.yml
Due: none

Disable new ctrl-m binding, enable configuring it via Keyboard Shortcuts
  packages/codemirror-extension/src/commands.ts
  packages/codemirror/src/extension.ts
Due: prettier, eslint

move down
  docs/source/getting_started/faq.rst
Due: none

Revert incorrect snapshot updates
  galata/test/documentation/general.test.ts-snapshots/command-palette-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-change-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-settings-documentation-linux.png
Due: none

Revert incorrect snapshot updates
  galata/test/documentation/debugger.test.ts-snapshots/debugger-stop-on-breakpoint-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/command-palette-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-change-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-settings-documentation-linux.png
Due: none

Backport PR #17289: Fix missing checks for author comment association for docs (#17290)
  .github/workflows/galata-update.yml
Due: none

Allow `<GroupItem>` to filter out `null` children and accept any `ReactNode` (#17244)
  docs/source/extension/extension_migration.rst
  examples/app/example.spec.ts-snapshots/example-linux.png
  examples/federated/example.spec.ts-snapshots/example-linux.png
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/documentation/custom_css.test.ts-snapshots/custom-css-main-documentation-linux.png
  galata/test/documentation/export_notebook.test.ts-snapshots/exporting-menu-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-editor-overview-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-chinese-documentation-linux.png
  galata/test/documentation/overview.test.ts-snapshots/interface-jupyterlab-documentation-linux.png
  galata/test/documentation/plugins.test.ts-snapshots/plugins-documentation-linux.json
  galata/test/documentation/plugins.test.ts-snapshots/tokens-documentation-linux.json
  galata/test/jupyterlab/general.test.ts-snapshots/dark-theme-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/launch-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/simple-mode-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/filebrowser-right-jupyterlab-linux.png
  packages/apputils/src/runningSessions.tsx
  packages/statusbar/src/components/group.tsx
Due: prettier, eslint

Add FAQ item about repeated key press events on OS X (#17279)
  docs/source/getting_started/faq.rst
Due: none

Fix misaligned SVG icon in "Add Tag" button (#17187)
  galata/test/documentation/export_notebook.test.ts-snapshots/exporting-slide-type-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-right-common-documentation-linux.png
  packages/celltags-extension/src/celltag.tsx
Due: prettier, eslint

Apply suggestions from code review
  packages/application/src/lab.ts
Due: prettier, eslint

Fix CI failures due to empty `license` field
  jupyterlab/tests/mock_packages/test-hyphens-underscore/pyproject.toml
  jupyterlab/tests/mock_packages/test-hyphens/pyproject.toml
  jupyterlab/tests/mock_packages/test_no_hyphens/pyproject.toml
Due: none

update FAQ (#17152)
  docs/source/getting_started/faq.rst
Due: none

This should workaround it
  galata/test/jupyterlab/file-search.test.ts
Due: prettier, eslint

Updated mock packages to use hatch-jupyter-builder (#17219)
  .gitignore
  jupyterlab/tests/mock_packages/test-hyphens-underscore/pyproject.toml
  jupyterlab/tests/mock_packages/test-hyphens-underscore/setup.py
  jupyterlab/tests/mock_packages/test-hyphens/pyproject.toml
  jupyterlab/tests/mock_packages/test-hyphens/setup.py
  jupyterlab/tests/mock_packages/test_no_hyphens/pyproject.toml
  jupyterlab/tests/mock_packages/test_no_hyphens/setup.py
Due: none

Clean up references to `jupyter-packaging`
  jupyterlab/tests/test_extensions.py
  scripts/release_prep.sh
Due: none

This sholld fix it!
  galata/test/jupyterlab/file-search.test.ts
Due: prettier, eslint

Clean up references to `jupyter-packaging` (#17294)
  jupyterlab/tests/test_extensions.py
  scripts/release_prep.sh
Due: none

Fix strict mode violation
  galata/test/jupyterlab/file-search.test.ts
Due: prettier, eslint

removed dummy extensions derived from example extensions.
  jupyterlab/extensions/pypi.py
Due: none

Ensure search highlight is applied to Python builtin keywords (#17160)
  galata/test/jupyterlab/file-search.test.ts
  galata/test/jupyterlab/file-search.test.ts-snapshots/search-results-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-replace.test.ts-snapshots/replace-in-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/highlight-visible-under-selection-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-in-two-selected-cells-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-within-outputs-jupyterlab-linux.png
  packages/codemirror/src/theme.ts
  packages/codemirror/style/base.css
Due: prettier, eslint, stylelint

Backport PR #17160: Ensure search highlight is applied to Python builtin keywords
  galata/test/jupyterlab/file-search.test.ts
  galata/test/jupyterlab/file-search.test.ts-snapshots/search-results-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-replace.test.ts-snapshots/replace-in-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/highlight-visible-under-selection-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-in-two-selected-cells-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-within-outputs-jupyterlab-linux.png
  packages/codemirror/src/theme.ts
  packages/codemirror/style/base.css
Due: prettier, eslint, stylelint

use icon and refractor tab title
  packages/apputils-extension/src/index.ts
  packages/workspaces-extension/schema/indicator.json
  packages/workspaces-extension/src/index.ts
  packages/workspaces-extension/src/top_indicator.tsx
Due: prettier, eslint

update indicator.json
  packages/workspaces-extension/schema/indicator.json
Due: prettier

use set instead of upload
  packages/workspaces-extension/src/index.ts
Due: prettier, eslint

modify test
  galata/test/jupyterlab/workspace.test.ts
Due: prettier, eslint

Updated enabling logic for run-all-below button on Notebook Panel
  packages/notebook-extension/src/index.ts
Due: prettier, eslint

Add (opt-in) workspace selector, show workspace name in the title (#17256)
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-view-appearance-jupyterlab-linux.png
  galata/test/jupyterlab/workspace.test.ts
  packages/apputils-extension/src/index.ts
  packages/workspaces-extension/package.json
  packages/workspaces-extension/schema/indicator.json
  packages/workspaces-extension/src/commands.ts
  packages/workspaces-extension/src/index.ts
  packages/workspaces-extension/src/top_indicator.tsx
  packages/workspaces-extension/style/base.css
  packages/workspaces-extension/style/index.css
  packages/workspaces-extension/style/index.js
  packages/workspaces-extension/style/selector.css
  packages/workspaces-extension/tsconfig.json
  yarn.lock
Due: prettier, eslint, stylelint

Backport PR #17160: Ensure search highlight is applied to Python builtin keywords (#17297)
  galata/test/jupyterlab/file-search.test.ts
  galata/test/jupyterlab/file-search.test.ts-snapshots/search-results-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-replace.test.ts-snapshots/replace-in-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/highlight-visible-under-selection-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-in-two-selected-cells-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-within-outputs-jupyterlab-linux.png
  packages/codemirror/src/theme.ts
  packages/codemirror/style/base.css
Due: prettier, eslint, stylelint

Delete yarn.lock
  yarn.lock
Due: none

Update README.md
  README.md
Due: none

Backport PR #17305: Bump dompurify to 3.2.4
  yarn.lock
Due: none

Use US spelling
  packages/codemirror-extension/src/commands.ts
  packages/codemirror/src/extension.ts
Due: prettier, eslint

Disable new `ctrl` + `m` toggle focus binding, enable configuring it via Keyboard Shortcuts (#17291)
  packages/codemirror-extension/src/commands.ts
  packages/codemirror/src/extension.ts
Due: prettier, eslint

ran jlpm integrity and yarn-berry-deduplicate
  yarn.lock
Due: none

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$, but not: \.ipynb$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
