Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # skip any check that needs internet access
  skip: [check-jsonschema, prettier, eslint, stylelint, integrity]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: .bumpversion.cfg

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: ["--line-length", "100"]

  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
        files: \.py$
        args: [--profile=black]

  # - repo: https://github.com/pycqa/flake8
  #   rev: 4.0.1
  #   hooks:
  #     - id: flake8
  #       additional_dependencies:
  #         [
  #           "flake8-bugbear==20.1.4",
  #           "flake8-logging-format==0.6.0",
  #           "flake8-implicit-str-concat==0.2.0",
  #         ]

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.10.2
    hooks:
      - id: check-jsonschema
        name: 'Check GitHub Workflows'
        files: ^\.github/workflows/
        types: [yaml]
        args: ['--schemafile', 'https://json.schemastore.org/github-workflow']

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, markdown, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'npm run stylelint:files'
        language: node
        types: [css]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [push]

fix the side-by-side cell resize handle
  packages/cells/src/resizeHandle.ts
Due: prettier, eslint

Update README wording
  README.md
Due: prettier

Invert relationship between launcher and filebrowser (#12585)
  docs/source/extension/extension_migration.rst
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/documentation/customization.test.ts-snapshots/customized-menu-bar-documentation-linux.png
  packages/filebrowser-extension/package.json
  packages/filebrowser-extension/schema/browser.json
  packages/filebrowser-extension/schema/widget.json
  packages/filebrowser-extension/src/index.ts
  packages/filebrowser-extension/style/index.css
  packages/filebrowser-extension/style/index.js
  packages/filebrowser-extension/tsconfig.json
  packages/filebrowser/style/base.css
  packages/launcher-extension/package.json
  packages/launcher-extension/schema/plugin.json
  packages/launcher-extension/src/index.ts
  packages/launcher-extension/style/base.css
  packages/launcher-extension/style/index.css
  packages/launcher-extension/style/index.js
  packages/launcher-extension/tsconfig.json
Due: prettier, eslint, stylelint

Make package importable in node.js
  packages/shared-models/package.json
  packages/shared-models/src/index.ts
Due: prettier, eslint

Remove .js
  packages/shared-models/src/index.ts
Due: prettier, eslint

Add type module for esModule packages
  buildutils/src/ensure-package.ts
Due: prettier, eslint

Add ts source esm fix tool
  .github/workflows/linuxtests.yml
  .github/workflows/reject-staging-changes.yml
  buildutils/package.json
  buildutils/src/ensure-package.ts
  buildutils/src/ensure-repo.ts
  buildutils/src/utils.ts
  yarn.lock
Due: prettier, eslint

Update Jest config for ESM module
  testutils/src/jest-config.ts
Due: prettier, eslint

Fix workflow syntax
  .github/workflows/linuxtests.yml
Due: none

More fixes
  .github/workflows/linuxtests.yml
  packages/ui-components/jest.config.cjs
Due: prettier, eslint

Fix CI configuration
  .github/workflows/linuxtests.yml
  buildutils/package.json
  buildutils/src/ensure-package.ts
  scripts/ci_script.sh
  yarn.lock
Due: prettier, eslint

Fix more import
  packages/application/src/tokens.ts
  packages/cells/src/searchprovider.ts
  packages/codemirror/src/syntaxstatus.tsx
  packages/debugger/src/factory.ts
  packages/debugger/src/panels/variables/tree.tsx
  packages/filebrowser/src/uploadstatus.tsx
  packages/notebook/src/modestatus.tsx
  packages/notebook/src/truststatus.tsx
  packages/notebook/test/actions.spec.ts
  packages/notebook/test/default-toolbar.spec.ts
  packages/notebook/test/executionindicator.spec.tsx
  packages/notebook/test/model.spec.ts
  packages/notebook/test/notebooktools.spec.ts
  packages/notebook/test/panel.spec.ts
  packages/notebook/test/tracker.spec.ts
  packages/notebook/test/utils.ts
  packages/notebook/test/widget.spec.ts
  packages/notebook/test/widgetfactory.spec.ts
  packages/services/src/config/index.ts
  packages/services/src/contents/index.ts
  packages/services/src/kernel/default.ts
  packages/services/src/kernel/kernel.ts
  packages/services/src/kernel/manager.ts
  packages/services/src/session/default.ts
  packages/services/src/session/restapi.ts
  packages/services/src/session/session.ts
  packages/services/src/terminal/default.ts
  packages/services/src/terminal/manager.ts
  packages/services/src/terminal/terminal.ts
  packages/terminal/src/widget.ts
Due: prettier, eslint

Fix examples
  packages/application/src/tokens.ts
  packages/codemirror/src/codemirror-ipython.ts
  packages/codemirror/src/codemirror-ipythongfm.ts
  packages/codemirror/src/editor.ts
  packages/codemirror/src/mode.ts
  packages/codemirror/src/syntaxstatus.tsx
  packages/debugger/src/factory.ts
  packages/debugger/src/panels/variables/tree.tsx
  packages/filebrowser/src/uploadstatus.tsx
  packages/notebook/src/modestatus.tsx
  packages/notebook/src/toc.ts
  packages/notebook/src/truststatus.tsx
  packages/settingeditor-extension/src/index.ts
  packages/shortcuts-extension/src/componentStyle/ShortcutButtonStyle.tsx
  packages/statusbar/src/components/group.tsx
  packages/statusbar/src/components/text.tsx
  packages/statusbar/src/style/layout.ts
  packages/statusbar/src/style/statusbar.ts
  packages/statusbar/src/style/text.ts
  packages/ui-components/src/style/icon.ts
Due: prettier, eslint

Correct corner cases
  buildutils/src/ensure-package.ts
  packages/terminal-extension/src/index.ts
  packages/ui-components/src/icon/iconimports.ts
Due: prettier, eslint

Upgrade yarn.lock following rebase
  yarn.lock
Due: none

Auto fix following rebase
  packages/application-extension/src/index.tsx
Due: prettier, eslint

Fix Jest test
  packages/outputarea/test/widget.spec.ts
Due: prettier, eslint

fix the resize handle for cells
  packages/cells/src/resizeHandle.ts
Due: prettier, eslint

Break loop activeCell -> activeHeading
  packages/notebook/src/toc.ts
  packages/toc/src/model.ts
  packages/toc/src/tokens.ts
  packages/toc/src/treeview.tsx
Due: prettier, eslint

Update packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/schema/tracker.json
Due: prettier

Fix style and UI tests
  galata/test/jupyterlab/notebook-max-outputs.test.ts
  packages/outputarea/style/base.css
Due: prettier, eslint, stylelint

exclusiveMinimum shoud be boolean
  packages/notebook-extension/schema/tracker.json
Due: prettier

Wait for kernel
  galata/test/jupyterlab/notebook-max-outputs.test.ts
Due: prettier, eslint

add minimum to sideBySideOutputRatio schema
  packages/notebook-extension/schema/tracker.json
Due: prettier

Wait for stdin input
  galata/test/jupyterlab/notebook-max-outputs.test.ts
Due: prettier, eslint

add a persisten side-by-side ratio setting
  packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/src/index.ts
  packages/notebook/src/widget.ts
  packages/notebook/test/widget.spec.ts
Due: prettier, eslint

Backport PR #12498: Fixes behavior of `maxNumberOutputs` (#12598)
  galata/test/jupyterlab/notebook-max-outputs.test.ts
  galata/test/jupyterlab/notebook-run.test.ts-snapshots/notebook-panel-0-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/dark-term-dark-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/dark-term-inherit-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/dark-term-light-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/launcher-term-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/light-term-dark-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/light-term-inherit-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/light-term-light-jupyterlab-linux.png
  packages/outputarea/src/widget.ts
  packages/outputarea/style/base.css
  packages/outputarea/test/widget.spec.ts
  yarn.lock
Due: prettier, eslint, stylelint

Remove unneeded build:all and test config
  buildutils/template/package.json
  packages/cell-toolbar-extension/.vscode/launch.json
  packages/cell-toolbar-extension/babel.config.js
  packages/cell-toolbar-extension/jest.config.js
  packages/cell-toolbar-extension/package.json
  packages/cell-toolbar-extension/tsconfig.test.json
  packages/cell-toolbar/package.json
Due: prettier, eslint

Fix kernel protocol serialization
  packages/services/src/kernel/serialize.ts
Due: prettier, eslint

add "close all tabs" context action
  packages/application-extension/schema/commands.json
Due: prettier

Fix `documentsearch-extension` plugin id
  packages/documentsearch-extension/src/index.ts
Due: prettier, eslint
