Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

stylelint:
  name: stylelint
  entry: npm run stylelint:files
  language: node

Backport PR #17577: Ensure strings with yellow background in tracebacks are visible
  packages/rendermime/style/base.css
Due: prettier, stylelint

Add break in stringmd5
  docker/start.sh
Due: none

fix: missing aria roles and labels
  packages/apputils-extension/src/notificationplugin.tsx
  packages/apputils/src/kernelstatuses.tsx
  packages/apputils/src/runningSessions.tsx
  packages/cells/src/widget.ts
  packages/codeeditor/src/lineCol.tsx
  packages/codemirror/src/editor.ts
  packages/filebrowser/src/listing.ts
  packages/fileeditor/src/syntaxstatus.tsx
  packages/fileeditor/src/tabspacestatus.tsx
  packages/launcher/src/widget.tsx
  packages/logconsole-extension/src/status.tsx
  packages/ui-components/src/components/search.tsx
  packages/ui-components/src/components/switch.ts
  packages/ui-components/src/components/toolbar.tsx
Due: prettier, eslint

code-refactor
  packages/filebrowser-extension/schema/browser.json
  packages/filebrowser-extension/src/index.ts
  packages/filebrowser/src/listing.ts
Due: prettier, eslint

fix-undefined-var-and-grammar
  jupyterlab/extensions/pypi.py
Due: none

Backport PR #17577: Ensure strings with yellow background in tracebacks are visible (#17588)
  packages/rendermime/style/base.css
Due: prettier, stylelint

Fix error handing in extension manager (typo and undefined variable) (#17592)
  jupyterlab/extensions/pypi.py
Due: none

Backport PR #17592: Fix error handing in extension manager (typo and undefined variable)
  jupyterlab/extensions/pypi.py
Due: none

Backport PR #17592: Fix error handing in extension manager (typo and undefined variable) (#17593)
  jupyterlab/extensions/pypi.py
Due: none

Backport PR #17592: Fix error handing in extension manager (typo and undefined variable) (#17594)
  jupyterlab/extensions/pypi.py
Due: none

Add break in stringmd5 (#17590)
  docker/start.sh
Due: none

Enable save in collaborative mode (#17508)
  packages/docmanager-extension/src/index.tsx
  packages/docregistry/src/context.ts
  packages/services/src/contents/index.ts
Due: prettier, eslint

Backport PR #17508: Enable save in collaborative mode
  packages/docmanager-extension/src/index.tsx
  packages/docregistry/src/context.ts
  packages/services/src/contents/index.ts
Due: prettier, eslint

Auto-open uploaded files with size and settings control (#17556)
  galata/test/galata/filebrowser.spec.ts
  packages/filebrowser-extension/schema/browser.json
  packages/filebrowser-extension/src/index.ts
  packages/filebrowser/src/listing.ts
  packages/filebrowser/src/upload.ts
  packages/filebrowser/src/uploadstatus.tsx
Due: prettier, eslint

Backport PR #17508: Enable save in collaborative mode (#17595)
  packages/docmanager-extension/src/index.tsx
  packages/docregistry/src/context.ts
  packages/services/src/contents/index.ts
Due: prettier, eslint

Backport PR #17527: Fix incorrect ARIA labels in the `MainAreaWidget` (#17557)
  galata/test/galata/notebook.spec.ts
  galata/test/jupyterlab/codemirror.test.ts
  packages/apputils/src/mainareawidget.ts
  packages/apputils/test/mainareawidget.spec.ts
Due: prettier, eslint

Emit `selectionChanged` on model refresh
  packages/filebrowser/src/listing.ts
Due: prettier, eslint

add comment
  packages/filebrowser/src/listing.ts
Due: prettier, eslint

remove selectAll from context menu
  packages/filebrowser-extension/schema/browser.json
Due: prettier

Ensuring backward compatibility and addressing review comments
  packages/cells/src/widget.ts
  packages/fileeditor/src/toc/markdown.ts
  packages/markdownviewer/src/toc.ts
  packages/toc/src/utils/markdown.ts
Due: prettier, eslint

Added unit tests
  packages/toc/test/markdown.spec.ts
Due: prettier, eslint

Package integrity updates
  packages/fileeditor-extension/package.json
  packages/fileeditor-extension/tsconfig.json
  packages/fileeditor/package.json
  packages/fileeditor/tsconfig.json
  packages/fileeditor/tsconfig.test.json
  yarn.lock
Due: prettier

Package integrity updates
  packages/fileeditor-extension/package.json
  packages/fileeditor/package.json
  yarn.lock
Due: prettier

 Package integrity updates
  packages/fileeditor-extension/style/index.css
  packages/fileeditor-extension/style/index.js
  packages/fileeditor-extension/tsconfig.json
  packages/fileeditor/style/index.css
  packages/fileeditor/style/index.js
  packages/fileeditor/tsconfig.json
  packages/fileeditor/tsconfig.test.json
Due: prettier, eslint, stylelint

Use custom schemes in sanitizer
  packages/apputils/src/sanitizer.ts
Due: prettier, eslint

Update options on changing scheme
  packages/apputils/src/sanitizer.ts
Due: prettier, eslint

Fix syntax
  packages/apputils/src/sanitizer.ts
Due: prettier, eslint

fix: revert changes to the code cell tab and editor role
  packages/cells/src/widget.ts
  packages/codemirror/src/editor.ts
Due: prettier, eslint

Update packages/filebrowser/src/listing.ts
  packages/filebrowser/src/listing.ts
Due: prettier, eslint

fix: failing test
  galata/test/jupyterlab/toc.test.ts
Due: prettier, eslint

Fix syntax of accessing allowedSchemes
  packages/apputils/src/sanitizer.ts
Due: prettier, eslint

Test preserving custom schemes when allowed
  packages/apputils/test/sanitizer.spec.ts
Due: prettier, eslint

Test by enabling `setAllowNamedProperties`
  packages/apputils/test/sanitizer.spec.ts
Due: prettier, eslint

Bump ruff in pyproject.toml
  pyproject.toml
Due: none

Update expected link in test
  packages/apputils/test/sanitizer.spec.ts
Due: prettier, eslint

Update function documentation
  packages/apputils/src/sanitizer.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$, but not: \.ipynb$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
