Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

stylelint:
  name: stylelint
  entry: npm run stylelint:files
  language: node

Add notification center close button
  packages/apputils-extension/src/notificationplugin.tsx
Due: prettier, eslint

Add doc and improve API
  docs/source/extension/ui_helpers.rst
  packages/apputils-extension/src/notificationplugin.tsx
  packages/apputils-extension/style/notification.css
  packages/apputils/src/notification.ts
Due: prettier, eslint, stylelint

Update snapshots
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/documentation/customization.test.ts-snapshots/customized-terminal-position-single-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-terminal-position-single-documentation-linux.png
  galata/test/documentation/debugger.test.ts
  galata/test/documentation/general.test.ts
  galata/test/documentation/general.test.ts-snapshots/file-editor-overview-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-formats-altair-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-formats-html-display-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-formats-nteract-vdom-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/notebook-ui-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/terminal-layout-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-chinese-documentation-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/dark-theme-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/launch-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/simple-mode-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-center-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-markdown-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/filebrowser-right-jupyterlab-linux.png
Due: prettier, eslint

Add more integration tests
  galata/test/jupyterlab/notification.test.ts
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-center-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-markdown-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-with-actions-jupyterlab-linux.png
Due: prettier, eslint

Add unit tests
  packages/apputils/src/notification.ts
  packages/apputils/test/notification.spec.ts
Due: prettier, eslint

Pass notification data to action callback. Suppress action.args from command interface - options.data will be used instead
  docs/source/extension/ui_helpers.rst
  packages/apputils-extension/src/notificationplugin.tsx
  packages/apputils/src/notification.ts
Due: prettier, eslint

Fix CI
  examples/app/index.js
  galata/test/jupyterlab/notification.test.ts
  packages/apputils-extension/src/notificationplugin.tsx
Due: prettier, eslint

More robust VDOM test
  galata/test/documentation/general.test.ts
Due: prettier, eslint

Revert "Pass notification data to action callback."
  docs/source/extension/ui_helpers.rst
  packages/apputils-extension/src/notificationplugin.tsx
  packages/apputils/src/notification.ts
Due: prettier, eslint

Add command to display the notification list
  packages/apputils-extension/schema/notification.json
  packages/apputils-extension/src/notificationplugin.tsx
  packages/apputils-extension/style/notification.css
  packages/logconsole-extension/schema/plugin.json
Due: prettier, eslint, stylelint

Markdown parser (and sanitizer) are optional dependencies.
  examples/federated/core_package/package.json
  packages/apputils-extension/src/notificationplugin.tsx
Due: prettier, eslint

Apply suggestions from review
  docs/source/extension/ui_helpers.rst
  packages/apputils-extension/src/notificationplugin.tsx
  packages/apputils-extension/style/notification.css
  packages/apputils/src/notification.ts
  packages/apputils/test/notification.spec.ts
  packages/ui-components/style/icons/statusbar/bell.svg
Due: prettier, eslint, stylelint

Apply suggestions from code review
  docs/source/extension/ui_helpers.rst
  packages/apputils/src/notification.ts
Due: prettier, eslint

[skip ci] Update snapshots
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/documentation/customization.test.ts-snapshots/customized-terminal-position-single-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-terminal-position-single-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-editor-overview-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-formats-html-display-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-formats-nteract-vdom-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-jupyterlab-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/terminal-layout-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-chinese-documentation-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/dark-theme-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/launch-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/simple-mode-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/filebrowser-right-jupyterlab-linux.png
Due: prettier

Apply suggestions from code review
  packages/apputils-extension/src/notificationplugin.tsx
Due: prettier, eslint

Apply second review suggestions
  packages/apputils-extension/src/notificationplugin.tsx
  packages/apputils-extension/style/notification.css
  packages/ui-components/style/icons.css
Due: prettier, eslint, stylelint

Use relative width
  packages/apputils-extension/src/notificationplugin.tsx
  packages/apputils-extension/style/notification.css
Due: prettier, eslint, stylelint

Removes triggering an event when replacing pasted text
  packages/codemirror/src/editor.ts
Due: prettier, eslint

Bump memory-leak action
  .github/workflows/benchmark.yml
Due: none

Lint code
  packages/notebook-extension/src/index.ts
  packages/notebook/src/notebooktools.ts
Due: prettier, eslint

Removes triggering an event when replacing pasted text (#13230)
  packages/codemirror/src/editor.ts
Due: prettier, eslint

Fix unit tests
  packages/notebook/test/notebooktools.spec.ts
Due: prettier, eslint

Bump memory-leak action (#13231)
  .github/workflows/benchmark.yml
Due: none

Remove Yjs locking mechanism (#13222)
  docs/source/user/images/rtc_shared_cursors.png
  docs/source/user/images/sync_editors.png
  docs/source/user/rtc.rst
  jupyterlab/handlers/yjs_echo_ws.py
  jupyterlab/labapp.py
  packages/docprovider-extension/src/index.ts
  packages/docprovider/package.json
  packages/docprovider/src/mock.ts
  packages/docprovider/src/tokens.ts
  packages/docprovider/src/yprovider.ts
  packages/docprovider/test/yprovider.spec.ts
  packages/docregistry/src/context.ts
  setup.cfg
Due: prettier, eslint

Review
  jupyterlab/labapp.py
  packages/docprovider/src/tokens.ts
Due: prettier, eslint

Review
  packages/notebook/src/actions.tsx
  packages/notebook/src/model.ts
  packages/notebook/src/widget.ts
  packages/notebook/src/windowing.ts
  packages/notebook/test/actions.spec.ts
  packages/notebook/test/widget.spec.ts
  packages/shared-models/src/api.ts
  packages/shared-models/src/ymodels.ts
Due: prettier, eslint

Review (#13232)
  jupyterlab/labapp.py
  packages/docprovider/src/tokens.ts
Due: prettier, eslint

Fixes
  packages/notebook/src/actions.tsx
  packages/notebook/src/model.ts
  packages/notebook/src/widget.ts
  packages/notebook/test/widget.spec.ts
  packages/shared-models/src/api.ts
  packages/shared-models/src/ymodels.ts
Due: prettier, eslint

Fix memory leaks (#13229)
  .github/workflows/benchmark.yml
  packages/codeeditor/src/jsoneditor.ts
  packages/notebook-extension/src/index.ts
  packages/notebook/src/notebooktools.ts
  packages/notebook/test/notebooktools.spec.ts
Due: prettier, eslint

Backport PR #13229: Fix memory leaks
  packages/codeeditor/src/jsoneditor.ts
  packages/notebook-extension/src/index.ts
  packages/notebook/src/notebooktools.ts
  packages/notebook/test/notebooktools.spec.ts
Due: prettier, eslint

Backport PR #13229: Fix memory leaks (#13235)
  packages/codeeditor/src/jsoneditor.ts
  packages/notebook-extension/src/index.ts
  packages/notebook/src/notebooktools.ts
  packages/notebook/test/notebooktools.spec.ts
Due: prettier, eslint

Automated Changelog Entry for 3.5.0rc0 on 3.5.x
  CHANGELOG.md
Due: prettier

Automated Changelog Entry for 3.5.0rc0 on 3.5.x (#13236)
  CHANGELOG.md
Due: prettier

[ci skip] Publish 3.5.0rc0
  .bumpversion.cfg
  dev_mode/package.json
  jupyterlab/_version.py
  jupyterlab/staging/package.json
  jupyterlab/staging/yarn.lock
Due: prettier

Allow empty notebook (#13141)
  packages/notebook/src/actions.tsx
  packages/notebook/src/model.ts
  packages/notebook/src/truststatus.tsx
  packages/notebook/src/widget.ts
  packages/notebook/src/windowing.ts
  packages/notebook/test/model.spec.ts
  packages/notebook/test/widget.spec.ts
  packages/shared-models/package.json
  packages/shared-models/src/api.ts
  packages/shared-models/src/ymodels.ts
Due: prettier, eslint

Backport PR #13235: Backport PR #13229 on branch 3.5.x (Fix memory leaks)
  packages/codeeditor/src/jsoneditor.ts
  packages/notebook-extension/src/index.ts
  packages/notebook/src/notebooktools.ts
  packages/notebook/test/notebooktools.spec.ts
Due: prettier, eslint

Fix following rebase
  packages/shared-models/src/ymodels.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: \.json$, \.(md|markdown|mdown)$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
