Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

stylelint:
  name: stylelint
  entry: npm run stylelint:files
  language: node

REST API is under a namespace in github-script
  .github/workflows/benchmark-report.yml
Due: none

REST API is under a namespace in github-script (#13043)
  .github/workflows/benchmark-report.yml
Due: none

Update Python icon to be PSF Trademark compliant (#13035)
  galata/test/documentation/customization.test.ts-snapshots/customized-context-menu-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/customized-terminal-position-single-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-context-menu-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-terminal-position-single-documentation-linux.png
  galata/test/documentation/debugger.test.ts-snapshots/debugger-breakpoint-documentation-linux.png
  galata/test/documentation/general.test.ts
  galata/test/documentation/general.test.ts-snapshots/file-formats-open-with-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/files-create-text-file-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/files-menu-top-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/files-shareable-link-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/jupyterlab-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/notebook-ui-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/terminal-layout-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-chinese-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-settings-documentation-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/dark-theme-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/launch-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/simple-mode-jupyterlab-linux.png
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-file-new-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/filebrowser-right-jupyterlab-linux.png
  packages/ui-components/style/icons/filetype/python.svg
Due: prettier, eslint

Backport PR #13035: Update Python icon to be PSF Trademark compliant
  packages/ui-components/style/icons/filetype/python.svg
Due: none

Initial implementation of more customizable hover box
  packages/completer/src/widget.ts
  packages/ui-components/src/hoverbox.ts
Due: prettier, eslint

Make sure imports are unique in ensure-package
  buildutils/src/ensure-package.ts
Due: prettier, eslint

Fix example build
  examples/filebrowser/src/index.ts
Due: prettier, eslint

Audit Array.from() and IDragEvent
  buildutils/src/bump-js-major.ts
  buildutils/src/ensure-package.ts
  galata/package.json
  galata/src/inpage/index.ts
  packages/cell-toolbar/package.json
  packages/cell-toolbar/src/celltoolbartracker.ts
  packages/codeeditor/src/widget.ts
  packages/filebrowser/src/crumbs.ts
  packages/filebrowser/src/listing.ts
  packages/notebook/src/widget.ts
Due: prettier, eslint

Leave staging/package.json be
  jupyterlab/staging/package.json
Due: prettier

Some more test fixes
  packages/completer/test/model.spec.ts
  packages/completer/test/widget.spec.ts
  packages/filebrowser/test/model.spec.ts
Due: prettier, eslint

Audit some usages of each()
  packages/apputils/src/thememanager.ts
  packages/console/package.json
  packages/console/src/widget.ts
  packages/csvviewer/package.json
  packages/csvviewer/src/toolbar.ts
  packages/debugger/src/handlers/console.ts
  packages/debugger/src/sources.ts
  packages/filebrowser/src/listing.ts
  packages/filebrowser/src/model.ts
  packages/help-extension/package.json
  packages/help-extension/src/index.tsx
  packages/mainmenu-extension/src/index.ts
  packages/notebook/src/notebooktools.ts
  packages/notebook/src/panel.ts
  packages/notebook/src/widget.ts
Due: prettier, eslint

Fix notebook tests
  packages/notebook/src/widget.ts
  packages/notebook/test/widget.spec.ts
Due: prettier, eslint

Finish audit of each()
  examples/filebrowser/package.json
  examples/filebrowser/src/index.ts
  packages/notebook/src/widget.ts
  packages/observables/src/undoablelist.ts
  packages/services/package.json
  packages/services/src/contents/index.ts
  packages/services/src/kernel/manager.ts
  packages/services/src/session/manager.ts
Due: prettier, eslint

Get tests to build
  packages/apputils/test/dialog.spec.tsx
  packages/docregistry/test/registry.spec.ts
  packages/filebrowser/test/listing.spec.ts
  testutils/src/jest-shim.ts
  tsconfigbase.test.json
Due: prettier, eslint

Fix cell remove logic
  packages/notebook/src/widget.ts
Due: prettier, eslint

Fix docregistry tests
  packages/docregistry/test/registry.spec.ts
Due: prettier, eslint

Update packages/docregistry/src/registry.ts
  packages/docregistry/src/registry.ts
Due: prettier, eslint

Update packages/notebook/test/model.spec.ts
  packages/notebook/test/model.spec.ts
Due: prettier, eslint

skip for now test with ipywidgets
  galata/test/documentation/general.test.ts
Due: prettier, eslint

Remove console.debug
  packages/lsp/src/connection_manager.ts
Due: prettier, eslint

.p- => .lm-, h/t @fcollonval
  galata/src/helpers/sidebar.ts
  packages/collaboration/src/menu.ts
  packages/fileeditor-extension/src/commands.ts
  packages/ui-components/src/icon/widgets/commandpalettesvg.ts
  packages/ui-components/src/icon/widgets/menusvg.ts
Due: prettier, eslint

Fix more iterator .done glitches, h/t @fcollonval
  packages/application-extension/src/index.tsx
Due: prettier, eslint

Remove phosphor
  builder/src/webpack.config.base.ts
  examples/federated/package.json
  examples/federated/phosphor_package/index.js
  examples/federated/phosphor_package/package.json
  jupyterlab/upgrade_extension.py
  packages/csvviewer/README.md
  packages/ui-components/src/components/iframe.ts
  yarn.lock
Due: prettier, eslint

Fix CSS comments
  buildutils/src/ensure-package.ts
  packages/htmlviewer/style/base.css
  packages/outputarea/style/base.css
  packages/pdf-extension/style/base.css
  packages/ui-components/style/iframe.css
Due: prettier, eslint, stylelint

Update packages/fileeditor-extension/src/commands.ts
  packages/fileeditor-extension/src/commands.ts
Due: prettier, eslint

Use find() instead of a loop to find the context menu widget
  packages/application-extension/src/index.tsx
Due: prettier, eslint

Make isEnabled check easier to read
  packages/application-extension/src/index.tsx
Due: prettier, eslint

More test fixes
  packages/notebook/test/actions.spec.ts
  packages/notebook/test/model.spec.ts
Due: prettier, eslint

One fewer loop through widgets
  packages/docmanager-extension/src/index.tsx
Due: prettier, eslint

Fix done checks of iterators
  galata/src/helpers/kernel.ts
  packages/filebrowser-extension/src/index.ts
  packages/mainmenu-extension/src/index.ts
Due: prettier, eslint

Update links
  docs/source/extension/extension_points.rst
  docs/source/extension/virtualdom.rst
Due: none

Fix TOC duplicate key
  packages/toc/src/tocitem.tsx
  packages/toc/src/toctree.tsx
Due: prettier, eslint

Update snapshots
  galata/test/documentation/export_notebook.test.ts-snapshots/exporting-menu-documentation-linux.png
  galata/test/jupyterlab/notebook-create.test.ts-snapshots/opened-menu-file-jupyterlab-linux.png
Due: none

Use yield* instead of `chain()`
  packages/notebook/src/notebooktools.ts
  packages/terminal/package.json
  yarn.lock
Due: prettier, eslint

Refactor findTab() function
  galata/test/documentation/general.test.ts-snapshots/terminal-layout-documentation-linux.png
  packages/application-extension/src/index.tsx
Due: prettier, eslint

Old command jupyter lab did not work on Windows 11
  docs/source/getting_started/starting.rst
Due: none

Backport PR #13040: Reorder of webpackConfig merge (#13042)
  builder/src/extensionConfig.ts
Due: prettier, eslint

Fix GitHub script variable name
  .github/workflows/benchmark-report.yml
Due: none

Path conditions:
  prettier: any of: \.json$, \.(md|markdown|mdown)$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
