Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

stylelint:
  name: stylelint
  entry: npm run stylelint:files
  language: node

Make `ILabShell` optional in the logconsole extension (#17430)
  packages/logconsole-extension/package.json
  packages/logconsole-extension/src/index.tsx
  packages/logconsole-extension/style/index.css
  packages/logconsole-extension/style/index.js
  packages/logconsole-extension/tsconfig.json
  yarn.lock
Due: prettier, eslint, stylelint

fix visual indication for drag and drop in codemirror
  packages/codemirror/src/editor.ts
Due: prettier, eslint

updated changes
  packages/codemirror/src/extension.ts
Due: prettier, eslint

Update editor.ts
  packages/codemirror/src/editor.ts
Due: prettier, eslint

Fix usage of `ITerminalAPIClient` in `TerminalConnection` (#17437)
  packages/services/src/terminal/default.ts
  packages/services/src/terminal/manager.ts
  packages/services/src/terminal/terminal.ts
Due: prettier, eslint

Add static function to check if a node is unsupported.
  packages/documentsearch/src/providers/genericsearchprovider.ts
Due: prettier, eslint

show-read-only-indicator-in-collab-mode
  packages/docmanager-extension/src/index.tsx
  packages/docregistry/src/context.ts
  packages/docregistry/src/default.ts
Due: prettier, eslint

modify-current-in-db-while-restoration-is-deferred
  galata/test/jupyterlab/general.test.ts
  packages/application-extension/src/index.tsx
  packages/application/src/layoutrestorer.ts
  packages/apputils-extension/src/index.ts
Due: prettier, eslint

fix: toolbars to have unique accessible labels
  packages/application-extension/src/topbar.ts
  packages/cell-toolbar/src/celltoolbartracker.ts
  packages/debugger/src/panels/breakpoints/index.ts
  packages/debugger/src/panels/callstack/index.ts
  packages/debugger/src/panels/kernelSources/index.tsx
  packages/debugger/src/panels/sources/index.tsx
  packages/debugger/src/panels/variables/index.ts
  packages/extensionmanager/src/widget.tsx
  packages/filebrowser/src/browser.ts
  packages/running/src/index.tsx
  packages/settingeditor/src/raweditor.ts
  packages/toc-extension/src/index.ts
  packages/ui-components/src/components/sidepanel.ts
  packages/ui-components/src/components/toolbar.tsx
Due: prettier, eslint

Simplify running list code by leveraging new `Widget.isVisible`
  packages/running/src/index.tsx
Due: prettier, eslint

Fix integrity
  jupyterlab/tests/mock_packages/mimeextension/package.json
  packages/rendermime-interfaces/package.json
  yarn.lock
Due: prettier

Try dropping `overflow-anchor: none;` to see if tests pass
  packages/ui-components/style/windowedlist.css
Due: prettier, stylelint

fix: addressing review comments
  packages/application-extension/src/topbar.ts
  packages/cell-toolbar/src/celltoolbartracker.ts
  packages/debugger/src/panels/breakpoints/index.ts
  packages/debugger/src/panels/callstack/index.ts
  packages/debugger/src/panels/kernelSources/index.tsx
  packages/debugger/src/panels/sources/index.tsx
  packages/debugger/src/panels/variables/index.ts
  packages/extensionmanager/src/widget.tsx
  packages/filebrowser/src/browser.ts
  packages/running/src/index.tsx
  packages/settingeditor/src/raweditor.ts
  packages/toc-extension/src/index.ts
  packages/ui-components/src/components/toolbar.tsx
Due: prettier, eslint

remove unwanted code
  packages/running/src/index.tsx
Due: prettier, eslint

Prevent duplicate shortcut addition
  packages/shortcuts-extension/src/components/ShortcutInput.tsx
Due: prettier, eslint

testing
  packages/shortcuts-extension/test/components/ShortcutUI.spec.ts
Due: prettier, eslint

Testing unit tests
  packages/shortcuts-extension/test/components/ShortcutInput.spec.tsx
  packages/shortcuts-extension/test/components/ShortcutUI.spec.ts
Due: prettier, eslint

update variable name
  packages/shortcuts-extension/test/components/ShortcutInput.spec.ts
Due: prettier, eslint

new file for ShortCutInput
  packages/shortcuts-extension/test/components/ShortcutInput.spec.ts
  packages/shortcuts-extension/test/components/ShortcutInput.spec.tsx
Due: prettier, eslint

removed unwanted comments
  packages/shortcuts-extension/test/components/ShortcutUI.spec.ts
Due: prettier, eslint

Fix visual indication for drag and drop in editor (#17438)
  packages/codemirror/src/extension.ts
Due: prettier, eslint

fix: build issues
  packages/cell-toolbar/package.json
  packages/cell-toolbar/tsconfig.json
  packages/cell-toolbar/tsconfig.test.json
  yarn.lock
Due: prettier

fix: test failures
  packages/cell-toolbar/tsconfig.json
  packages/cell-toolbar/tsconfig.test.json
Due: prettier

Mark as not scrolling on `scrollend`
  packages/ui-components/src/components/windowedlist.ts
Due: prettier, eslint

Increase fallback timeout, update TODO comment
  packages/ui-components/src/components/windowedlist.ts
Due: prettier, eslint

Fix linting
  packages/cell-toolbar/tsconfig.json
  packages/cell-toolbar/tsconfig.test.json
Due: prettier

Do not use `requestAnimationFrame` for deferral of total size update,
  packages/ui-components/src/components/windowedlist.ts
Due: prettier, eslint

Add distinct accessible aria label for each toolbar (#17441)
  packages/application-extension/src/topbar.ts
  packages/cell-toolbar/package.json
  packages/cell-toolbar/src/celltoolbartracker.ts
  packages/cell-toolbar/tsconfig.json
  packages/cell-toolbar/tsconfig.test.json
  packages/debugger/src/panels/breakpoints/index.ts
  packages/debugger/src/panels/callstack/index.ts
  packages/debugger/src/panels/kernelSources/index.tsx
  packages/debugger/src/panels/sources/index.tsx
  packages/debugger/src/panels/variables/index.ts
  packages/extensionmanager/src/widget.tsx
  packages/filebrowser/src/browser.ts
  packages/running/src/index.tsx
  packages/settingeditor/src/raweditor.ts
  packages/toc-extension/src/index.ts
  packages/ui-components/src/components/sidepanel.ts
  packages/ui-components/src/components/toolbar.tsx
  yarn.lock
Due: prettier, eslint

Add support for system clipboard
  packages/apputils/src/clipboard.ts
  packages/notebook/src/actions.tsx
  packages/notebook/src/default-toolbar.tsx
  packages/notebook/test/actions.spec.ts
  packages/notebook/test/default-toolbar.spec.ts
Due: prettier, eslint

Deduplicate
  yarn.lock
Due: none

Do not try to prettier `.mypy_cache`
  .prettierignore
Due: none

use-canSave-instead-of-writable
  packages/docmanager/src/savehandler.ts
  packages/docregistry/src/context.ts
  packages/docregistry/src/registry.ts
Due: prettier, eslint

Update documentation snapshot
  galata/test/documentation/general.test.ts-snapshots/jupyterlab-documentation-linux.png
Due: none

Try to remove `minHeight` again now that tests pass
  packages/ui-components/src/components/windowedlist.ts
Due: prettier, eslint

Fix read-only indicator not showing in RTC docprovider (#17440)
  packages/docmanager-extension/src/index.tsx
  packages/docmanager/src/savehandler.ts
  packages/docregistry/src/context.ts
  packages/docregistry/src/default.ts
  packages/docregistry/src/registry.ts
Due: prettier, eslint

Update the resize test to not rely on `minHeight` property
  galata/test/jupyterlab/windowed-notebook.test.ts
Due: prettier, eslint

Try to restore `overflow-anchor: none`
  packages/ui-components/style/windowedlist.css
Due: prettier, stylelint

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$, but not: \.ipynb$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
