Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # skip any check that needs internet access
  skip: [check-jsonschema, prettier, eslint, stylelint, integrity]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: .bumpversion.cfg

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: ["--line-length", "100"]

  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
        files: \.py$
        args: [--profile=black]

  # - repo: https://github.com/pycqa/flake8
  #   rev: 4.0.1
  #   hooks:
  #     - id: flake8
  #       additional_dependencies:
  #         [
  #           "flake8-bugbear==20.1.4",
  #           "flake8-logging-format==0.6.0",
  #           "flake8-implicit-str-concat==0.2.0",
  #         ]

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.10.2
    hooks:
      - id: check-jsonschema
        name: 'Check GitHub Workflows'
        files: ^\.github/workflows/
        types: [yaml]
        args: ['--schemafile', 'https://json.schemastore.org/github-workflow']

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, markdown, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'npm run stylelint:files'
        language: node
        types: [css]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [push]

downgrade package-json to v7.x
  buildutils/package.json
  yarn.lock
Due: prettier

Test pinning matplotlib-inline
  pyproject.toml
Due: none

Fix CodeQL
  packages/apputils/src/dialog.tsx
Due: prettier, eslint

rename isUntitled to hasAutoName
  packages/docmanager-extension/src/index.tsx
  packages/docregistry/src/registry.ts
  packages/fileeditor-extension/src/commands.ts
  packages/notebook-extension/src/index.ts
Due: prettier, eslint

New token providing `IWidgetOpener` Fixes #12965
  docs/source/extension/extension_migration.rst
  packages/docmanager-extension/src/index.tsx
  packages/docmanager/src/manager.ts
  packages/docmanager/src/tokens.ts
  packages/filebrowser/test/crumbs.spec.ts
  packages/filebrowser/test/model.spec.ts
  packages/filebrowser/test/openfiledialog.spec.ts
Due: prettier, eslint

Fix missing import
  packages/docmanager/src/manager.ts
  packages/filebrowser/test/crumbs.spec.ts
  packages/filebrowser/test/model.spec.ts
  packages/filebrowser/test/openfiledialog.spec.ts
Due: prettier, eslint

Pin `jupyterlab_widgets==1.1.1` in `docs-screenshots`
  pyproject.toml
Due: none

Add overflow to MIME Renderer
  packages/debugger/src/panels/variables/mimerenderer.ts
  packages/debugger/style/base.css
Due: prettier, eslint, stylelint

Correct object to add CSS class to
  packages/debugger/src/panels/variables/mimerenderer.ts
Due: prettier, eslint

Fix dependabot alerts for ejs and got (#12956)
  buildutils/package.json
  dev_mode/package.json
  yarn.lock
Due: prettier

Add CSS class to the `content` layer of MIME renderer
  packages/debugger/src/panels/variables/mimerenderer.ts
Due: prettier, eslint

Rename and move renderer CSS class
  packages/debugger/src/panels/variables/mimerenderer.ts
  packages/debugger/style/base.css
  packages/debugger/style/variables.css
Due: prettier, eslint, stylelint

Pin `jupyterlab_widgets==1.1.1` in `docs-screenshots` (#12967)
  pyproject.toml
Due: none

Fix plugin name and export it
  packages/docmanager-extension/src/index.tsx
Due: prettier, eslint

Add `(developer)` label to the developer facing commands
  jupyterlab/labextensions.py
Due: none

Fix description
  jupyterlab/labextensions.py
Due: none

Translate dialog default buttons
  packages/apputils-extension/src/workspacesplugin.ts
  packages/apputils/src/dialog.tsx
  packages/debugger/src/panels/breakpoints/index.ts
  packages/docmanager-extension/src/index.tsx
  packages/docmanager/src/dialogs.ts
  packages/docmanager/src/widgetmanager.ts
  packages/extensionmanager/src/companions.tsx
  packages/extensionmanager/src/dialog.tsx
  packages/filebrowser/src/opendialog.ts
  packages/notebook/src/actions.tsx
  packages/notebook/src/default-toolbar.tsx
  packages/running/src/index.tsx
Due: prettier, eslint

Fix translation of new launcher button
  packages/application/src/shell.ts
  packages/translation-extension/src/index.ts
  packages/ui-components/src/icon/widgets/tabbarsvg.ts
Due: prettier, eslint

Fix various translation related fixme
  packages/debugger/src/handler.ts
  packages/docmanager-extension/src/index.tsx
  packages/docregistry/src/context.ts
  packages/filebrowser-extension/src/index.ts
  packages/filebrowser/src/listing.ts
  packages/settingeditor/src/raweditor.ts
Due: prettier, eslint

Fix TS error
  packages/application/src/shell.ts
Due: prettier, eslint

Propagate translator to OutputArea and Stdin
  packages/cells/src/widget.ts
  packages/outputarea/package.json
  packages/outputarea/src/widget.ts
Due: prettier, eslint

Fix integrity
  packages/outputarea/package.json
  packages/outputarea/tsconfig.json
  packages/outputarea/tsconfig.test.json
Due: prettier

Apply code review suggestions - rename classes and separate class for child
  packages/debugger/src/panels/variables/mimerenderer.ts
  packages/debugger/style/variables.css
Due: prettier, eslint, stylelint

Fix semicolon
  packages/debugger/style/variables.css
Due: prettier, stylelint

Remove unused TS comment
  packages/application/src/shell.ts
Due: prettier, eslint

Freshen JL dependency
  packages/terminal/package.json
Due: prettier

Drop the pin on `jupyterlab_widgets` in the docs dependencies
  pyproject.toml
Due: none

Add context menu support for zoom and clipboard.
  package.json
  src/index.ts
Due: prettier, eslint

Use "scale" instead of "zoom"
  src/index.ts
Due: prettier, eslint

resolve some lint issues
  src/index.ts
Due: prettier, eslint

Don't need to alias this to that
  src/index.ts
Due: prettier, eslint

Support subprotocols in kernel restart
  packages/services/src/kernel/default.ts
Due: prettier, eslint

Update snapshots
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-edit-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-create.test.ts-snapshots/opened-menu-edit-jupyterlab-linux.png
Due: prettier

Drop the pin on `jupyterlab_widgets` in the docs dependencies (#12979)
  pyproject.toml
Due: none

Add `(developer)` label to the developer facing commands (#12970)
  jupyterlab/labextensions.py
Due: none

Fix copy the reference data for final report
  .github/workflows/benchmark.yml
Due: none

Update to TypeScript 4.7 in the migration guide
  docs/source/extension/extension_migration.rst
Due: none

Support subprotocols in kernel restart (#12981)
  packages/services/src/kernel/default.ts
Due: prettier, eslint

Add default shortcuts for moving cells (#9031)
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-edit-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-create.test.ts-snapshots/opened-menu-edit-jupyterlab-linux.png
  packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/src/index.ts
Due: prettier, eslint

Update to TypeScript 4.7 in the migration guide (#12985)
  docs/source/extension/extension_migration.rst
Due: none
