Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

stylelint:
  name: stylelint
  entry: npm run stylelint:files
  language: node

Prettify
  packages/notebook/src/actions.tsx
  packages/notebook/src/widget.ts
Due: prettier, eslint

Backport PR #13223: Update example documentation: `lab -> app`
  docs/source/developer/components.rst
Due: none

Enable RTC when starting JL as part of the Gitpod setup
  .gitpod.yml
Due: none

Added scroll to RunningSidePanel to make all sections accessible on browser zoom
  packages/ui-components/style/sidepanel.css
Due: prettier, stylelint

Enable RTC when starting JL as part of the Gitpod setup (#13239)
  .gitpod.yml
Due: none

Added scroll to RunningSidePanel to make all sections accessible on browser zoom (#13241)
  packages/ui-components/style/sidepanel.css
Due: prettier, stylelint

More rebase fix
  packages/notebook/src/model.ts
Due: prettier, eslint

Update snapshot
  galata/test/documentation/export_notebook.test.ts-snapshots/exporting-slide-type-documentation-linux.png
Due: none

Backport PR #13235: Backport PR #13229 on branch 3.5.x (Fix memory leaks) (#13237)
  packages/codeeditor/src/jsoneditor.ts
  packages/notebook-extension/src/index.ts
  packages/notebook/src/notebooktools.ts
  packages/notebook/test/notebooktools.spec.ts
Due: prettier, eslint

Backport PR #13223: Update example documentation: `lab -> app` (#13238)
  docs/source/developer/components.rst
Due: none

Fix code scanning warning
  packages/rendermime/src/renderers.ts
Due: prettier, eslint

More rebase fix
  packages/notebook/test/widget.spec.ts
  packages/shared-models/src/api.ts
Due: prettier, eslint

Ansi/link tests + fix
  packages/rendermime/src/renderers.ts
  packages/rendermime/test/factories.spec.ts
Due: prettier, eslint

Lint fixes
  packages/rendermime/src/renderers.ts
  packages/rendermime/test/factories.spec.ts
Due: prettier, eslint

Fix shared model tests
  packages/shared-models/src/ymodels.ts
  packages/shared-models/test/ymodels.spec.ts
Due: prettier, eslint

Improve shared-models API (#13168)
  .github/workflows/linuxjs-tests.yml
  galata/package.json
  galata/src/inpage/index.ts
  galata/tsconfig.json
  packages/cells/src/model.ts
  packages/cells/src/searchprovider.ts
  packages/cells/src/widget.ts
  packages/codeeditor/src/editor.ts
  packages/codeeditor/src/jsoneditor.ts
  packages/codeeditor/src/viewer.ts
  packages/codeeditor/src/widget.ts
  packages/codeeditor/test/editor.spec.ts
  packages/completer/src/connectorproxy.ts
  packages/completer/src/default/kernelprovider.ts
  packages/completer/src/handler.ts
  packages/completer/src/tokens.ts
  packages/completer/test/handler.spec.ts
  packages/debugger/src/factory.ts
  packages/debugger/src/handlers/editor.ts
  packages/docregistry/src/default.ts
  packages/nbformat/src/index.ts
  packages/notebook/src/actions.tsx
  packages/notebook/src/celllist.ts
  packages/notebook/src/model.ts
  packages/notebook/src/widget.ts
  packages/notebook/test/actions.spec.ts
  packages/notebook/test/default-toolbar.spec.ts
  packages/notebook/test/model.spec.ts
  packages/notebook/test/widget.spec.ts
  packages/settingeditor/package.json
  packages/settingeditor/src/raweditor.ts
  packages/settingeditor/tsconfig.json
  packages/shared-models/.vscode/launch.json
  packages/shared-models/src/api.ts
  packages/shared-models/src/ymodels.ts
  packages/shared-models/test/ymodels.spec.ts
Due: prettier, eslint

Optimize text mimerenderer: ansi vs autolink (#13202)
  packages/rendermime/src/renderers.ts
  packages/rendermime/test/factories.spec.ts
  testutils/src/jest-config.ts
Due: prettier, eslint

Fix illegible white on yellow stacktrace in dark theme
  packages/theme-dark-extension/style/theme.css
Due: prettier, stylelint

Update to lerna 6
  package.json
  yarn.lock
Due: prettier

Do not show side panel scrollbar when not needed
  packages/ui-components/style/sidepanel.css
Due: prettier, stylelint

Update packages/theme-dark-extension/style/theme.css
  packages/theme-dark-extension/style/theme.css
Due: prettier, stylelint

lint
  packages/theme-dark-extension/style/theme.css
Due: prettier, stylelint

Remove unused styles:
  packages/apputils-extension/style/base.css
  packages/apputils-extension/style/redirect.css
  packages/filebrowser/style/base.css
  packages/outputarea/style/base.css
  packages/settingeditor/style/base.css
Due: prettier, stylelint

Fix abandoned style and lettercase typo in `jp-PluginList-entry-label`
  packages/settingeditor/src/pluginlist.tsx
  packages/settingeditor/style/base.css
Due: prettier, eslint, stylelint

Check for unused file browser styles in Galata
  galata/src/helpers/index.ts
  galata/src/helpers/menu.ts
  galata/src/helpers/style.ts
  galata/src/jupyterlabpage.ts
  galata/test/jupyterlab/sidebars.test.ts
  galata/test/jupyterlab/styles.test.ts
  galata/tsconfig.json
Due: prettier, eslint

Remove unused `.lm-TabBar-WindowTabLabel` rule.
  packages/application/style/tabs.css
Due: prettier, stylelint

Update README.md
  README.md
Due: prettier

Fix RTD documentation build
  tsconfigdoc.json
Due: prettier

Update README.md (#13257)
  README.md
Due: prettier

Update to lerna 6 (#13251)
  package.json
  yarn.lock
Due: prettier

Do not show side panel scrollbar when not needed (#13253)
  packages/ui-components/style/sidepanel.css
Due: prettier, stylelint

Link the background colors and the ui font colors in the relevant css files.
  packages/application/style/menus.css
  packages/application/style/sidepanel.css
  packages/application/style/tabs.css
  packages/launcher/style/base.css
  packages/statusbar/src/style/variables.ts
  packages/ui-components/style/switch.css
Due: prettier, eslint, stylelint

Don't dispose the notebook metadata editor on active cell change
  packages/notebook/src/notebooktools.ts
Due: prettier, eslint

Turn off animations for toast in integration test
  galata/test/jupyterlab/notification.test.ts
Due: prettier, eslint

Correct working directory path sample code
  docs/source/getting_started/starting.rst
Due: none

Remove `generate_changelog.py` script
  scripts/generate_changelog.py
Due: none

Fixes user package (#12548)
  .github/labeler.yml
  .github/workflows/linuxjs-tests.yml
  examples/federated/core_package/package.json
  packages/user/test/menu.spec.ts
  packages/user/test/model.spec.ts
Due: prettier, eslint

Fix versions
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
Due: prettier

Fix issue introduced when backporting
  packages/docprovider/src/yprovider.ts
Due: prettier, eslint

Integrity
  packages/docprovider-extension/style/index.css
  packages/docprovider-extension/style/index.js
  packages/docprovider-extension/tsconfig.json
  packages/docprovider/tsconfig.json
  packages/docprovider/tsconfig.test.json
  packages/shared-models/src/ymodels.ts
  yarn.lock
Due: prettier, eslint, stylelint

Path conditions:
  prettier: any of: \.json$, \.(md|markdown|mdown)$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
