Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

stylelint:
  name: stylelint
  entry: npm run stylelint:files
  language: node

fix-lint
  packages/settingeditor-extension/src/index.ts
Due: prettier, eslint

Remove `(beta)` from the 4.3 changelog
  CHANGELOG.md
Due: none

Maintain autosave timers while disconnected
  packages/docmanager/src/savehandler.ts
Due: prettier, eslint

Remove `(beta)` from the 4.3 changelog (#16902)
  CHANGELOG.md
Due: none

Add test for maintain autosave timers while disconnected
  packages/docmanager/test/savehandler.spec.ts
Due: prettier, eslint

Live update the form schema if it changed
  packages/settingeditor/src/SettingsFormEditor.tsx
Due: prettier, eslint

Fix potential inconsistent state update
  packages/settingeditor/src/SettingsFormEditor.tsx
Due: prettier, eslint

Revert "Revert "Alternate description for disabled filters""
  packages/documentsearch/src/searchview.tsx
  packages/documentsearch/src/tokens.ts
Due: prettier, eslint

Revert "Alternate description for disabled filters"
  packages/documentsearch/src/searchview.tsx
  packages/documentsearch/src/tokens.ts
Due: prettier, eslint

Fix invalidation on backspace in case of an empty line
  packages/completer/src/handler.ts
Due: prettier, eslint

Export user preference settings to a json file (#16896)
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/jupyterlab/settings.test.ts
  packages/settingeditor-extension/src/index.ts
Due: prettier, eslint

align ruff versions
  pyproject.toml
Due: none

Invert old and new content comment
  packages/services/src/contents/index.ts
Due: prettier, eslint

fix ruff error
  jupyterlab/commands.py
Due: none

Invert old and new content comment (#16918)
  packages/services/src/contents/index.ts
Due: prettier, eslint

Backport PR #16918: Fix inconsistency in `Contents.IChangedArgs` documentation
  packages/services/src/contents/index.ts
Due: prettier, eslint

Reuse serverSettings when reopen an existing terminal
  packages/terminal-extension/src/index.ts
Due: prettier, eslint

Linting
  packages/terminal-extension/src/index.ts
Due: prettier, eslint

Backport PR #16918: Fix inconsistency in `Contents.IChangedArgs` documentation (#16919)
  packages/services/src/contents/index.ts
Due: prettier, eslint

Reuse serverSettings when reopen an existing terminal (#16921)
  packages/terminal-extension/src/index.ts
Due: prettier, eslint

Backport PR #16921: Reuse serverSettings when reopen an existing terminal
  packages/terminal-extension/src/index.ts
Due: prettier, eslint

Backport PR #16921: Reuse serverSettings when reopen an existing terminal (#16923)
  packages/terminal-extension/src/index.ts
Due: prettier, eslint

Revise test for maintain autosave timers while disconnected
  packages/docmanager/test/savehandler.spec.ts
Due: prettier, eslint

Add clarification about FileFormat
  packages/services/src/contents/index.ts
Due: prettier, eslint

add test to invoke inline completer on empty line
  galata/test/jupyterlab/inline-completer.test.ts
Due: prettier, eslint

fix grammer
  packages/completer/src/handler.ts
Due: prettier, eslint

Add option to disable input placeholder text
  packages/cells/src/widget.ts
  packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/src/index.ts
  packages/notebook/src/widget.ts
  packages/outputarea/src/widget.ts
Due: prettier, eslint

Update packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/schema/tracker.json
Due: prettier

Description changed
  packages/notebook-extension/schema/tracker.json
Due: prettier

prettier
  packages/codeeditor/src/tokens.ts
Due: prettier, eslint

fix test
  galata/test/jupyterlab/completer.test.ts
Due: prettier, eslint

Add clarification about FileFormat (#16927)
  packages/services/src/contents/index.ts
Due: prettier, eslint

Backport PR #16927: Add clarification about FileFormat in `Services.Contents`
  packages/services/src/contents/index.ts
Due: prettier, eslint

Backport PR #16927: Add clarification about FileFormat in `Services.Contents` (#16930)
  packages/services/src/contents/index.ts
Due: prettier, eslint

Update the form schema if it changed (#16907)
  packages/settingeditor/src/SettingsFormEditor.tsx
Due: prettier, eslint

Fix docmanager/savehandler "continue to save" test
  packages/docmanager/test/savehandler.spec.ts
Due: prettier, eslint

fix metapackage test
  packages/metapackage/test/completer/handler.spec.ts
Due: prettier, eslint

Fixes styling for drag popover
  packages/notebook/style/base.css
Due: prettier, stylelint

Improve drag image styling (#16936)
  packages/notebook/style/base.css
Due: prettier, stylelint

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$, but not: \.ipynb$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
