Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

stylelint:
  name: stylelint
  entry: npm run stylelint:files
  language: node

Run memory-leak tests on PR (#12789)
  .github/workflows/benchmark-report.yml
  .github/workflows/benchmark.yml
Due: none

Set header content
  .licenserc.yaml
Due: none

Fix unsupported files
  .licenserc.yaml
Due: none

Try pushing manually as down in galata update
  .github/workflows/license-header.yml
Due: none

Fix getting the pull request number
  .github/workflows/license-header.yml
Due: none

Remove fake git author
  .github/workflows/license-header.yml
Due: none

Display commit
  .github/workflows/license-header.yml
Due: none

Commit manually
  .github/workflows/license-header.yml
  .licenserc.yaml
Due: none

Fix kernel in the statusbar does not match the actual (#12865)
  packages/apputils/src/kernelstatuses.tsx
Due: prettier, eslint

Backport PR #12865: Fix kernel in the statusbar does not match the actual
  packages/statusbar/src/defaults/kernelStatus.tsx
Due: prettier, eslint

Push only if there are changes
  .github/workflows/license-header.yml
Due: none

Pin tornado >=6.2.0
  setup.cfg
Due: none

Set `Contents.ContentType` to string
  packages/services/src/contents/index.ts
Due: prettier, eslint

Backport PR #12865: Fix kernel in the statusbar does not match the actual (#12873)
  packages/statusbar/src/defaults/kernelStatus.tsx
Due: prettier, eslint

Rename trustByDefault parameter and variable
  packages/htmlviewer-extension/schema/plugin.json
  packages/htmlviewer-extension/src/index.tsx
Due: prettier, eslint

Add trustbydefault param to htmlviewer-extension (#12868)
  packages/htmlviewer-extension/schema/plugin.json
  packages/htmlviewer-extension/src/index.tsx
Due: prettier, eslint

Ignore staging folder
  .licenserc.yaml
Due: none

Bump jupyter_server_ydoc>=0.1.9
  setup.cfg
Due: none

Revert changes in staging folder
  jupyterlab/staging/bootstrap.js
  jupyterlab/staging/index.js
  jupyterlab/staging/templates/403.html
  jupyterlab/staging/templates/partial.html
  jupyterlab/staging/templates/template.html
  jupyterlab/staging/webpack.config.js
  jupyterlab/staging/webpack.prod.config.js
  jupyterlab/staging/webpack.prod.minimize.config.js
  jupyterlab/staging/webpack.prod.release.config.js
Due: prettier, eslint

Bump jupyter_server_ydoc>=0.1.9 (#12876)
  setup.cfg
Due: none

Post event clean up and copyediting
  README.md
  docs/source/developer/contributing.rst
  docs/source/developer/internationalization.rst
  docs/source/extension/notebook.rst
  docs/source/getting_started/overview.rst
  docs/source/index.rst
  docs/source/user/commands.rst
  docs/source/user/debugger.rst
  docs/source/user/export.rst
  docs/source/user/extensions.rst
  docs/source/user/file_editor.rst
  docs/source/user/file_formats.rst
  docs/source/user/files.rst
  docs/source/user/interface.rst
  docs/source/user/language.rst
  docs/source/user/notebook.rst
  docs/source/user/rtc.rst
  docs/source/user/running.rst
  docs/source/user/terminal.rst
  docs/source/user/toc.rst
  packages/json-extension/README.md
  packages/services/README.md
  packages/statusbar-extension/README.md
  packages/vdom-extension/README.md
  packages/vega5-extension/README.md
Due: prettier

Remove reference to unmaintained nb_conda_kernels
  docs/source/developer/contributing.rst
Due: none

Upgraded y-codemirror.next
  packages/codemirror/package.json
  yarn.lock
Due: prettier

Update `yjs-codemirror.next`
  packages/codemirror/package.json
  yarn.lock
Due: prettier

Document building JupyterLab on osx-arm64 platforms
  docs/source/developer/contributing.rst
Due: none

Document building JupyterLab on osx-arm64 platforms (#12882)
  docs/source/developer/contributing.rst
Due: none

Backport PR #12882: Document building JupyterLab on osx-arm64 platforms
  docs/source/developer/contributing.rst
Due: none

Remove reference to unmaintained nb_conda_kernels (#12878)
  docs/source/developer/contributing.rst
Due: none

Backport PR #12878: Remove reference to unmaintained nb_conda_kernels
  docs/source/developer/contributing.rst
Due: none

Apply reviewer's suggestion
  packages/lsp/src/lsp.ts
  packages/lsp/src/tokens.ts
  packages/lsp/src/ws-connection/types.ts
Due: prettier, eslint

Fix progress bar not working after uploading multiple files finished (#12871)
  packages/filebrowser/src/uploadstatus.tsx
Due: prettier, eslint

Backport PR #12871: Fix progress bar not working after uploading multiple files finished
  packages/filebrowser/src/uploadstatus.tsx
Due: prettier, eslint

Backport PR #12871: Fix progress bar not working after uploading multiple files finished (#12888)
  packages/filebrowser/src/uploadstatus.tsx
Due: prettier, eslint

Ignore integration test files
  .licenserc.yaml
  galata/test/jupyterlab/notebooks/code_script.py
Due: none

Re-export the new SplitPanel from @lumino/widgets 1.32.0+
  packages/settingeditor/src/splitpanel.ts
Due: prettier, eslint

Re-export the new SplitPanel from @lumino/widgets 1.32.0+ (#12892)
  packages/settingeditor/src/splitpanel.ts
Due: prettier, eslint

Update packages/docregistry/src/context.ts
  packages/docregistry/src/context.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: \.json$, \.(md|markdown|mdown)$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
