Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

stylelint:
  name: stylelint
  entry: npm run stylelint:files
  language: node

Avoid clearing the host node while rendering Markdown
  packages/rendermime/src/widgets.ts
Due: prettier, eslint

Remove debug statements
  packages/completer/src/widget.ts
Due: prettier, eslint

Change mousedown event to pointerdown to hide the widget when there are other mousedown events with preventDefault and stopPropogation
  packages/completer/src/widget.ts
Due: prettier, eslint

Update interface_customization.rst (#14572)
  docs/source/user/interface_customization.rst
Due: none

Backport PR #12875: Set `Contents.ContentType` to string
  packages/services/src/contents/index.ts
Due: prettier, eslint

Make `IStatusBar` optional for the notifciation plugin
  packages/apputils-extension/src/notificationplugin.tsx
Due: prettier, eslint

Enable base numbering option
  docs/source/user/toc.rst
  packages/toc-extension/schema/registry.json
Due: prettier

Added Jupyter Desktop link.
  docs/source/index.rst
Due: none

Changed link formatting.
  docs/source/index.rst
Due: none

Highlight booleans using the same style as keywords
  packages/codemirror/src/theme.ts
Due: prettier, eslint

Added standards info/links.
  docs/source/index.rst
Due: none

Update test expectation
  packages/codemirror/test/language.spec.ts
Due: prettier, eslint

Refactor RenderedCommon.renderModel and RenderedMarkdown.renderModel to avoid duplicate code
  packages/rendermime/src/widgets.ts
Due: prettier, eslint

Add docs for default behavior
  packages/rendermime/src/widgets.ts
Due: prettier, eslint

Remove bolding from repeated JupyterLab mentions.
  docs/source/index.rst
Due: none

Revised homepage linking from user guide home.
  docs/source/index.rst
  docs/source/user/index.md
Due: none

Revised link format.
  docs/source/index.rst
  docs/source/user/index.md
Due: none

Updated links.
  docs/source/index.rst
  docs/source/user/index.md
Due: none

Updated standards link.
  docs/source/index.rst
Due: none

Update link.
  docs/source/index.rst
Due: none

Fix link format.
  docs/source/index.rst
Due: none

Flip the optional boolean parameter for RenderedCommon.renderModel
  packages/rendermime/src/widgets.ts
Due: prettier, eslint

Fix skiplink and add placeholder for additional skiplinks
  packages/application/src/shell.ts
Due: prettier, eslint

remove console.log
  packages/application/src/shell.ts
Due: prettier, eslint

Fixed link formatting.
  docs/source/getting_started/overview.rst
Due: none

Highlight booleans using the same style as keywords (#14588)
  galata/test/jupyterlab/notebook-replace.test.ts-snapshots/replace-all-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-replace.test.ts-snapshots/replace-in-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-run-vega.test.ts-snapshots/run-cells-dark-vega-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-run-vega.test.ts-snapshots/run-cells-vega-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-in-selected-cells-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-in-selected-text-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-in-two-selected-cells-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-on-deleted-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-typing-jupyterlab-linux.png
  packages/codemirror/src/theme.ts
  packages/codemirror/test/language.spec.ts
Due: prettier, eslint

Inherit font family from `.cm-editor` (restores 3.x behaviour)
  packages/codemirror/src/theme.ts
Due: prettier, eslint

Make `IStatusBar` optional for the notifciation plugin (#14593)
  packages/apputils-extension/src/notificationplugin.tsx
Due: prettier, eslint

fix: Toolbar doesn't update on paste.
  packages/cell-toolbar/src/celltoolbartracker.ts
Due: prettier, eslint

Inherit font family from `.cm-editor` (restores 3.x behaviour) (#14601)
  packages/codemirror/src/theme.ts
Due: prettier, eslint

Avoid clearing the host node while rendering Markdown (#14579)
  packages/rendermime/src/widgets.ts
Due: prettier, eslint

Enable base numbering option (#14586)
  docs/source/user/toc.rst
  packages/toc-extension/schema/registry.json
Due: prettier

Fix flaky search tests
  galata/test/jupyterlab/notebook-search.test.ts
Due: prettier, eslint

Integration test for restart & re-run sequence
  galata/test/jupyterlab/notebook-run.test.ts
  galata/test/jupyterlab/notebook-run.test.ts-snapshots/restart-and-run-jupyterlab-linux.png
Due: prettier, eslint

Fix flaky search tests (#14605)
  galata/test/jupyterlab/notebook-search.test.ts
Due: prettier, eslint

Fix: Toolbar doesn't update on paste. (#14596)
  galata/test/jupyterlab/notebook-run.test.ts-snapshots/notebook-panel-1-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-toolbar.test.ts-snapshots/paste-cell-jupyterlab-linux.png
  packages/cell-toolbar/src/celltoolbartracker.ts
Due: prettier, eslint

Skip checking for updates in UI tests
  galata/src/galata.ts
  galata/test/jupyterlab/announcements.test.ts
Due: prettier, eslint

Skip checking for updates in UI tests (#14609)
  galata/src/galata.ts
  galata/test/jupyterlab/announcements.test.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
