Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

stylelint:
  name: stylelint
  entry: npm run stylelint:files
  language: node

Update packages/notebook-extension/src/index.ts
  packages/notebook-extension/src/index.ts
Due: prettier, eslint

Update packages/cell-toolbar/test/celltoolbartracker.spec.ts
  packages/cell-toolbar/test/celltoolbartracker.spec.ts
Due: prettier, eslint

CommsOverSubshells.PerCommTarget is also per kernel
  packages/services/src/kernel/comm.ts
  packages/services/test/kernel/comm.spec.ts
Due: prettier, eslint

Update test; revert changes to sanitizer.ts
  packages/apputils/src/sanitizer.ts
  packages/apputils/test/sanitizer.spec.ts
Due: prettier, eslint

Refactor _generateOptions to use allowed schemes for img tag
  packages/apputils/src/sanitizer.ts
  packages/apputils/test/sanitizer.spec.ts
Due: prettier, eslint

Add missing semi-colons
  packages/apputils/src/sanitizer.ts
  packages/apputils/test/sanitizer.spec.ts
Due: prettier, eslint

Fix link to zulip and icon
  docs/source/conf.py
Due: none

update snapshots
  galata/test/jupyterlab/general.test.ts-snapshots/simple-mode-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/highlight-previous-element-jupyterlab-linux.png
Due: none

Update to Playwright 1.53
  galata/package.json
  yarn.lock
Due: prettier

Bump playwright
  galata/package.json
  yarn.lock
Due: prettier

Fix setting allowed schemes on runtime using `Sanitizer.setAllowedSchemes` (#17602)
  packages/apputils/src/sanitizer.ts
  packages/apputils/test/sanitizer.spec.ts
Due: prettier, eslint

Update to Playwright 1.53 (#17622)
  galata/package.json
  galata/test/jupyterlab/general.test.ts-snapshots/simple-mode-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/highlight-previous-element-jupyterlab-linux.png
  yarn.lock
Due: prettier

Add audio-extension and video-extension
  buildutils/src/ensure-repo.ts
  dev_mode/package.json
  dev_mode/style.js
  packages/audio-extension/README.md
  packages/audio-extension/package.json
  packages/audio-extension/src/index.ts
  packages/audio-extension/style/base.css
  packages/audio-extension/style/index.css
  packages/audio-extension/style/index.js
  packages/audio-extension/tsconfig.json
  packages/audio-extension/typedoc.json
  packages/docregistry/src/registry.ts
  packages/metapackage/package.json
  packages/metapackage/tsconfig.json
  packages/metapackage/tsconfig.test.json
  packages/ui-components/src/icon/iconimports.ts
  packages/ui-components/style/deprecated.css
  packages/ui-components/style/icons/filetype/audio.svg
  packages/ui-components/style/icons/filetype/video.svg
  packages/video-extension/README.md
  packages/video-extension/package.json
  packages/video-extension/src/index.ts
  packages/video-extension/style/base.css
  packages/video-extension/style/index.css
  packages/video-extension/style/index.js
  packages/video-extension/tsconfig.json
  packages/video-extension/typedoc.json
  yarn.lock
Due: prettier, eslint, stylelint

fix yarn.lock
  yarn.lock
Due: none

Link to the files directly
  .gitignore
  dev_mode/package.json
  packages/audio-extension/package.json
  packages/audio-extension/src/index.ts
  packages/audio-extension/style/base.css
  packages/audio-extension/style/index.css
  packages/audio-extension/style/index.js
  packages/audio-extension/tsconfig.json
  packages/docregistry/src/registry.ts
  packages/video-extension/package.json
  packages/video-extension/src/index.ts
  packages/video-extension/style/base.css
  packages/video-extension/style/index.css
  packages/video-extension/style/index.js
  packages/video-extension/tsconfig.json
  yarn.lock
Due: prettier, eslint, stylelint

Simplify
  packages/audio-extension/src/index.ts
  packages/video-extension/src/index.ts
Due: prettier, eslint

RestContentProvider with optional content
  packages/audio-extension/src/index.ts
  packages/services/src/contents/index.ts
  packages/video-extension/src/index.ts
Due: prettier, eslint

integrity
  packages/audio-extension/package.json
  packages/audio-extension/tsconfig.json
  packages/video-extension/tsconfig.json
Due: prettier

update descriptions
  packages/audio-extension/README.md
  packages/audio-extension/package.json
  packages/video-extension/README.md
  packages/video-extension/package.json
Due: prettier

fixes and update labeler
  .github/labeler.yml
  galata/test/documentation/plugins.test.ts-snapshots/plugins-documentation-linux.json
  packages/audio-extension/package.json
  packages/audio-extension/src/index.ts
  packages/audio-extension/tsconfig.json
  packages/video-extension/package.json
  packages/video-extension/src/index.ts
  packages/video-extension/tsconfig.json
  yarn.lock
Due: prettier, eslint

Fix setting allowed schemes on runtime using `Sanitizer.setAllowedSchemes`
  packages/apputils/src/sanitizer.ts
  packages/apputils/test/sanitizer.spec.ts
Due: prettier, eslint

Add basic UI test
  galata/test/documentation/data/audio.wav
  galata/test/documentation/data/video.mp4
  galata/test/documentation/media_files.test.ts
Due: prettier, eslint

tmp demo repo
  .github/workflows/galata.yml
Due: none

update to mermaid 11.7.0
  packages/mermaid/package.json
Due: prettier

relock yarn
  yarn.lock
Due: none

remove test data
  galata/test/documentation/data/audio.wav
  galata/test/documentation/data/video.mp4
Due: none

Update tests
  galata/test/documentation/media_files.test.ts
Due: prettier, eslint

update mermaid screenshots from CI
  galata/test/jupyterlab/notebook-markdown.test.ts-snapshots/render-mermaid-flowchart-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-05-journey-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-09-requirement-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-12-timeline-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-13-sankey-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-15-block-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-17-flowchart-elk-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-05-journey-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-09-requirement-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-12-timeline-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-13-sankey-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-15-block-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-17-flowchart-elk-jupyterlab-linux.png
Due: none

restore a screenshot
  galata/test/jupyterlab/notebook-markdown.test.ts-snapshots/render-mermaid-flowchart-jupyterlab-linux.png
Due: none

update snapshots, fix typo
  galata/test/documentation/general.test.ts-snapshots/interface-left-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-settings-documentation-linux.png
  galata/test/documentation/media_files.test.ts
  galata/test/documentation/overview.test.ts-snapshots/interface-jupyterlab-documentation-linux.png
Due: prettier, eslint

more snapshot updates
  galata/test/documentation/general.test.ts-snapshots/file-formats-open-with-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-chinese-documentation-linux.png
  galata/test/documentation/overview.test.ts-snapshots/interface-tabs-menu-documentation-linux.png
Due: none

Try fixing icon
  docs/source/conf.py
Due: none

hub-extension: Restart server with iframe of spawn page
  packages/hub-extension/src/index.ts
Due: prettier, eslint

docs: add Mermaid diagram usage guide with example image
  docs/source/user/images/mermaid-use/mermaid-example.png
  docs/source/user/notebook.rst
Due: none

add import of CellBarExtension
  packages/notebook-extension/src/index.ts
Due: prettier, eslint

Fix link to zulip and icon in docs (#17639)
  docs/source/conf.py
Due: none

Backport PR #17639: Fix link to zulip and icon in docs
  docs/source/conf.py
Due: none

Backport PR #17639: Fix link to zulip and icon in docs (#17647)
  docs/source/conf.py
Due: none

bump altair
  pyproject.toml
Due: none

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$, but not: \.ipynb$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
