Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # skip any check that needs internet access
  skip: [check-jsonschema, prettier, eslint, stylelint, integrity]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: .bumpversion.cfg

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: ["--line-length", "100"]

  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
        files: \.py$
        args: [--profile=black]

  # - repo: https://github.com/pycqa/flake8
  #   rev: 4.0.1
  #   hooks:
  #     - id: flake8
  #       additional_dependencies:
  #         [
  #           "flake8-bugbear==20.1.4",
  #           "flake8-logging-format==0.6.0",
  #           "flake8-implicit-str-concat==0.2.0",
  #         ]

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.10.2
    hooks:
      - id: check-jsonschema
        name: 'Check GitHub Workflows'
        files: ^\.github/workflows/
        types: [yaml]
        args: ['--schemafile', 'https://json.schemastore.org/github-workflow']

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, markdown, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'npm run stylelint:files'
        language: node
        types: [css]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [push]

Remove `width: 100%` of `jp-WindowedPanel-inner`
  packages/ui-components/style/windowedlist.css
Due: prettier, stylelint

Add test case detecting CSS rules degrading performance in Chromium
  galata/test/jupyterlab/styles.test.ts
Due: prettier, eslint

Fix caret selection styles after migration to CM6 y.js,
  packages/codemirror/style/base.css
Due: prettier, stylelint

Replace `span` by more specific selector to avoid
  packages/running/style/base.css
Due: prettier, stylelint

Use `.jp-icon-hoverShow-content` to denote the icon to hide
  packages/ui-components/src/icon/widgets/commandpalettesvg.ts
  packages/ui-components/style/iconshover.css
Due: prettier, eslint, stylelint

Use class `.jp-ShortcutTitleItem-sortButton` selector
  packages/shortcuts-extension/src/componentStyle/ShortcutTitleItemStyle.tsx
  packages/shortcuts-extension/src/components/ShortcutTitleItem.tsx
Due: prettier, eslint

Disable MathJax styles deteriorating performance in Chromium browsers
  packages/mathjax2/src/index.ts
Due: prettier, eslint

Fix hoverbox settings for console
  packages/tooltip/src/widget.ts
  packages/ui-components/src/hoverbox.ts
Due: prettier, eslint

Remove `width: 100%` of `jp-WindowedPanel-inner` (#13157)
  packages/ui-components/style/windowedlist.css
Due: prettier, stylelint

Fix a typo in a comment
  galata/test/jupyterlab/styles.test.ts
Due: prettier, eslint

Use shorthand in object creation
  packages/tooltip/src/widget.ts
Due: prettier, eslint

Adjust CSS styles degrading performance in Chromium browsers (#13159)
  galata/test/jupyterlab/styles.test.ts
  packages/codemirror/style/base.css
  packages/mathjax2/src/index.ts
  packages/running/style/base.css
  packages/shortcuts-extension/src/componentStyle/ShortcutTitleItemStyle.tsx
  packages/shortcuts-extension/src/components/ShortcutTitleItem.tsx
  packages/ui-components/src/icon/widgets/commandpalettesvg.ts
  packages/ui-components/style/iconshover.css
Due: prettier, eslint, stylelint

Bump to lerna 5.6.0 (#13147)
  lerna.json
  package.json
  yarn.lock
Due: prettier

Always show tooltip in hover box even if edges are out of view (#13161)
  packages/tooltip/src/widget.ts
  packages/ui-components/src/hoverbox.ts
Due: prettier, eslint

Backport PR #13161: Always show tooltip in hover box even if edges are out of view
  packages/apputils/src/hoverbox.ts
  packages/tooltip/src/widget.ts
Due: prettier, eslint

Deal with out of viewport code cell deletion Fixes #13151
  packages/cells/src/widget.ts
  packages/notebook/src/windowing.ts
Due: prettier, eslint

Limit the impact of `.remote-caret:hover div` on performance
  packages/codemirror/style/base.css
Due: prettier, stylelint

Ignore problematic Blueprint CSS styles on 3.4.x
  galata/test/jupyterlab/styles.test.ts
Due: prettier, eslint

Fix incorrect expect in the styles test
  galata/test/jupyterlab/styles.test.ts
Due: prettier, eslint

Backport PR #13159 on branch 3.4.x (Adjust CSS styles degrading performance in Chromium browsers) (#13175)
  galata/test/jupyterlab/styles.test.ts
  packages/codemirror/style/base.css
  packages/mathjax2/src/index.ts
  packages/shortcuts-extension/src/componentStyle/ShortcutTitleItemStyle.tsx
  packages/shortcuts-extension/src/components/ShortcutTitleItem.tsx
  packages/ui-components/src/icon/widgets/commandpalettesvg.ts
  packages/ui-components/style/iconshover.css
Due: prettier, eslint, stylelint

Backport PR #13161: Always show tooltip in hover box even if edges are out of view (#13169)
  packages/apputils/src/hoverbox.ts
  packages/tooltip/src/widget.ts
Due: prettier, eslint

Add documentation note on windowlist dom structure
  docs/source/developer/performance.rst
Due: none

Automated Changelog Entry for 3.4.8 on 3.4.x
  CHANGELOG.md
Due: prettier

Merge pull request from GHSA-pfxp-q7w5-52p7
  jupyterlab/labapp.py
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier

Automated Changelog Entry for 3.4.8 on 3.4.x (#13177)
  CHANGELOG.md
Due: prettier

[ci skip] Publish 3.4.8
  .bumpversion.cfg
  dev_mode/package.json
  jupyterlab/_version.py
  jupyterlab/staging/package.json
  jupyterlab/staging/yarn.lock
Due: prettier

Backport PR #13068: Raise ceiling on jupyter_server dependency to < 3
  setup.cfg
Due: none

Fix JSON viewer syntax highlighting
  packages/json-extension/package.json
  packages/json-extension/src/component.tsx
  packages/json-extension/src/index.tsx
Due: prettier, eslint

Integrity
  packages/json-extension/style/index.css
  packages/json-extension/style/index.js
  packages/json-extension/tsconfig.json
Due: prettier, eslint, stylelint

Update branch
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/pull_request_template.md
  .github/workflows/check-release.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/linuxjs-flaky-tests.yml
  .github/workflows/linuxjs-tests.yml
  .github/workflows/linuxtests.yml
  .github/workflows/macostests.yml
  .github/workflows/windowstests.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  RELEASE.md
  buildutils/src/ensure-repo.ts
  docs/source/conf.py
  docs/source/developer/components.rst
  docs/source/developer/contributing.rst
  docs/source/developer/css.rst
  docs/source/developer/repo.rst
  docs/source/extension/extension_dev.rst
  docs/source/extension/extension_migration.rst
  docs/source/extension/extension_tutorial.rst
  docs/source/extension/internationalization.rst
  docs/source/getting_started/faq.rst
  docs/source/user/rtc.rst
  packages/extensionmanager/src/widget.tsx
  packages/help-extension/src/index.tsx
  packages/javascript-extension/README.md
  packages/json-extension/README.md
  packages/ui-components/docs/source/intro.rst
  packages/vdom-extension/README.md
  packages/vdom/README.md
  packages/vega5-extension/README.md
Due: prettier, eslint

Update branch (#13184)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/pull_request_template.md
  .github/workflows/check-release.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/linuxjs-flaky-tests.yml
  .github/workflows/linuxjs-tests.yml
  .github/workflows/linuxtests.yml
  .github/workflows/macostests.yml
  .github/workflows/windowstests.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  RELEASE.md
  buildutils/src/ensure-repo.ts
  docs/source/conf.py
  docs/source/developer/components.rst
  docs/source/developer/contributing.rst
  docs/source/developer/css.rst
  docs/source/developer/repo.rst
  docs/source/extension/extension_dev.rst
  docs/source/extension/extension_migration.rst
  docs/source/extension/extension_tutorial.rst
  docs/source/extension/internationalization.rst
  docs/source/getting_started/faq.rst
  docs/source/user/rtc.rst
  packages/extensionmanager/src/widget.tsx
  packages/help-extension/src/index.tsx
  packages/javascript-extension/README.md
  packages/json-extension/README.md
  packages/ui-components/docs/source/intro.rst
  packages/vdom-extension/README.md
  packages/vdom/README.md
  packages/vega5-extension/README.md
Due: prettier, eslint

Backport PR #12953: Prompt for renaming at first manual save
  docs/source/extension/ui_helpers.rst
  packages/apputils/src/dialog.tsx
  packages/apputils/src/inputdialog.ts
  packages/apputils/style/dialog.css
  packages/apputils/test/dialog.spec.tsx
  packages/docmanager-extension/schema/plugin.json
  packages/docmanager-extension/src/index.tsx
  packages/docmanager/src/manager.ts
  packages/docmanager/src/tokens.ts
  packages/docregistry/src/registry.ts
  packages/fileeditor-extension/src/commands.ts
  packages/notebook-extension/src/index.ts
Due: prettier, eslint, stylelint
