Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

stylelint:
  name: stylelint
  entry: npm run stylelint:files
  language: node

Avoiding templates on translations
  packages/filebrowser/src/listing.ts
Due: prettier, eslint

Update to Playwright 1.51.0 (#17372)
  galata/package.json
  galata/test/documentation/customization.test.ts-snapshots/customized-terminal-position-single-documentation-linux.png
  galata/test/documentation/plugin_manager.test.ts-snapshots/plugin-manager-search-notebook-documentation-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/simple-mode-jupyterlab-linux.png
  galata/test/jupyterlab/output-scrolling.test.ts-snapshots/prompt-overlay-hover-scroll-jupyterlab-linux.png
  yarn.lock
Due: prettier

Running Prettier
  packages/filebrowser/src/browser.ts
  packages/filebrowser/src/listing.ts
Due: prettier, eslint

Expose `ConfigSectionManager` via a plugin (#17345)
  docs/source/extension/extension_migration.rst
  galata/test/documentation/plugins.test.ts-snapshots/plugins-documentation-linux.json
  galata/test/documentation/plugins.test.ts-snapshots/tokens-documentation-linux.json
  packages/apputils-extension/src/announcements.ts
  packages/services-extension/src/index.ts
  packages/services/examples/browser/src/config.ts
  packages/services/src/config/index.ts
  packages/services/src/tokens.ts
  packages/services/test/config/config.spec.ts
Due: prettier, eslint

Deduplicate/integrity udpates
  yarn.lock
Due: none

Add Console section and screenshots
  CHANGELOG.md
  docs/source/getting_started/changelog_assets/4.4-console.png
  docs/source/getting_started/changelog_assets/4.4-settings-import-export.png
  docs/source/getting_started/changelog_assets/4.4-subshells.png
  docs/source/getting_started/changelog_assets/4.4-workspace-indicator.png
Due: none

Revert incorrect snapshot update
  galata/test/jupyterlab/notebook-edit.test.ts-snapshots/split-cell-jupyterlab-linux.png
Due: none

Drop mention of the WIP Kernel Comms over subshells setting
  CHANGELOG.md
Due: none

Add a test
  packages/outputarea/test/model.spec.ts
Due: prettier, eslint

Update documentation snapshots
  galata/test/documentation/customization.test.ts-snapshots/default-context-menu-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-formats-open-with-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/files-shareable-link-documentation-linux.png
Due: none

Fix cell output stream if previous chunk did not end in new line (#17369)
  packages/outputarea/src/model.ts
  packages/outputarea/test/model.spec.ts
Due: prettier, eslint

Backport PR #17369: Fix cell output stream if previous chunk did not end in new line
  packages/outputarea/src/model.ts
  packages/outputarea/test/model.spec.ts
Due: prettier, eslint

Require `JupyterLab.IInfo` for the plugin manager (#17367)
  packages/application/src/lab.ts
  packages/pluginmanager-extension/src/index.ts
Due: prettier, eslint

One more
  galata/test/documentation/customization.test.ts-snapshots/customized-context-menu-documentation-linux.png
Due: none

Apply suggestions from code review
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Move licenses plugin to apputils-extension
  packages/apputils-extension/src/index.ts
  packages/apputils-extension/src/licensesplugin.ts
  packages/apputils/src/index.ts
  packages/apputils/src/licenses.tsx
  packages/apputils/src/tokens.ts
  packages/apputils/style/base.css
  packages/apputils/style/licenses.css
  packages/help-extension/src/index.tsx
  packages/help-extension/style/base.css
Due: prettier, eslint, stylelint

Keep previous command ids
  packages/help-extension/src/index.tsx
Due: prettier, eslint

fix docs
  docs/source/extension/extension_migration.rst
Due: none

update list of plugins / tokens
  galata/test/documentation/plugins.test.ts-snapshots/plugins-documentation-linux.json
  galata/test/documentation/plugins.test.ts-snapshots/tokens-documentation-linux.json
Due: prettier

add label
  packages/help-extension/src/index.tsx
Due: prettier, eslint

renames
  dev_mode/index.js
  galata/test/documentation/plugins.test.ts-snapshots/plugins-documentation-linux.json
  galata/test/documentation/plugins.test.ts-snapshots/tokens-documentation-linux.json
  packages/apputils-extension/src/licensesplugin.ts
Due: prettier, eslint

Switch to `ILicensesClient`
  packages/apputils-extension/src/index.ts
  packages/apputils-extension/src/licensesplugin.ts
  packages/apputils/src/licenses.tsx
  packages/apputils/src/tokens.ts
Due: prettier, eslint

Handle missing or disabled tracker plugin
  dev_mode/index.js
  packages/apputils-extension/src/licensesplugin.ts
Due: prettier, eslint

update plugin description
  galata/test/documentation/plugins.test.ts-snapshots/plugins-documentation-linux.json
  packages/apputils-extension/src/licensesplugin.ts
Due: prettier, eslint

Update docs/source/extension/extension_migration.rst
  docs/source/extension/extension_migration.rst
Due: none

docstrings
  packages/apputils-extension/src/licensesplugin.ts
Due: prettier, eslint

Add to renamed plugins
  dev_mode/index.js
  docs/source/extension/extension_migration.rst
Due: prettier, eslint

rename plugin
  packages/apputils-extension/src/licensesplugin.ts
Due: prettier, eslint

fix docstrings
  packages/apputils-extension/src/licensesplugin.ts
  packages/apputils/src/tokens.ts
Due: prettier, eslint

docstrings
  packages/apputils/src/licenses.tsx
Due: prettier, eslint

update snapshot
  galata/test/documentation/plugin_manager.test.ts-snapshots/plugin-manager-plugin-in-use-warning-documentation-linux.png
Due: none

Fix help: commands
  galata/test/documentation/plugins.test.ts-snapshots/plugins-documentation-linux.json
  packages/apputils-extension/src/licensesplugin.ts
  packages/help-extension/src/index.tsx
Due: prettier, eslint

Integrity
  packages/help-extension/package.json
  yarn.lock
Due: prettier

User-facing changelog for 4.4 (#17368)
  CHANGELOG.md
  docs/source/getting_started/changelog_assets/4.4-console.png
  docs/source/getting_started/changelog_assets/4.4-settings-import-export.png
  docs/source/getting_started/changelog_assets/4.4-subshells.png
  docs/source/getting_started/changelog_assets/4.4-workspace-indicator.png
Due: none

Update links to images in the changelog
  CHANGELOG.md
Due: none

Add new console screenshot
  CHANGELOG.md
  docs/source/getting_started/changelog_assets/4.4-console-singlecell.png
Due: none

Move screenshot up
  CHANGELOG.md
Due: none

Update link
  CHANGELOG.md
Due: none

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$, but not: \.ipynb$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
