Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

stylelint:
  name: stylelint
  entry: npm run stylelint:files
  language: node

Automated Changelog Entry for 3.4.0rc0 on 3.4.x
  CHANGELOG.md
Due: prettier

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier

Automated Changelog Entry for 3.4.0rc0 on 3.4.x (#12483)
  CHANGELOG.md
Due: prettier

Fix linter
  galata/test/jupyterlab/settings.test.ts
Due: prettier, eslint

Fix tsconfigdoc
  tsconfigdoc.json
Due: prettier

Require y-py>=0.4.6
  setup.cfg
Due: none

Update y-py version
  setup.cfg
Due: none

Require y-py>=0.4.6 (#12486)
  setup.cfg
Due: none

Add ability to open settings editor to specific plugin's settings (#12398)
  galata/test/jupyterlab/settings.test.ts
  packages/settingeditor-extension/src/index.ts
  packages/settingeditor/src/pluginlist.tsx
  packages/settingeditor/src/settingseditor.tsx
  packages/settingeditor/src/settingspanel.tsx
  packages/ui-components/src/components/search.tsx
Due: prettier, eslint

Backport PR #12470: Setting form editor has a formState to avoid focus lost
  packages/settingeditor/src/SettingsFormEditor.tsx
Due: prettier, eslint

[ci skip] Publish 3.4.0rc0
  .bumpversion.cfg
  dev_mode/package.json
  jupyterlab/_version.py
  jupyterlab/staging/package.json
  jupyterlab/staging/yarn.lock
Due: prettier

Check data based command usage
  galata/src/inpage/tokens.ts
  galata/test/jupyterlab/menus.test.ts
  galata/test/jupyterlab/shortcuts.test.ts
  galata/test/jupyterlab/toolbars.test.ts
Due: prettier, eslint

Remove items without associated commands
  packages/debugger-extension/schema/main.json
  packages/docmanager-extension/schema/plugin.json
  packages/notebook-extension/schema/tracker.json
Due: prettier

List command for documentation Check they have labels
  docs/source/conf.py
  docs/source/user/commands.rst
  docs/source/user/commands_list.md
  galata/test/documentation/commands.test.ts
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
Due: prettier, eslint

Fix command labels
  .prettierignore
  galata/test/documentation/commands.test.ts
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  packages/application-extension/src/index.tsx
  packages/apputils-extension/src/index.ts
  packages/apputils-extension/src/themesplugins.ts
  packages/codemirror-extension/src/index.ts
  packages/console-extension/src/index.ts
  packages/docmanager-extension/src/index.tsx
  packages/filebrowser-extension/src/index.ts
  packages/fileeditor-extension/src/commands.ts
  packages/fileeditor-extension/src/index.ts
  packages/help-extension/src/index.tsx
  packages/logconsole-extension/src/index.tsx
  packages/mainmenu-extension/src/index.ts
  packages/notebook-extension/src/index.ts
  packages/terminal-extension/src/index.ts
  packages/tooltip-extension/package.json
  packages/tooltip-extension/src/index.ts
  packages/tooltip-extension/tsconfig.json
Due: prettier, eslint

Ignore generated doc files
  .gitignore
Due: none

Remove generated commands list
  docs/source/user/commands_list.md
Due: prettier

Prettify
  packages/apputils-extension/src/themesplugins.ts
  packages/fileeditor-extension/src/commands.ts
  packages/help-extension/src/index.tsx
  packages/terminal-extension/src/index.ts
Due: prettier, eslint

Add test for shortcut uniqueness
  galata/test/jupyterlab/shortcuts.test.ts
Due: prettier, eslint

Refactor helper test function
  galata/test/jupyterlab/menus.test.ts
Due: prettier, eslint

Update doc following JLab meeting
  docs/source/user/commands.rst
Due: none

Automated Changelog Entry Forward Ported from v3.4.0rc0
  CHANGELOG.md
Due: prettier

Fix eslint ignore list
  .eslintignore
Due: none

Automated Changelog Entry Forward Ported from v3.4.0rc0 (#12491)
  CHANGELOG.md
Due: prettier

Backport PR #12470: Setting form editor has a formState to avoid focus lost (#12490)
  packages/settingeditor/src/SettingsFormEditor.tsx
Due: prettier, eslint

Don't bump version for @jupyterlab/rendermime-interfaces Fixes #11748
  packages/rendermime-interfaces/package.json
  packages/rendermime-interfaces/src/index.ts
  packages/rendermime-interfaces/tsconfig.json
  packages/translation/package.json
  packages/translation/src/tokens.ts
  packages/translation/tsconfig.json
  packages/translation/tsconfig.test.json
Due: prettier, eslint

Update documentation
  docs/source/extension/extension_migration.rst
Due: none

Apply review suggestions
  .eslintignore
  docs/source/user/commands.rst
Due: none

Inverse dependencies link between translation and rendermime interfaces (#12493)
  docs/source/extension/extension_migration.rst
  packages/rendermime-interfaces/package.json
  packages/rendermime-interfaces/src/index.ts
  packages/rendermime-interfaces/tsconfig.json
  packages/translation/package.json
  packages/translation/src/tokens.ts
  packages/translation/tsconfig.json
  packages/translation/tsconfig.test.json
Due: prettier, eslint

Handled new dialog creation with no buttons
  packages/apputils/src/dialog.tsx
Due: prettier, eslint

Check data based config (#12116)
  .gitignore
  .prettierignore
  docs/source/conf.py
  docs/source/user/commands.rst
  galata/src/inpage/tokens.ts
  galata/test/documentation/commands.test.ts
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/jupyterlab/menus.test.ts
  galata/test/jupyterlab/shortcuts.test.ts
  galata/test/jupyterlab/toolbars.test.ts
  packages/application-extension/src/index.tsx
  packages/apputils-extension/src/index.ts
  packages/apputils-extension/src/themesplugins.ts
  packages/codemirror-extension/src/index.ts
  packages/console-extension/src/index.ts
  packages/debugger-extension/schema/main.json
  packages/docmanager-extension/schema/plugin.json
  packages/docmanager-extension/src/index.tsx
  packages/filebrowser-extension/src/index.ts
  packages/fileeditor-extension/src/commands.ts
  packages/fileeditor-extension/src/index.ts
  packages/help-extension/src/index.tsx
  packages/logconsole-extension/src/index.tsx
  packages/mainmenu-extension/src/index.ts
  packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/src/index.ts
  packages/terminal-extension/src/index.ts
  packages/tooltip-extension/package.json
  packages/tooltip-extension/src/index.ts
  packages/tooltip-extension/tsconfig.json
Due: prettier, eslint

Allow downstream extension to set toolbar layout
  packages/ui-components/src/components/toolbar.tsx
Due: prettier, eslint

add basic line history to `Stdin` widgets
  packages/outputarea/src/widget.ts
Due: prettier, eslint

fixed too-broad default selector for `notebook:move-cursor-heading...` cmds
  packages/notebook-extension/schema/tracker.json
Due: prettier

Allow downstream extension to set toolbar layout (#12499)
  packages/ui-components/src/components/toolbar.tsx
Due: prettier, eslint

Backport PR #12499: Allow downstream extension to set toolbar layout
  packages/apputils/src/toolbar/widget.tsx
Due: prettier, eslint

Backport PR #12499: Allow downstream extension to set toolbar layout (#12503)
  packages/apputils/src/toolbar/widget.tsx
Due: prettier, eslint

Backport PR #10666: Don't sort context menu items by selector
  packages/application/src/frontend.ts
  packages/console-extension/schema/foreign.json
  packages/console-extension/schema/tracker.json
  packages/docmanager-extension/schema/plugin.json
  packages/filebrowser-extension/schema/browser.json
  packages/filebrowser-extension/schema/open-browser-tab.json
  packages/filebrowser-extension/schema/open-with.json
  packages/fileeditor-extension/schema/plugin.json
  packages/inspector-extension/schema/consoles.json
  packages/inspector-extension/schema/notebooks.json
  packages/logconsole-extension/schema/plugin.json
  packages/mainmenu-extension/schema/plugin.json
  packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/src/index.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: \.json$, \.(md|markdown|mdown)$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
