Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # Same schedule interval as dependabot see .github/dependabot.yml
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
        exclude: galata/.*-snapshots
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: (.bumpversion.cfg|yarn.js)

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.22.0
    hooks:
      - id: check-github-workflows

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.260
    hooks:
      - id: ruff
        args: ["--fix"]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'npm run stylelint:files'
        language: node
        types: [css]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [push]

changed css styling for links
  packages/extensionmanager/style/base.css
  packages/help-extension/style/base.css
  packages/rendermime/style/base.css
  packages/shortcuts-extension/style/base.css
Due: prettier, stylelint

Fix semantic commands enabled status (#14664)
  galata/test/documentation/debugger.test.ts
  galata/test/documentation/general.test.ts-snapshots/file-formats-html-display-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-jupyterlab-documentation-linux.png
  packages/application-extension/schema/top-bar.json
  packages/apputils-extension/src/index.ts
  packages/apputils/src/toolbar/registry.ts
  packages/cell-toolbar-extension/schema/plugin.json
  packages/csvviewer-extension/schema/csv.json
  packages/csvviewer-extension/schema/tsv.json
  packages/filebrowser-extension/schema/widget.json
  packages/fileeditor-extension/schema/plugin.json
  packages/fileeditor-extension/src/commands.ts
  packages/htmlviewer-extension/schema/plugin.json
  packages/notebook-extension/schema/panel.json
  packages/notebook-extension/src/index.ts
  packages/settingregistry/src/plugin-schema.json
  packages/ui-components/src/components/toolbar.tsx
Due: prettier, eslint

Backport PR #14664: Fix semantic commands enabled status
  galata/test/documentation/debugger.test.ts
  galata/test/documentation/general.test.ts-snapshots/file-formats-html-display-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-jupyterlab-documentation-linux.png
  packages/application-extension/schema/top-bar.json
  packages/apputils-extension/src/index.ts
  packages/apputils/src/toolbar/registry.ts
  packages/cell-toolbar-extension/schema/plugin.json
  packages/csvviewer-extension/schema/csv.json
  packages/csvviewer-extension/schema/tsv.json
  packages/filebrowser-extension/schema/widget.json
  packages/fileeditor-extension/schema/plugin.json
  packages/fileeditor-extension/src/commands.ts
  packages/htmlviewer-extension/schema/plugin.json
  packages/notebook-extension/schema/panel.json
  packages/notebook-extension/src/index.ts
  packages/settingregistry/src/plugin-schema.json
  packages/ui-components/src/components/toolbar.tsx
Due: prettier, eslint

Backport PR #14886: Fix integration tests (#14913)
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-allowed-list-documentation-linux.png
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-blocked-list-documentation-linux.png
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-default-documentation-linux.png
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-enabled-documentation-linux.png
  galata/test/documentation/plugins.test.ts-snapshots/plugins-documentation-linux.json
  galata/test/jupyterlab/notebook-markdown.test.ts-snapshots/do-not-highlight-standalone-dollar-jupyterlab-linux.png
  lerna.json
Due: prettier

Backport PR #14664: Fix semantic commands enabled status (#14915)
  galata/test/documentation/debugger.test.ts
  galata/test/documentation/general.test.ts-snapshots/file-formats-html-display-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-jupyterlab-documentation-linux.png
  packages/application-extension/schema/top-bar.json
  packages/apputils-extension/src/index.ts
  packages/apputils/src/toolbar/registry.ts
  packages/cell-toolbar-extension/schema/plugin.json
  packages/csvviewer-extension/schema/csv.json
  packages/csvviewer-extension/schema/tsv.json
  packages/filebrowser-extension/schema/widget.json
  packages/fileeditor-extension/schema/plugin.json
  packages/fileeditor-extension/src/commands.ts
  packages/htmlviewer-extension/schema/plugin.json
  packages/notebook-extension/schema/panel.json
  packages/notebook-extension/src/index.ts
  packages/settingregistry/src/plugin-schema.json
  packages/ui-components/src/components/toolbar.tsx
Due: prettier, eslint

[ci skip] Publish 4.0.4
  .bumpversion.cfg
  CHANGELOG.md
  dev_mode/package.json
  examples/federated/core_package/package.json
  jupyterlab/_version.py
  jupyterlab/staging/package.json
  jupyterlab/staging/yarn.lock
  yarn.lock
Due: prettier

rewrap and fix links
  docs/source/developer/accessibility.rst
Due: none

Added more content.
  docs/source/extension/extension_dual_compatibility.rst
Due: none

Added content.
  docs/source/extension/extension_dual_compatibility.rst
Due: none

Cleanup and formatting.
  docs/source/extension/extension_dual_compatibility.rst
Due: none

Finished draft of the remaining content.
  docs/source/extension/extension_dual_compatibility.rst
  docs/source/extension/provider_consumer_pattern.rst
Due: none

Began linked plugin system doc.
  docs/source/extension/provider_consumer_pattern.rst
Due: none

Renamed plugin system doc.
  docs/source/extension/plugin_system.rst
Due: none

Fix incorrect indentation
  jupyterlab/browser_check.py
Due: none

perf: update error to -0.5 for api compatibility
  packages/notebook/src/toc.ts
  packages/notebook/style/toc.css
Due: prettier, eslint, stylelint

test: update error status to -0.5
  galata/test/jupyterlab/toc-running.test.ts
Due: prettier, eslint

Fix incorrect indentation (#14921)
  jupyterlab/browser_check.py
Due: none

Backport PR #14921: Fix incorrect indentation browser_check.py
  jupyterlab/browser_check.py
Due: none

Apply suggestions from code review
  docs/source/developer/accessibility.rst
Due: none

Update docs/source/developer/accessibility.rst
  docs/source/developer/accessibility.rst
Due: none

more suggestions
  docs/source/developer/accessibility.rst
Due: none

Custom script to upgrade `staging/yarn.lock`
  buildutils/package.json
  buildutils/src/dependency-graph.ts
  buildutils/src/ensure-repo.ts
  buildutils/src/update-core-mode.ts
  buildutils/src/update-staging-lock.ts
  buildutils/src/utils.ts
  buildutils/src/yarnlock.d.ts
  docs/scripts/graph-dependencies.js
  yarn.lock
Due: prettier, eslint

Rename readthedoc config
  .readthedocs.yml
Due: none

Backport PR #14921: Fix incorrect indentation browser_check.py (#14923)
  jupyterlab/browser_check.py
Due: none

Fix yarn lock
  yarn.lock
Due: none

Dedupe the yarn.lock
  yarn.lock
Due: none

Rename readthedoc config (#14927)
  .readthedocs.yml
Due: none

Backport PR #14927: Rename readthedoc config
  .readthedocs.yml
Due: none

Allow opening links in new tabs when HTML is trusted
  packages/htmlviewer/src/widget.tsx
Due: prettier, eslint

Custom script to upgrade `staging/yarn.lock` (#14926)
  buildutils/package.json
  buildutils/src/dependency-graph.ts
  buildutils/src/ensure-repo.ts
  buildutils/src/update-core-mode.ts
  buildutils/src/update-staging-lock.ts
  buildutils/src/utils.ts
  buildutils/src/yarnlock.d.ts
  docs/scripts/graph-dependencies.js
  yarn.lock
Due: prettier, eslint

Backport PR #14926: Custom script to upgrade `staging/yarn.lock`
  buildutils/package.json
  buildutils/src/dependency-graph.ts
  buildutils/src/ensure-repo.ts
  buildutils/src/update-core-mode.ts
  buildutils/src/update-staging-lock.ts
  buildutils/src/utils.ts
  buildutils/src/yarnlock.d.ts
  docs/scripts/graph-dependencies.js
  yarn.lock
Due: prettier, eslint

Fix broken link
  design/about.md
Due: none

Remove docker ignore file
  .dockerignore
Due: none

Backport PR #14927: Rename readthedoc config (#14930)
  .readthedocs.yml
Due: none

Backport PR #14927: Rename readthedoc config (#14931)
  .readthedocs.yml
Due: none

Backport PR #14926: Custom script to upgrade `staging/yarn.lock` (#14935)
  buildutils/package.json
  buildutils/src/dependency-graph.ts
  buildutils/src/ensure-repo.ts
  buildutils/src/update-core-mode.ts
  buildutils/src/update-staging-lock.ts
  buildutils/src/utils.ts
  buildutils/src/yarnlock.d.ts
  docs/scripts/graph-dependencies.js
  yarn.lock
Due: prettier, eslint

Inject style for links when html file is untrusted.
  galata/test/jupyterlab/html-viewer.test.ts
  packages/htmlviewer/src/widget.tsx
Due: prettier, eslint

Better CSS selector & improve styling
  packages/htmlviewer/src/widget.tsx
Due: prettier, eslint
