Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

stylelint:
  name: stylelint
  entry: npm run stylelint:files
  language: node

Fix debugger UI-test with python>=3.12 (#17024)
  .github/workflows/galata.yml
  galata/test/jupyterlab/debugger.test.ts
Due: prettier, eslint

Bump required setuptools to `40.8.0` (#17032)
  pyproject.toml
Due: none

Backport PR #17032: Bump required setuptools to `40.8.0`
  pyproject.toml
Due: none

Backport PR #17032: Bump required setuptools to `40.8.0` (#17033)
  pyproject.toml
Due: none

Fix filebrowser name order
  packages/filebrowser/src/listing.ts
Due: prettier, eslint

bump ruff to target py39
  pyproject.toml
Due: none

run ruff
  docs/source/conf.py
  jupyterlab/commands.py
  jupyterlab/extensions/manager.py
  jupyterlab/extensions/pypi.py
  jupyterlab/extensions/readonly.py
  jupyterlab/handlers/announcements.py
Due: none

Drop Python 3.8
  pyproject.toml
Due: none

Drop Python 3.8 (#17036)
  docs/source/conf.py
  jupyterlab/commands.py
  jupyterlab/extensions/manager.py
  jupyterlab/extensions/pypi.py
  jupyterlab/extensions/readonly.py
  jupyterlab/handlers/announcements.py
  pyproject.toml
Due: none

Treat save as successful if canSave is false
  packages/docregistry/src/context.ts
Due: prettier, eslint

Aborts saving if the file cannot be saved
  packages/docregistry/src/context.ts
Due: prettier, eslint

Revert "Revert "Alternate description for disabled filters""
  packages/documentsearch/src/searchview.tsx
  packages/documentsearch/src/tokens.ts
Due: prettier, eslint

Revert "Alternate description for disabled filters"
  packages/documentsearch/src/searchview.tsx
  packages/documentsearch/src/tokens.ts
Due: prettier, eslint

Emit a "completed" event when saving an unsaveable file
  packages/docregistry/src/context.ts
Due: prettier, eslint

Modifies save check to use collaborative flag
  packages/docregistry/src/context.ts
Due: prettier, eslint

try to get language code from the translator
  packages/filebrowser/src/listing.ts
Due: prettier, eslint

restore bottom httpx version window
  jupyterlab/extensions/pypi.py
  pyproject.toml
Due: none

Update jupyterlab/extensions/pypi.py
  jupyterlab/extensions/pypi.py
Due: none

Fix newline handling in stream outputs
  packages/outputarea/src/model.ts
Due: prettier, eslint

Replace pypi extension manager HTTP client httpx with tornado
  jupyterlab/extensions/pypi.py
  pyproject.toml
Due: none

Change xmlrpc proxied transport to use HTTPS
  jupyterlab/extensions/pypi.py
Due: none

restore bottom httpx version window (#17041)
  jupyterlab/extensions/pypi.py
  pyproject.toml
Due: none

Backport PR #17041: restore bottom httpx version window
  jupyterlab/extensions/pypi.py
  pyproject.toml
Due: none

Abort saving if a file cannot be saved (#16900)
  packages/docregistry/src/context.ts
Due: prettier, eslint

Backport PR #16900: Abort saving if a file cannot be saved
  packages/docregistry/src/context.ts
Due: prettier, eslint

Fix: Reset resizeData after column adjustment to allow file dragging
  packages/filebrowser/src/listing.ts
Due: prettier, eslint

Backport PR #16900: Abort saving if a file cannot be saved (#17046)
  packages/docregistry/src/context.ts
Due: prettier, eslint

Backport PR #17041: restore bottom httpx version window (#17044)
  jupyterlab/extensions/pypi.py
  pyproject.toml
Due: none

Add a test case against the newline issue
  packages/outputarea/test/model.spec.ts
Due: prettier, eslint

Fix: Reset resizeData after column adjustment to allow file dragging (#17047)
  packages/filebrowser/src/listing.ts
Due: prettier, eslint

Backport PR #17047: Reset resizeData after column adjustment to allow file dragging
  packages/filebrowser/src/listing.ts
Due: prettier, eslint

Fix newline handling in stream outputs (#17043)
  packages/outputarea/src/model.ts
  packages/outputarea/test/model.spec.ts
Due: prettier, eslint

Backport PR #17043: Fix newline handling in stream outputs
  packages/outputarea/src/model.ts
  packages/outputarea/test/model.spec.ts
Due: prettier, eslint

Backport PR #17047: Reset resizeData after column adjustment to allow file dragging (#17048)
  packages/filebrowser/src/listing.ts
Due: prettier, eslint

Refactor sorting logic, extract localeCompare to compareByName function
  packages/filebrowser/src/listing.ts
Due: prettier, eslint

Backport PR #17043: Fix newline handling in stream outputs (#17049)
  packages/outputarea/src/model.ts
  packages/outputarea/test/model.spec.ts
Due: prettier, eslint

Move `@jupyterlab/debugger` icons to `@jupyterlab/ui-components` (#16745)
  docs/source/extension/extension_migration.rst
  packages/debugger/package.json
  packages/debugger/src/debugger.ts
  packages/debugger/src/icons.ts
  packages/debugger/src/panels/breakpoints/index.ts
  packages/debugger/src/panels/kernelSources/body.tsx
  packages/debugger/src/panels/sources/index.tsx
  packages/debugger/style/base.css
  packages/debugger/style/icons/close-all.svg
  packages/debugger/style/icons/exceptions.svg
  packages/debugger/style/icons/open-kernel-source.svg
  packages/debugger/style/icons/pause.svg
  packages/debugger/style/icons/step-into.svg
  packages/debugger/style/icons/step-out.svg
  packages/debugger/style/icons/step-over.svg
  packages/debugger/style/icons/variable.svg
  packages/debugger/style/icons/view-breakpoint.svg
  packages/debugger/style/variables.css
  packages/ui-components/src/icon/iconimports.ts
  packages/ui-components/style/deprecated.css
  packages/ui-components/style/icons/debugger/close-all.svg
  packages/ui-components/style/icons/debugger/exceptions.svg
  packages/ui-components/style/icons/debugger/open-kernel-source.svg
  packages/ui-components/style/icons/debugger/pause.svg
  packages/ui-components/style/icons/debugger/step-into.svg
  packages/ui-components/style/icons/debugger/step-out.svg
  packages/ui-components/style/icons/debugger/step-over.svg
  packages/ui-components/style/icons/debugger/variable.svg
  packages/ui-components/style/icons/debugger/view-breakpoint.svg
  packages/ui-components/style/unused/activate-breakpoints.svg
  packages/ui-components/style/unused/arrow-collapse.svg
  packages/ui-components/style/unused/arrow-expand.svg
  packages/ui-components/style/unused/class.svg
  packages/ui-components/style/unused/enumerator.svg
Due: prettier, eslint, stylelint

Try to fix tests
  packages/filebrowser/src/listing.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$, but not: \.ipynb$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
