Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # skip any check that needs internet access
  skip: [check-jsonschema, prettier, eslint, stylelint, integrity]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: .bumpversion.cfg

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: ["--line-length", "100"]

  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
        files: \.py$
        args: [--profile=black]

  # - repo: https://github.com/pycqa/flake8
  #   rev: 4.0.1
  #   hooks:
  #     - id: flake8
  #       additional_dependencies:
  #         [
  #           "flake8-bugbear==20.1.4",
  #           "flake8-logging-format==0.6.0",
  #           "flake8-implicit-str-concat==0.2.0",
  #         ]

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.10.2
    hooks:
      - id: check-jsonschema
        name: 'Check GitHub Workflows'
        files: ^\.github/workflows/
        types: [yaml]
        args: ['--schemafile', 'https://json.schemastore.org/github-workflow']

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, markdown, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'npm run stylelint:files'
        language: node
        types: [css]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [push]

Backport PR #12411 on branch 3.4.x (Uses dark theme for Vega when JupyterLab theme is dark) (#12450)
  galata/test/jupyterlab/notebook-run-vega.test.ts
  galata/test/jupyterlab/notebook-run-vega.test.ts-snapshots/run-cells-dark-vega-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-run-vega.test.ts-snapshots/run-cells-vega-jupyterlab-linux.png
  galata/test/jupyterlab/notebooks/vega_notebook.ipynb
  packages/vega5-extension/src/index.ts
Due: prettier, eslint

Backport PR #12464: Signal should only export ISignal publicly
  packages/cells/src/widget.ts
Due: prettier, eslint

Backport PR #12454: Check if process is declared before optional chaining in makeSettings
  packages/services/src/serverconnection.ts
Due: prettier, eslint

Restore wrongly removed line when cherry-picking
  packages/cells/src/widget.ts
Due: prettier, eslint

Backport PR #12468: Display default value in setting editor for changed values
  packages/settingeditor/src/SettingsFormEditor.tsx
  packages/settingeditor/style/base.css
Due: prettier, eslint, stylelint

Update copyright date to 2022
  packages/help-extension/src/index.tsx
Due: prettier, eslint

Backport PR #12454: Check if process is declared before optional chaining in makeSettings (#12472)
  packages/services/src/serverconnection.ts
Due: prettier, eslint

Backport PR #12468: Display default value in setting editor for changed values (#12473)
  packages/settingeditor/src/SettingsFormEditor.tsx
  packages/settingeditor/style/base.css
Due: prettier, eslint, stylelint

Backport PR #12464: Signal should only export ISignal publicly (#12471)
  packages/cells/src/widget.ts
Due: prettier, eslint

Update copyright date to 2022 (#12474)
  packages/help-extension/src/index.tsx
Due: prettier, eslint

Backport PR #12474: Update copyright date to 2022 in the about dialog
  packages/help-extension/src/index.tsx
Due: prettier, eslint

Automated Changelog Entry for 3.4.0b0 on 3.4.x
  CHANGELOG.md
Due: prettier

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier

Automated Changelog Entry for 3.4.0b0 on 3.4.x (#12476)
  CHANGELOG.md
Due: prettier

[ci skip] Publish 3.4.0b0
  .bumpversion.cfg
  dev_mode/package.json
  jupyterlab/_version.py
  jupyterlab/staging/package.json
  jupyterlab/staging/yarn.lock
Due: prettier

Automated Changelog Entry Forward Ported from v3.4.0b0
  CHANGELOG.md
Due: prettier

Automated Changelog Entry Forward Ported from v3.4.0b0 (#12477)
  CHANGELOG.md
Due: prettier

Integrity updates
  packages/comments/style/index.css
  packages/comments/style/index.js
Due: prettier, eslint, stylelint

Separate out filter code to fix bug
  packages/settingeditor/src/pluginlist.tsx
  packages/settingeditor/src/settingseditor.tsx
  packages/settingeditor/src/settingspanel.tsx
  packages/ui-components/src/components/search.tsx
  tsconfigdoc.json
Due: prettier, eslint

Remove translation on non-constant string
  packages/settingeditor-extension/src/index.ts
Due: prettier, eslint

add translator support
  packages/fileeditor-extension/src/commands.ts
  packages/fileeditor-extension/src/index.ts
Due: prettier, eslint

Add test
  galata/test/jupyterlab/settings.test.ts
Due: prettier, eslint

Remove test case
  packages/settingeditor-extension/src/index.ts
Due: prettier, eslint

Backport PR #12474: Update copyright date to 2022 in the about dialog (#12475)
  packages/help-extension/src/index.tsx
Due: prettier, eslint

Only show duplicate LabIcon in debug mode
  packages/ui-components/src/icon/labicon.tsx
Due: prettier, eslint

Add restoration support for code viewer
  packages/codeeditor/src/viewer.ts
  packages/fileeditor-extension/src/commands.ts
  packages/fileeditor-extension/src/index.ts
Due: prettier, eslint

create a code viewer from a model
  packages/codeeditor/src/viewer.ts
  packages/fileeditor-extension/src/commands.ts
  packages/fileeditor-extension/src/index.ts
Due: prettier, eslint

Only show duplicate LabIcon in debug mode (#12480)
  packages/ui-components/src/icon/labicon.tsx
Due: prettier, eslint

Backport PR #12480: Only show duplicate LabIcon warning in debug mode
  packages/ui-components/src/icon/labicon.tsx
Due: prettier, eslint

Clear breakpoints when disposing an editor
  packages/debugger-extension/src/index.ts
  packages/debugger/src/handlers/editor.ts
Due: prettier, eslint

Refactor search providers
  packages/codemirror/src/index.ts
  packages/codemirror/src/searchprovider.ts
  packages/codemirror/style/index.css
  packages/codemirror/style/index.js
  packages/codemirror/tsconfig.json
  packages/codemirror/tsconfig.test.json
  packages/csvviewer-extension/style/index.css
  packages/csvviewer-extension/style/index.js
  packages/documentsearch-extension/src/index.ts
  packages/documentsearch-extension/style/index.css
  packages/documentsearch-extension/style/index.js
  packages/documentsearch/package.json
  packages/documentsearch/src/genericsearchprovider.ts
  packages/documentsearch/src/index.ts
  packages/documentsearch/src/searchinstance.ts
  packages/documentsearch/tsconfig.json
  packages/documentsearch/tsconfig.test.json
  packages/fileeditor-extension/src/index.ts
  packages/fileeditor-extension/style/index.css
  packages/fileeditor-extension/style/index.js
  packages/fileeditor-extension/tsconfig.json
  packages/fileeditor/src/index.ts
  packages/fileeditor/src/searchprovider.ts
  packages/fileeditor/style/index.css
  packages/fileeditor/style/index.js
  packages/fileeditor/tsconfig.json
  packages/fileeditor/tsconfig.test.json
  packages/notebook-extension/src/index.ts
  packages/notebook-extension/style/index.css
  packages/notebook-extension/style/index.js
  packages/notebook-extension/tsconfig.json
  packages/notebook/package.json
  packages/notebook/src/index.ts
  packages/notebook/src/searchprovider.ts
  packages/notebook/style/index.css
  packages/notebook/style/index.js
  packages/notebook/tsconfig.json
  packages/notebook/tsconfig.test.json
Due: prettier, eslint, stylelint

Fix linter
  packages/debugger/src/handlers/editor.ts
Due: prettier, eslint

Add new mimetype search registry
  packages/documentsearch/src/interfaces.ts
  packages/documentsearch/src/searchproviderregistry.ts
  packages/documentsearch/src/tokens.ts
Due: prettier, eslint

Support generic boolean filters
  packages/documentsearch-extension/src/index.ts
  packages/documentsearch/src/genericsearchprovider.ts
  packages/documentsearch/src/interfaces.ts
  packages/documentsearch/src/searchinstance.ts
  packages/documentsearch/src/searchoverlay.tsx
  packages/documentsearch/src/searchproviderregistry.ts
  packages/notebook/src/searchprovider.ts
Due: prettier, eslint

Separate search engine from provider
  packages/codemirror/src/searchprovider.ts
  packages/documentsearch/src/index.ts
  packages/documentsearch/src/interfaces.ts
  packages/documentsearch/src/providers/genericsearchprovider.ts
  packages/documentsearch/src/providers/textprovider.ts
  packages/documentsearch/src/searchproviderregistry.ts
  packages/documentsearch/src/tokens.ts
  packages/fileeditor/src/searchprovider.ts
  packages/notebook/src/searchprovider.ts
Due: prettier, eslint

Simplify the API
  packages/csvviewer-extension/src/searchprovider.ts
  packages/documentsearch/src/interfaces.ts
  packages/documentsearch/src/providers/genericsearchprovider.ts
  packages/fileeditor/src/searchprovider.ts
  packages/notebook/src/searchprovider.ts
Due: prettier, eslint

Add helper CodeMirrorSearchHighlighter
  packages/codemirror/src/searchprovider.ts
Due: prettier, eslint

Switch `matches` getter for `matchesSize`
  packages/codemirror/src/searchprovider.ts
  packages/csvviewer-extension/src/searchprovider.ts
  packages/documentsearch/src/interfaces.ts
  packages/documentsearch/src/providers/genericsearchprovider.ts
  packages/documentsearch/src/searchinstance.ts
  packages/notebook/src/searchprovider.ts
Due: prettier, eslint

More `documentsearch` refactoring
  packages/documentsearch/src/index.ts
  packages/documentsearch/src/interfaces.ts
  packages/documentsearch/src/providers/genericsearchprovider.ts
  packages/documentsearch/src/providers/textprovider.ts
  packages/documentsearch/src/searchinstance.ts
  packages/documentsearch/src/searchoverlay.tsx
  packages/documentsearch/src/searchproviderregistry.ts
  packages/documentsearch/src/tokens.ts
Due: prettier, eslint
