Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

stylelint:
  name: stylelint
  entry: npm run stylelint:files
  language: node

Update contributing.rst
  docs/source/developer/contributing.rst
Due: none

Update extension_tutorial.rst
  docs/source/extension/extension_tutorial.rst
Due: none

Update contributing.rst for Windows users
  docs/source/developer/contributing.rst
Due: none

Added intelligent find plugin docs/browser find notes.
  docs/source/user/interface.rst
Due: none

change implementation exception to warning
  packages/application/src/shell.ts
Due: prettier, eslint

Update contributing.rst for Windows users (#14666)
  docs/source/developer/contributing.rst
Due: none

Update packages/application/src/shell.ts
  packages/application/src/shell.ts
Due: prettier, eslint

Fix copier command in documentation
  RELEASE.md
  docs/source/extension/extension_migration.rst
  docs/source/extension/extension_tutorial.rst
  docs/source/extension/notebook.rst
Due: none

relock, lint
  packages/markedparser-extension/package.json
  yarn.lock
Due: prettier

Notebook docs parity for capitalization.
  docs/source/user/interface.rst
Due: none

Update docs/source/user/interface.rst
  docs/source/user/interface.rst
Due: none

Changed wording for find plugin, moved some content lower down to improve readability.
  docs/source/user/interface.rst
Due: none

Fix capitalization to match Notebook docs section for this.
  docs/source/user/interface.rst
Due: none

Changed wording.
  docs/source/user/interface.rst
Due: none

Backport PR #14579: Avoid clearing the host node while rendering Markdown
  packages/rendermime/src/widgets.ts
Due: prettier, eslint

Fix copier command in documentation (#14671)
  RELEASE.md
  docs/source/extension/extension_migration.rst
  docs/source/extension/extension_tutorial.rst
  docs/source/extension/notebook.rst
Due: none

add dedicated warning classes for style lint
  packages/markedparser-extension/src/index.ts
  packages/markedparser-extension/style/base.css
Due: prettier, eslint, stylelint

WIP, placeholder
  docs/source/getting_started/installation.rst
Due: none

Add specific section for configuring Binder
  docs/source/user/announcements.rst
  docs/source/user/binder.rst
Due: none

Update the compat message
  jupyterlab/commands.py
Due: none

Add title caption for the markdown preview widget
  packages/markdownviewer/src/widget.ts
Due: prettier, eslint

Use localized label
  packages/markdownviewer/src/widget.ts
Due: prettier, eslint

Include the new file in the toc
  docs/source/developer/contributing.rst
  docs/source/user/index.md
Due: none

Add keyboard shortcut formatting/extra info.
  docs/source/user/interface.rst
Due: none

Revise formatting for find function.
  docs/source/user/interface.rst
Due: none

Document more features for JupyterLab on Binder (#14677)
  docs/source/developer/contributing.rst
  docs/source/user/announcements.rst
  docs/source/user/binder.rst
  docs/source/user/index.md
Due: none

Update the compat message (#14680)
  jupyterlab/commands.py
Due: none

Add a title to the Markdown Preview widget (#14681)
  packages/markdownviewer/src/widget.ts
Due: prettier, eslint

Set out expectations for `good first issue` label
  docs/source/developer/contributing.rst
Due: none

Simplify Gitpod command to start JupyterLab
  .gitpod.yml
Due: none

fix: case 2 of kernel selector incoherence as described in #14692
  packages/apputils/src/sessioncontext.tsx
Due: prettier, eslint

lint
  packages/apputils/src/sessioncontext.tsx
Due: prettier, eslint

Backport PR #14579: Avoid clearing the host node while rendering Markdown (#14674)
  packages/rendermime/src/widgets.ts
Due: prettier, eslint

Update branch
  .github/pull_request_template.md
  .github/workflows/check-release.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/linuxjs-tests.yml
  .github/workflows/linuxtests.yml
  .github/workflows/macostests.yml
  .github/workflows/windowstests.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  RELEASE.md
  buildutils/src/ensure-repo.ts
  docs/source/conf.py
  docs/source/developer/components.rst
  docs/source/developer/contributing.rst
  docs/source/developer/css.rst
  docs/source/developer/repo.rst
  docs/source/extension/extension_dev.rst
  docs/source/extension/extension_migration.rst
  docs/source/extension/extension_tutorial.rst
  docs/source/extension/internationalization.rst
  docs/source/getting_started/faq.rst
  docs/source/getting_started/overview.rst
  docs/source/index.rst
  docs/source/user/index.md
  galata/README.md
  packages/apputils-extension/src/announcements.ts
  packages/extensionmanager/src/widget.tsx
  packages/help-extension/src/index.tsx
  packages/javascript-extension/README.md
  packages/json-extension/README.md
  packages/services/README.md
  packages/ui-components/docs/source/intro.rst
  packages/ui-components/docs/source/labicon.rst
  packages/vega5-extension/README.md
Due: prettier, eslint

Update docs/source/developer/contributing.rst
  docs/source/developer/contributing.rst
Due: none

Simplify Gitpod command to start JupyterLab (#14690)
  .gitpod.yml
Due: none

Update branch (#14694)
  .github/pull_request_template.md
  .github/workflows/check-release.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/linuxjs-tests.yml
  .github/workflows/linuxtests.yml
  .github/workflows/macostests.yml
  .github/workflows/windowstests.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  RELEASE.md
  buildutils/src/ensure-repo.ts
  docs/source/conf.py
  docs/source/developer/components.rst
  docs/source/developer/contributing.rst
  docs/source/developer/css.rst
  docs/source/developer/repo.rst
  docs/source/extension/extension_dev.rst
  docs/source/extension/extension_migration.rst
  docs/source/extension/extension_tutorial.rst
  docs/source/extension/internationalization.rst
  docs/source/getting_started/faq.rst
  docs/source/getting_started/overview.rst
  docs/source/index.rst
  docs/source/user/index.md
  galata/README.md
  packages/apputils-extension/src/announcements.ts
  packages/extensionmanager/src/widget.tsx
  packages/help-extension/src/index.tsx
  packages/javascript-extension/README.md
  packages/json-extension/README.md
  packages/services/README.md
  packages/ui-components/docs/source/intro.rst
  packages/ui-components/docs/source/labicon.rst
  packages/vega5-extension/README.md
Due: prettier, eslint

Ensure documentation switcher data always points to the latest JSON.
  docs/source/conf.py
Due: none

Unsure not breaking backward compatibility
  buildutils/src/ensure-package.ts
  buildutils/src/ensure-repo.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
